{
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.less",
      "options": {
        "singleQuote": true,
        "printWidth": 120
      }
    },
    {
      "files": "*.php",
      "options": {
        "useTabs": true,
        "printWidth": 140,
        "singleQuote": true,
        "bracketSpacing": true,
        "braceStyle": "1tbs"
      }
    }
  ]
}
