{
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.less",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": true,
        "useTabs": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
