.skin-tgui {
  .CodeMirror {
    &-gutters {
      background-color: var(--color-second-fill);
      border-color: var(--color-border);
    }
  }

  .cm {
    &-mw {
      &-matchingbracket {
        background-color: var(--color-bg-focus);
        box-shadow: inset 0 0 1px 1px var(--color-border);
      }

      &-pagename {
        text-decoration: none;
      }

      // Links
      &-link,
      &-link-tosection,
      &-link-pagename,
      &-link-bracket,
      &-link-delimiter,
      &-extlink,
      &-free-extlink,
      &-extlink-protocol,
      &-free-extlink-protocol,
      &-extlink-bracket {
        color: var(--color-syntax-link) !important;
      }

      // HTML
      &-exttag-name,
      &-htmltag-name,
      &-html-entity,
      &-mnemonic {
        color: var(--color-syntax-red);
      }

      &-exttag-attribute,
      &-htmltag-attribute {
        color: var(--color-syntax-violet);
      }

      &-exttag-bracket,
      &-htmltag-bracket {
        color: ~'hsl(from var(--color-syntax-red) calc(h - 15) s calc(l - 20))';
      }

      &-comment {
        color: var(--color-syntax-grey);
      }

      // Templates
      &-template {
        color: var(--color-text) !important;

        &-name,
        &-argument-name {
          color: var(--color-syntax-brown) !important;
        }

        &-bracket,
        &-delimiter {
          color: ~'hsl(from var(--color-syntax-brown) h s calc(l - 15))' !important;
        }

        &variable {
          color: var(--color-syntax-orange) !important;

          &-name {
            color: var(--color-syntax-orange) !important;
          }

          &-bracket,
          &-delimiter {
            color: ~'hsl(from var(--color-syntax-orange) h s calc(l + 15))' !important;
          }
        }
      }

      // ParserFunctions
      &-parserfunction {
        &-name {
          color: var(--color-syntax-pink);
        }

        &-bracket,
        &-delimiter {
          color: ~'hsl(from var(--color-syntax-pink) h s calc(l - 15))';
        }
      }

      // Tables
      &-table {
        &-definition {
          color: var(--color-syntax-violet) !important;
        }

        &-bracket {
          color: ~'hsl(from var(--color-syntax-yellow) h s calc(l - 15))' !important;
        }

        &-delimiter {
          color: var(--color-syntax-yellow) !important;
        }
      }

      // WikiText
      &-list,
      &-indenting,
      &-apostrophes-bold,
      &-apostrophes-italic,
      &-section-header {
        color: var(--color-syntax-olive) !important;
      }

      // Other
      &-skipformatting {
        background-color: var(--color-primary) !important;
      }

      &-doubleUnderscore,
      &-double-underscore,
      &-signature,
      &-hr {
        background-color: var(--color-second) !important;
        color: var(--color-syntax-blue) !important;
        border: var(--border-classic);
      }
    }
  }

  .wikiEditor-ui {
    .CodeMirror {
      padding: 0;
    }
  }
}
