.skin-tgui {
  .CodeMirror {
    &-gutters {
      background-color: var(--color-second-fill);
      border-color: var(--color-border);
    }
  }

  .cm {
    &-mw {
      &-matchingbracket {
        background-color: var(--color-bg-focus);
        box-shadow: inset 0 0 1px 1px var(--color-border);
      }

      &-pagename {
        text-decoration: none;
      }

      // Links
      &-link,
      &-link-tosection,
      &-link-pagename,
      &-link-bracket,
      &-link-delimiter,
      &-extlink,
      &-free-extlink,
      &-extlink-protocol,
      &-free-extlink-protocol,
      &-extlink-bracket {
        color: var(--color-syntax-link) !important;
      }

      // HTML
      &-exttag-name,
      &-htmltag-name,
      &-html-entity,
      &-mnemonic {
        color: var(--color-syntax-red);
      }

      &-exttag-attribute,
      &-htmltag-attribute {
        color: var(--color-syntax-violet-light);
      }

      &-exttag-bracket,
      &-htmltag-bracket {
        color: var(--color-syntax-pink);
      }

      &-comment {
        color: var(--color-syntax-grey);
      }

      // Templates
      &-template {
        color: var(--color-text) !important;

        &-name {
          color: var(--color-syntax-brown) !important;
        }

        &-argument-name {
          color: var(--color-syntax-brown-light) !important;
        }

        &-bracket,
        &-delimiter {
          color: var(--color-syntax-brown-dark) !important;
        }
      }

      // ParserFunctions
      &-parserfunction-name {
        color: var(--color-syntax-pink);
      }

      &-parserfunction-bracket {
        color: var(--color-syntax-pink-light);
      }

      &-parserfunction-delimiter {
        color: var(--color-syntax-pink-dark);
      }

      // Tables
      &-table-definition {
        color: var(--color-syntax-orange-light) !important;
      }

      &-table-delimiter {
        color: var(--color-syntax-orange-dark) !important;
      }

      &-table-bracket {
        color: var(--color-syntax-rusty) !important;
      }

      // WikiText
      &-list,
      &-indenting,
      &-apostrophes-bold,
      &-apostrophes-italic,
      &-section-header {
        color: var(--color-syntax-olive) !important;
      }

      // Other
      &-skipformatting {
        background-color: var(--color-primary) !important;
      }

      &-doubleUnderscore,
      &-double-underscore,
      &-signature,
      &-hr {
        background-color: var(--color-second) !important;
        color: var(--color-secondary) !important;
        border: var(--border-classic);
      }
    }
  }

  .wikiEditor-ui {
    .CodeMirror {
      padding: 0;
    }
  }
}
