/**
 * TGUI
 *
 * SkinStyles for Extension:ReplaceText
 * Module: ext.ReplaceTextStyles
 * Version: REL1_43
 *
 * Date: 13-05-2025
 */

.skin-tgui {
  .ext-replacetext-searchoptions {
    background-color: transparent;
    margin: 0.75rem 0;

    .ext-replacetext-divider {
      border: none;
      padding: 0;
      margin: 0;
    }

    .tgui-table-wrapper {
      display: contents;

      table {
        border: none;
      }
    }
  }
}
