{{!
 See @typedef SearchData
}}
<div{{#is-primary}} id="p-search"{{/is-primary}} role="search" class="{{class}} tgui-search-box">
	{{#is-collapsible}}
	{{#data-collapse-icon}}
	{{>Button}}
	{{/data-collapse-icon}}
	{{/is-collapsible}}
	{{#is-legacy}}
		<h3 {{{html-user-language-attributes}}}>
			<label{{#is-primary}} for="searchInput"{{/is-primary}}>{{msg-search}}</label>
		</h3>
	{{/is-legacy}}
	<form action="{{form-action}}" id="{{form-id}}"
		class="tgui-search-box-form">
		<div {{#is-primary}}id="simpleSearch"{{/is-primary}}
			class="tgui-search-box-inner"
			{{#input-location}} data-search-loc="{{.}}"{{/input-location}}>
			<input class="tgui-search-box-input"
				{{#is-primary}}{{{html-input-attributes}}} id="searchInput"{{/is-primary}}
				{{^is-primary}}
				type="search" name="search"
				placeholder="{{msg-searchsuggest-search}}"
				{{/is-primary}}
			>
			<input type="hidden" name="title" value="{{page-title}}">
			<input{{#is-primary}} id="mw-searchButton"{{/is-primary}}
				{{{html-button-fulltext-attributes}}} value="{{msg-searchbutton}}">
			<input{{#is-primary}} id="searchButton"{{/is-primary}}
				{{{html-button-go-attributes}}} value="{{msg-searcharticle}}">
		</div>
	</form>
</div>
