<div class="tgui-user-menu-create-account">{{{htmlCreateAccount}}}</div>
<div class="tgui-user-menu-login">{{{htmlLogin}}}</div>
{{#data-anon-editor}}
<div class="tgui-user-menu-anon-editor">
	<p class="mw-message-box mw-message-box-warning">
		{{{msgLearnMore}}} </br> {{{htmlLearnMoreLink}}}
	</p>
</div>
{{/data-anon-editor}}
