@import '../mixins.less';

.skin-tgui {
  .mw-rcfilters-ui-changesListWrapperWidget a {
    word-break: break-word;
  }

  .mw-changeslist table {
    margin-left: 0 !important;
    background-color: transparent;
  }

  .mw-enhancedchanges-arrow {
    position: relative;
    mask-image: none !important;
    -webkit-mask-image: none !important;
    background-color: transparent !important;
    outline: none !important;

    &:before {
      content: '\f0dd';
      font: var(--fa-font-solid);
      position: absolute;
      inset: 0;
      text-align: center;
      color: var(--color-text);
    }
  }

  .mw-enhanced-rc {
    padding-left: 0.5em !important;
  }

  #pagehistory {
    margin-top: 0.75rem;

    ul {
      margin: 0;

      li {
        padding: 0.1rem 0.2rem;
        margin-block: 0.25rem;
        border: var(--border-classic);
        border-color: transparent;

        &::marker {
          content: none;
        }

        &.selected {
          outline: 0;
          background-color: var(--color-second-fill);
          color: var(--color-text);
          border-color: var(--color-border);
          border-radius: var(--border-radius-small);
        }

        .mw-changeslist-links {
          vertical-align: middle;
        }

        .mw-history-histlinks {
          display: inline-flex;
          gap: 0.15rem;

          span:before,
          &:before,
          &:after {
            display: none;
          }

          &-current,
          &-previous {
            display: inline-flex;
            padding: 0 0.33rem;
          }
        }

        a.mw-history-histlinks-current,
        a.mw-history-histlinks-previous {
          .tgui-button();
        }

        span.mw-history-histlinks-current,
        span.mw-history-histlinks-previous {
          .tgui-button(@disabled: true);
        }
      }
    }

    [type='checkbox'],
    [type='radio'] {
      margin: 0 0.25em;
      vertical-align: middle;
    }
  }

  .diff-addedline,
  .diff-deletedline,
  .diff-context {
    border-width: 1px 4px 1px 4px;
    border-radius: var(--border-radius-small);
  }

  .diff-context {
    background: var(--color-second);
    color: var(--color-text-darker);
    border-color: var(--color-border);
  }

  .diff-addedline {
    border-color: var(--color-green);

    .diffchange {
      padding: 0.25em;
      background: var(--color-green);
      color: var(--color-white);
      border-radius: var(--border-radius-small);
    }
  }

  .diff-deletedline {
    border-color: var(--color-red);

    .diffchange {
      padding: 0.25em;
      background: var(--color-red);
      color: var(--color-white);
      border-radius: var(--border-radius-small);
    }
  }
}

.mw-changeslist-legend {
  padding: 0.5em 0.75em;
  background-color: var(--color-second-fill) !important;
  color: var(--color-text-darker);
  border: var(--border-classic) !important;
  border-radius: var(--border-radius-small);
}

.unpatrolled,
.mw-plusminus-neg {
  color: var(--color-red);
}

.mw-plusminus-pos {
  color: var(--color-green);
}

.hlist ul {
  display: flex;
  justify-content: center;
  gap: 0.5em;

  & li {
    display: block;
    padding: 0 0.5em;
    .tgui-button();
  }
}
