/**
 * Vue search input, customised style special for TGUI
 * There are only overrides, cause unreal make it nice
 */

.client-js .tgui-search-box {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 0.875em;

  > div {
    max-width: 66%;
    flex-grow: 1;

    @media (max-width: @max-width-mobile) {
      max-width: 100%;
      margin: 0 0.75em;
    }

    div form {
      display: flex;

      .cdx-search-input__input-wrapper {
        width: 100%;
      }
    }
  }

  /* Disable all strange, non-sense shit */
  .cdx-search-input {
    width: 100%;
    background-color: unset;
    color: unset;
    border: unset;
    border-radius: unset;
  }

  .cdx-typeahead-search--expanded .cdx-search-input__input-wrapper .cdx-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    @media (max-width: @max-width-mobile) {
      transition-property: backdrop-filter, transform, opacity, visibility;
      transition-duration: var(--transition-time);
    }
  }

  .cdx-search-input__input-wrapper {
    margin: 0;

    .cdx-text-input--has-start-icon {
      position: relative;
      box-sizing: border-box;
    }

    .cdx-menu {
      display: block !important;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      box-shadow: var(--box-shadow-medium);
      background-color: var(--color-base-blur);
      border: var(--border-classic);
      border-top: 0;
      border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
      backdrop-filter: var(--blur-default);
      transform: translateY(-1em);
      transition-property: backdrop-filter, transform, opacity, visibility;
      transition-duration: var(--transition-time);
      z-index: var(--index-low);

      @media (max-width: @max-width-mobile) {
        transition: none;
      }

      .cdx-menu-item {
        margin: 0.5em;
        background-color: var(--color-second);
        border-radius: var(--border-radius-medium);

        &:hover {
          background-color: var(--color-bg-hover);
        }

        &:last-child {
          margin: 0;
          background-color: transparent;
          border-radius: 0;
        }

        &__content {
          padding: 0.5em;
          color: var(--color-text-darker);

          &:hover {
            color: var(--color-text) !important;
          }

          .cdx-menu-item__thumbnail .cdx-thumbnail {
            &__placeholder {
              background-color: var(--color-second);
              border: 1px solid transparent;
              border-radius: var(--border-radius-small);

              .cdx-thumbnail__placeholder__icon {
                color: var(--color-primary);
              }
            }

            &__image {
              overflow: hidden;
              image-rendering: pixelated;
              background-color: var(--color-second);
              border: 1px solid transparent;
              border-radius: var(--border-radius-small);
            }
          }
        }

        .cdx-typeahead-search__search-footer {
          padding: 0.5em 1em;
          color: var(--color-text-gray);
          border: 0;
          transition: background-color var(--transition-time);

          &:hover {
            background-color: var(--color-second);
          }
        }
      }
    }

    .cdx-text-input {
      .cdx-text-input__input {
        font-size: inherit;
        padding: 0 0.5em 0 2.25rem;

        &:enabled {
          width: 100%;
          height: 2rem;
          background-color: var(--color-second);
          color: var(--color-text);
          border: var(--border-classic);
          border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
          transition: all var(--transition-time);

          @media (max-width: @max-width-mobile) {
            border-radius: var(--border-radius-small);
          }

          .mixin-placeholder( {
			  color: var(--color-text-translucent);
			  opacity: 0.67;
			} );

          &:hover {
            border: var(--border-classic-input);
          }

          &:focus {
            outline: 0;
            padding: 0 0.5em 0 4.5rem;
            border: 1px solid var(--color-border-input-focus);
            box-shadow: inset 0 0 0.1rem 0 var(--color-border-input-focus) !important;

            ~ span {
              opacity: 0.75;
              transform: translate(50%, -50%);
            }
          }
        }
      }
    }

    .cdx-text-input__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 50%;
      width: 2.25rem;
      height: 1.25rem;
      opacity: 0.5;
      transform: translateY(-50%);
      transition:
        transform var(--transition-time),
        opacity var(--transition-time);

      &:before {
        content: '\f002';
        font: var(--fa-font-solid);
        font-size: 1.05rem;
        color: var(--color-text-darker);
      }

      svg {
        display: none;
      }
    }
  }

  .cdx-button {
    cursor: pointer;
    font-size: inherit;
    font-weight: 700;
    margin: 0;
    padding: 0 1em;
    min-height: 2rem;
    max-width: 448px;
    background-color: var(--color-second);
    color: var(--color-text-darker) !important;
    border-width: 1px 1px 1px 0 !important;
    border-style: solid;
    border-color: var(--color-border) !important;
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
    outline: 0 !important;
    box-shadow: none !important;
    transition:
      background-color var(--transition-time),
      color var(--transition-time);

    &:hover {
      background-color: var(--color-bg-hover);
      color: var(--color-text) !important;
    }

    &:focus {
      background-color: var(--color-bg-focus);
      color: var(--color-text) !important;
    }

    @media (max-width: @max-width-mobile) {
      display: none !important;
    }
  }

  .cdx-typeahead-search__menu-message,
  .cdx-typeahead-search__search-footer {
    color: var(--color-text-darker);
  }

  .cdx-menu__progress-bar {
    top: unset;
    bottom: 0;
    border-radius: var(--border-radius-medium);

    div {
      background-color: var(--color-primary);
      animation-timing-function: cubic-bezier(0, -0.5, 1, 1.5);
    }
  }
}

@media (max-width: @max-width-mobile) {
  .client-js .tgui-search-box-vue {
    .cdx-button {
      display: none;
    }
  }
}
