@import '../mixins.less';

form:not(.oo-ui-formLayout) {
  fieldset {
    border: 2px solid var(--color-primary);
    border-radius: var(--border-radius-medium);

    legend {
      position: relative;
      margin-bottom: 0.75rem;
      padding: 0.25em 0.66em;
      color: var(--color-white);

      &:before {
        .absolute-fill();
        border: 2px solid var(--color-primary);
        border-radius: var(--border-radius-medium);
        mask-image: linear-gradient(to top, black ~'calc(50% + 1px)', transparent 50%);
        z-index: 1;
      }
    }

    table {
      border-radius: var(--border-radius-medium);
      padding: 0.5em 0.5em 0;
      border: 1px solid var(--color-border);
    }

    p {
      margin: 1em 0 0 0 !important;

      a {
        .tgui-button();
        padding: 0.2em 0.5em;
      }
    }
  }
}
