/* Button Icons */
.oo-ui-buttonElement.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator,
.oo-ui-buttonElement-framed.oo-ui-iconElement
  > .oo-ui-buttonElement-button
  > .oo-ui-iconElement-icon {
  filter: var(--invert-button-icon);
}

.oo-ui-buttonElement-frameless.oo-ui-iconElement
  > .oo-ui-buttonElement-button
  > .oo-ui-iconElement-icon {
  filter: var(--invert-icon);
}

.oo-ui-icon-checkAll {
  background-image: url(../skins.tgui.styles/images/check-double.svg) !important;
}

.oo-ui-icon-highlight {
  background-image: url(../skins.tgui.styles/images/highlighter.svg) !important;
}

.oo-ui-icon-play {
  background-image: url(../skins.tgui.styles/images/play.svg) !important;
  transform: scale(0.8) !important;
}

.oo-ui-icon-stop {
  background-image: url(../skins.tgui.styles/images/stop.svg) !important;
  transform: scale(0.8) !important;
}

/* Input Icons */
.oo-ui-textInputWidget.oo-ui-iconElement > .oo-ui-iconElement-icon {
  filter: var(--invert-icon);
}

/* Dropdown Icons */
.oo-ui-dropdownWidget-handle .oo-ui-indicatorElement-indicator {
  filter: var(--invert-button-icon);
}

/* Common UI Icons */
.oo-ui-icon-collapse {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  transform: translate(10px, 10px);
  filter: var(--invert-icon);
}

.oo-ui-icon-expand {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  transform: translate(10px, 10px) rotate(-90deg);
  filter: var(--invert-icon);
}

.oo-ui-popupWidget-head > .oo-ui-iconElement-icon,
.oo-ui-decoratedOptionWidget .oo-ui-iconElement-icon {
  filter: var(--invert-icon);
}
