.disable-borders() {
  border: 0;
  box-shadow: none;
  outline: none;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive
  > .oo-ui-buttonElement-button {
  .disable-borders();
  background-color: var(--color-primary);
  color: var(--color-text-static-white);
  border-radius: var(--border-radius-small);
  transition: background-color var(--transition-time) !important;

  &:hover {
    background-color: var(--color-primary-light);
    color: var(--color-text-static-white);
  }
}

.oo-ui-buttonElement-framed.oo-ui-widget-disabled
  > .oo-ui-buttonElement-button {
  .disable-borders();
  background-color: var(--color-grey);
  color: var(--color-text-static-transparent);
}
