.oo-ui-panelLayout-framed {
  background-color: var(--color-base-section-alt);
  border: var(--border-classic);
  border-radius: var(--border-radius-medium);
  backdrop-filter: var(--blur-intensity);
}

.oo-ui-fieldsetLayout {
  padding: 0.75em;
  border: var(--border-classic);
  border-radius: var(--border-radius-medium);
}

.oo-ui-panelLayout-padded {
  padding: 0;
  border: 0;
}

.oo-ui-icon-collapse {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  transform: translate(10px, 10px);
  filter: var(--invert-icon);
}

.oo-ui-icon-expand {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  transform: translate(10px, 10px) rotate(-90deg);
  filter: var(--invert-icon);
}

.oo-ui-icon-previous {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  transform: rotate(90deg) translateY(-5px) !important;
  filter: var(--invert-icon);
}

.oo-ui-icon-next {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  transform: rotate(-90deg) translateY(-5px) !important;
  filter: var(--invert-icon);
}
