.tgui-icon {
  text-align: center;

  &:before {
    content: var(--tgui-icon);
    font: var(--fa-font-solid);
    font-size: 1.25em;
    line-height: 1.25em;
    color: var(--color-text) !important;
  }

  &__white:before {
    color: var(--color-white) !important;
  }

  &__smaller:before {
    font-size: 1em;
  }

  &__small:before {
    font-size: 0.75em;
  }
}

.tgui-icon-user {
  --tgui-icon: '\f007';
}

.tgui-icon-userTalk {
  --tgui-icon: '\f4ad';
}

.tgui-icon-settings {
  --tgui-icon: '\f013';
}

.tgui-icon-watchlist {
  --tgui-icon: '\f03a';
}

.tgui-icon-userContributions {
  --tgui-icon: '\e43c';
}

.tgui-icon-logOut {
  --tgui-icon: '\f08b';
}

.tgui-icon-logIn {
  --tgui-icon: '\f090';
}

.tgui-icon-userAdd {
  --tgui-icon: '\f234';
}

.tgui-icon-ellipsis {
  --tgui-icon: '\f141';
}

.tgui-icon-share {
  --tgui-icon: '\f064';
}

.tgui-icon-reset {
  --tgui-icon: '\f0e2';
}

.tgui-icon-trash {
  --tgui-icon: '\f1f8';
}

.tgui-icon-move {
  --tgui-icon: '\f0b2';
}

.tgui-icon-lock {
  --tgui-icon: '\f023';
}

.tgui-icon-unLock {
  --tgui-icon: '\f3c1';
}

.tgui-icon-star {
  --tgui-icon: '\f005';
}

.tgui-icon-unStar {
  --tgui-icon: '\f005';
  font: var(--fa-font-regular);
}

.tgui-icon-eraser {
  --tgui-icon: '\f12d';
}

.tgui-icon-reload {
  --tgui-icon: '\f2f1';
}

.tgui-icon-angle {
  --tgui-icon: '\f107';
}

.tgui-icon-clipboard {
  --tgui-icon: '\f0ea';
}

/* FA icon extentions */
.fa {
  &-recentChanges {
    --fa: '\f1da';
  }

  &-die {
    --fa: '\f522';
  }

  &-help {
    --fa: '\f059';
  }
}
