.tgui-icon {
  text-align: center;

  &:before {
    content: var(--tgui-icon);
    font: var(--fa-font-solid);
    font-size: 1.25rem;
    line-height: 1.25em;
    color: var(--color-text) !important;
  }

  &__white:before {
    color: var(--color-white) !important;
  }

  &__smaller:before {
    font-size: 1rem;
  }

  &__small:before {
    font-size: 0.75rem;
  }
}

.tgui-icon- {
  &user {
    --tgui-icon: "\f007";
  }

  &userTalk {
    --tgui-icon: "\f4ad";
  }

  &settings {
    --tgui-icon: "\f013";
  }

  &watchlist {
    --tgui-icon: "\f03a";
  }

  &userContributions {
    --tgui-icon: "\e43c";
  }

  &logOut {
    --tgui-icon: "\f08b";
  }

  &logIn {
    --tgui-icon: "\f090";
  }

  &userAdd {
    --tgui-icon: "\f234";
  }

  &ellipsis {
    --tgui-icon: "\f141";
  }

  &share {
    --tgui-icon: "\f064";
  }

  &reset {
    --tgui-icon: "\f0e2";
  }

  &trash {
    --tgui-icon: "\f1f8";
  }

  &move {
    --tgui-icon: "\f0b2";
  }

  &lock {
    --tgui-icon: "\f023";
  }

  &unLock {
    --tgui-icon: "\f3c1";
  }

  &star {
    --tgui-icon: "\f005";
  }

  &unStar {
    --tgui-icon: "\f005";
    font: var(--fa-font-regular);
  }

  &eraser {
    --tgui-icon: "\f12d";
  }

  &reload {
    --tgui-icon: "\f2f1";
  }

  &angle {
    --tgui-icon: "\f107";
  }

  &clipboard {
    --tgui-icon: "\f0ea";
  }

  &bell {
    --tgui-icon: "\f0f3";
  }

  &tray {
    --tgui-icon: "\f01c";
  }
}

/* FA icon extentions */
.fa {
  &-specialPages {
    --fa: "\f552";
  }

  &-recentChanges {
    --fa: "\f1da";
  }

  &-die {
    --fa: "\f522";
  }

  &-help {
    --fa: "\f059";
  }
}
