@import '../variables.less';

.mw-article-toolbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0.75em 0 0.75em;
  color: var(--color-text);

  & > div {
    font-size: @font-size-tabs;
  }

  .tgui-has-collapsible-items {
    display: block;
  }

  #right-navigation {
    float: right;

    @media (max-width: @max-width-mobile) {
      &:not(.emptyPortlet) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        visibility: hidden;
        padding: 0.5em 0 0.25em 0.75em;
        background-color: var(--color-base-blur-important);
        border: var(--border-classic);
        box-shadow: var(--shadow-template--small);
        transform: translateY(-100%);
        transition-property: visibility, transform, top;
        transition-duration: var(--transition-time);
        backdrop-filter: var(--blur-default);
        z-index: var(--index-element);

        #p-views #ca-watch a {
          margin: 0;
        }
      }

      .tgui-scroll--up.tgui-off-top &:not(.emptyPortlet) {
        top: 66px;
        visibility: visible;
        transform: translateY(0%);
      }

      /* Hide VisualEditor button for mobiles */
      #ca-ve-edit {
        display: none;
      }
    }

    #p-cactions {
      margin: 0;
      max-height: 3em;
      font-size: 1.1em;
      color: var(--color-text-translucent);
      border-radius: var(--border-radius-small);
      transition:
        background-color var(--transition-time),
        color var(--transition-time);

      label {
        padding: 0.4em 0.75em;
      }

      &:has(#p-cactions-checkbox:checked) {
        background-color: var(--color-bg-focus);
        color: var(--color-text);
      }

      .tgui-menu-content {
        min-width: auto;
      }

      .tgui-menu-content {
        right: 0;
      }
    }
  }
}
