@import '../variables.less';

@border-base-ems: unit(1px / @font-size-browser / @font-size-base, em);

.mw-article-toolbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0.75em 0 0.75em;
  color: var(--color-text);

  & > div {
    font-size: @font-size-tabs;
  }

  .mw-portlet-views {
    display: block;

    @media (max-width: @max-width-mobile) {
      &:not(.emptyPortlet) {
        position: fixed;
        top: 65px;
        right: 0;
        padding: 0.5em;
        background-color: var(--color-bg-section-blur);
        backdrop-filter: var(--blur-default);
        transform: translateY(0%);
        transition:
          transform var(--transition-time),
          top var(--transition-time);
        z-index: 2;
      }

      .tgui-scroll--down &:not(.emptyPortlet) {
        top: 0;
        transform: translateY(-100%);
      }

      #ca-ve-edit {
        display: none;
      }
    }
  }

  .tgui-has-collapsible-items {
    display: block;
  }
}
