@import '../mixins.less';

.tgui-dropdown {
  &-summary {
    .tgui-header-button-mixin();

    &::-webkit-details-marker {
      display: none;
    }
  }

  .tgui-window {
    .tgui-window();
    opacity: 0;
    content-visibility: hidden;
    width: 22.5rem;
    transform: scale(0.9);
    transform-origin: top;

    &__header {
      .tgui-window-header();
    }

    &__content {
      .tgui-window-content();
    }
  }

  &-details {
    user-select: none;
    position: relative;

    &[open] {
      + .tgui-window {
        content-visibility: visible;
        opacity: 1;
        height: auto;
        transform: scale(0.99999);
      }

      > .tgui-dropdown-summary {
        background-color: var(--color-bg-focus);
      }
    }
  }
}
