@import '../variables.less';
@import 'mediawiki.mixins.less';

.mw-header {
  display: flex;
  position: sticky;
  top: 0;
  min-height: var(--header-height);
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--color-base-blur-important);
  color: var(--color-text);
  transition: box-shadow var(--transition-time);
  z-index: var(--index-static);

  .tgui-off-top & {
    box-shadow: var(--shadow-template--small);
  }

  .tgui-header__content {
    display: flex;
    width: 100%;
    margin: 0 0.5rem;
  }

  #tgui-sidebar-button {
    margin-right: 0.5em;
    transition: background-color var(--transition-time);

    &:hover {
      background-color: var(--color-bg-hover);

      &:before {
        opacity: 1;
      }
    }

    &:active {
      background-color: var(--color-bg-focus);

      &:before {
        transform: scale(0.75);
      }
    }

    &:before {
      content: '\f100';
      opacity: 0.67;
    }
  }

  #tgui-sidebar-button {
    &:before {
      @{selector-main-menu-closed} ~ & {
        content: '\f0c9';
      }
    }
  }

  &-aside,
  &-content {
    display: flex;
    align-items: center;
  }

  &-aside {
    float: left;
    min-width: 15%;

    @media (min-width: @min-width-desktop-wide) {
      min-width: 15%;
    }

    @media (max-width: @min-width-tablet) {
      min-width: unset;
    }
  }

  &-content {
    flex-grow: 1;
  }
}

@media (max-width: @max-width-mobile) {
  .mw-header {
    position: fixed;
    border-bottom: var(--border-classic);

    #tgui-sidebar-checkbox:checked ~ & {
      box-shadow: var(--shadow-template--small);
    }

    .mw-logo-icon {
      width: 2.75em;
      height: 2.75em;
      margin-right: 0.5em;
    }
  }

  .search-focus {
    .mw-header-aside,
    .tgui-user-links {
      display: none;
    }
  }
}
