@import '../variables.less';
@import 'mediawiki.mixins.less';

.tgui-header {
  position: sticky;
  top: 0;
  background-color: var(--color-base-blur-important);
  z-index: var(--index-static);
  transition: box-shadow var(--transition-time);

  .tgui-off-top & {
    box-shadow: var(--shadow-template--small);
  }

  .tgui-dropdown-summary {
    width: var(--header-button-height);
    height: var(--header-button-height);
  }

  &-content {
    display: flex;
    align-items: center;
    padding: var(--header-padding);
    height: var(--header-height);

    &__left {
      display: flex;
      align-items: center;
    }

    &__middle {
      flex: 1;
    }

    &__right {
      display: flex;
      gap: 0.25em;
    }
  }

  #tgui-sidebar-button .tgui-icon {
    &:before {
      @{selector-main-menu-closed} ~ & {
        content: '\f0c9';
      }
    }
  }
}

#tgui-sidebar-button {
  .tgui-icon {
    &:before {
      content: '\f100';
      opacity: 0.67;
      transition-property: opacity, transform;
      transition-duration: var(--transition-time);
    }
  }

  &:hover .tgui-icon:before {
    opacity: 1;
  }

  &:active .tgui-icon:before {
    transform: scale(0.75);
  }
}

@media (max-width: @max-width-mobile) {
  .tgui-header {
    position: fixed;
    width: 100%;
    border-bottom: var(--border-classic);

    #tgui-sidebar-checkbox:checked ~ & {
      box-shadow: var(--shadow-template--small);
    }

    #tgui-sidebar-button .tgui-icon:before {
      content: '\f102';
    }
  }

  .search-focus {
    .tgui-header-content__left,
    .tgui-header-content__right {
      display: none;
    }
  }
}
