@import '../variables.less';
@import '../mixins.less';

.mw-indicators {
  font-size: @font-size-base;
  line-height: @line-height-base;
  position: relative;
  float: right;
}

.mw-indicator {
  .tgui-button();
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.66em;
}

#mw-indicator-mw-helplink a {
  background-image: none;
  padding: 0;

  &:before {
    content: '\f059';
    font: var(--fa-font-regular);
    width: 1.2rem;
    margin-right: 0.33rem;
    color: var(--color-white);
    transform: scale(1.33) translateX(0.15rem);
  }
}
