@import '../variables.less';
@import 'mediawiki.mixins.less';

.mw-logo {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;

  &-icon {
    display: inline-block;
    margin-right: 0.5rem;
    width: var(--header-height);
    height: var(--header-height);
    image-rendering: auto;
  }

  &-container {
    max-width: 12.5rem;

    @media (max-width: @max-width-mobile) {
      display: none;
    }
  }
}
