@import '../variables.less';
@import 'mediawiki.mixins.less';

.mw-logo {
  display: flex;
  align-items: center;

  &-icon {
    display: inline-block;
    margin: 0 0.5rem;
    width: var(--header-height);
    height: var(--header-height);
    image-rendering: auto;
  }

  &-container {
    max-width: 10rem;

    @media (max-width: @max-width-mobile) {
      display: none;
    }
  }
}
