@import '../variables.less';
@import '../mixins.less';
@import 'mediawiki.mixins.less';

//non-standard dropdown menu item.
.tgui-user-menu-logout,
.tgui-user-menu-create-account,
.tgui-user-menu-login,
.tgui-menu-dropdown .mw-list-item {
  margin-bottom: 0.5em;

  a {
    .tgui-button();
    display: flex;
    min-height: 2rem;
    align-items: center;
    white-space: nowrap;
    padding: 0 0.75em 0 0.5em;
    text-shadow: none;

    span:before {
      background-image: none;
      color: var(--color-white);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.tgui-user-menu-logout a {
  background-color: var(--color-red);

  &:hover {
    background-color: var(--color-red-light);
  }
}

.tgui-user-menu-login {
  margin-bottom: 0;

  a {
    background-color: var(--color-blue);

    &:hover {
      background-color: var(--color-blue-light);
    }
  }
}

.tgui-user-menu-login,
.tgui-user-menu-logout {
  &:before {
    content: '';
    display: block;
    height: 0.1em;
    margin: 0.5em 0;
    background: var(--color-border);
  }
}
