@import "../variables.less";

.mw-portlet ul {
  list-style: none;
  margin: 0;
}

.tgui-menu-portal {
  direction: ltr;
  margin: 0.5em 0 0.5em 0.75em;
  border: var(--border-classic);

  &:first-child {
    margin-top: 0;
  }

  .tgui-menu-heading {
    display: block;
    padding: 0.5em 0 0.4em 1.5em;
    color: var(--color-text-darker);
    background-color: var(--color-bg-section-alt);
    border-bottom: 2px solid var(--color-primary);
    font-size: @font-size-nav-main-heading;
    font-weight: bold;
  }

  .tgui-menu-content {
    background-color: var(--color-bg-section-alt);

    ul {
      list-style: none;
      padding: 0.5em 0;
    }

    li {
      font-size: @font-size-nav-main-body;
      line-height: @line-height-nav;
      word-wrap: break-word;
      margin: 0 0.5em 0.5em 0.5em;
      background-color: var(--color-primary);
      border-radius: var(--border-radius-small);
      transition: background-color var(--transition-time);

      &:hover {
        background-color: var(--color-primary-light);
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: inline-flex;
        width: 100%;
        padding: 0.5em 0 0.25em 0.5em;
        color: var(--color-text-static);
        text-decoration: none;
      }
    }
  }
}
