@import '../variables.less';
@import 'mediawiki.mixins.less';

/**
 * Styling for namespace tabs (page, discussion) and views (read, edit, view history, watch and other actions)
 */

/* Tab list items */
.tgui-menu-tabs {
  float: left;

  .mw-list-item a {
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    padding: 0.4em 0.75em calc(0.4em + 2px);
    max-height: 3em;
    font-size: 1.1em;
    color: var(--color-text-translucent);
    transition: background-color var(--transition-time);
    text-shadow: none;
    .tabs-animation(@margin: -0.75em);
  }

  .mw-list-item a:hover {
    background-color: var(--color-bg-hover);
    color: var(--color-text-translucent);
  }

  .mw-list-item a:focus {
    background-color: var(--color-bg-hover);
    color: ~'hsla(var(--primary-hue), 100%, var(--dark-lightness))';

    &:after {
      transform: scaleX(0.25);
    }
  }

  .mw-list-item.new a,
  .mw-list-item.new a:visited {
    color: var(--color-hyperlink-new);
  }

  .mw-list-item.selected a,
  .mw-list-item.selected a:visited {
    background-color: var(--color-bg-focus);
    color: ~'hsla(var(--primary-hue), 100%, var(--dark-lightness))';

    &:after {
      transform: scaleX(1);
    }
  }
}

/**
 * Tab list item appearance. Applies to both <li>'s inside .tgui-menu-tabs
 * and dropdown menus inside the article toolbar
 */
.tgui-menu-tabs .mw-list-item,
.mw-article-toolbar-container .tgui-menu-dropdown {
  float: left;
  white-space: nowrap;

  // target links inside of .tgui-tab-menu
  // and dropdown menu headings inside the article toolbar.
  // NOTE: Consider adding a single selector to define both items,
  // since they both appear beside each other in the article toolbar.
  & > a,
  .tgui-menu-heading {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: normal;
  }
}
