@import '../variables.less';

.page-actions {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0.5em 0;

  li {
    margin: 0;
  }

  &__right {
    display: flex;

    .tgui-dropdown {
      position: relative;

      details summary {
        height: calc(1.75rem + 2px);
      }
    }
  }

  .tgui-menu {
    &__heading {
      display: none;
    }

    &__content {
      ul {
        display: flex;
      }
    }
  }

  .mw-list-item {
    .tabs-animation(@margin: 0);
    user-select: none;
    color: var(--color-text-translucent);
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    transition: background-color var(--transition-time);

    &:hover,
    &:focus-within {
      background-color: var(--color-bg-hover);
    }

    &:focus-within {
      color: ~'hsla(var(--primary-hue), 100%, var(--dark-lightness))';

      &:after {
        transform: scaleX(0.25);
      }
    }

    &.selected {
      pointer-events: none; // You are already here, so you don't need any actions on it
      background-color: var(--color-bg-focus);
      color: ~'hsla(var(--primary-hue), 100%, var(--dark-lightness))';

      &:after {
        transform: scaleX(1);
      }
    }

    a {
      display: flex;
      align-items: center;
      height: 1.75rem;
      font-size: 0.9rem;
      padding: 0 0.66rem;
      color: inherit;
      border-bottom: 2px solid transparent;
    }

    &.new a {
      color: var(--color-hyperlink-new);
    }
  }
}

@media (max-width: @max-width-mobile) {
  .page-actions {
    position: fixed;
    content-visibility: hidden;
    top: ~'calc(var(--header-height) + var(--header-padding) * 2)';
    left: 0;
    margin: 0;
    padding: 0.33em;
    width: calc(100% - 0.66em); // 1em for padding
    background-color: var(--color-base-blur-important);
    border-bottom: var(--border-classic);
    transform: translateY(-100%);
    transition: transform var(--transition-time);
    backdrop-filter: var(--blur-important);
    z-index: var(--index-element);

    .tgui-scroll--up.tgui-below-page-title & {
      content-visibility: visible;
      transform: translateY(0%);
    }

    #ca-ve-edit,
    .mw-list-item.selected {
      display: none; // Mobile screen space economy. Also disabling visual editor button
    }
  }
}
