.tgui-section {
  > h3 .mw-headline,
  > h4 .mw-headline {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: calc(-0.25rem * 0.5);
      height: 2px;
      width: calc(100% + 2em);
      max-width: calc(100vw - 3rem); // 2 content margins * 2
      background: linear-gradient(
        to right,
        ~'hsl(from var(--color-secondary-light) h s l / 0.5)' calc(100% - 2em),
        transparent 100%
      );
    }
  }
}

.tgui-sections-enabled {
  .tgui-section {
    &-heading {
      cursor: pointer;
      user-select: none;
    }

    &-indicator {
      margin-right: 0.5rem;
      transition: transform var(--transition-time);

      &:before {
        content: '\f078';
        font: var(--fa-font-solid);
        font-size: 1cap;
      }
    }
  }
}

.tgui-section {
  &-heading {
    display: flex;
    align-items: center;

    .mw-headline {
      flex-grow: 1;
    }

    &:has(+ .tgui-section[hidden]) {
      .tgui-section-indicator {
        transform: rotate(-90deg);
      }
    }
  }
}
