.tgui-section {
  > h3 .mw-headline,
  > h4 .mw-headline {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -0.15em;
      height: 2px;
      width: calc(100% + 2em);
      max-width: 100cqw;
      background: linear-gradient(
        to right,
        ~'hsl(from var(--color-secondary-light) h s l / 0.5)' calc(100% - 2em),
        transparent 100%
      );
    }
  }
}

.tgui-sections-enabled {
  .tgui-section {
    &-heading {
      cursor: pointer;
      user-select: none;

      .mw-editsection,
      .mw-editsection-like {
        margin-right: 0;
      }

      &:has(span[typeof*='mw:File']) {
        align-items: baseline;
      }
    }

    &-indicator {
      margin-right: 0.5rem;
      transition: transform var(--transition-time);

      &:before {
        content: '\f078';
        font: var(--fa-font-solid);
        font-size: 1cap;
      }
    }
  }
}

.tgui-section {
  &-heading {
    display: flex;
    align-items: center;
	border-bottom: 2px solid var(--color-primary);

    .mw-headline,
	:is(h1, h2, h3, h4, h5, h6) {
	  margin: 0;
      flex-grow: 1;
	  border-bottom: none;
    }

    &:has(+ .tgui-section[hidden]) {
      .tgui-section-indicator {
        transform: rotate(-90deg);
      }
    }
  }
}
