.tgui-sections-enabled {
  .tgui-section {
    &-heading {
      cursor: pointer;
      user-select: none;
    }

    &-indicator {
      margin-right: 0.5rem;
      transition: transform var(--transition-time);

      &:before {
        content: '\f078';
        font: var(--fa-font-solid);
        font-size: 1cap;
      }
    }
  }
}

.tgui-section {
  &-heading {
    display: flex;
    align-items: center;

    .mw-headline {
      flex-grow: 1;
    }

    &:has(+ .tgui-section[hidden]) {
      .tgui-section-indicator {
        transform: rotate(-90deg);
      }
    }
  }
}
