@import '../variables.less';
@import 'checkboxHack.less';

.tgui-sidebar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 66px;
  height: @height-sidebar;
  z-index: @z-index-header;
  width: @width-sidebar-px;

  @media (min-width: @min-width-desktop-wide) {
    width: @width-sidebar-px-wide;
  }

  @{selector-main-menu-closed} ~ & {
    transform: translateX(calc(-1 * @width-sidebar-px));
    visibility: hidden;

    @media (min-width: @min-width-desktop-wide) {
      transform: translateX(calc(-1 * @width-sidebar-px-wide));
    }
  }

  .tgui-animations-ready & {
    transition: all var(--transition-time);
  }
}

.mw-sidebar {
  flex: 1;
  position: sticky;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-base);
  background-color: var(--color-bg-section-blur);
  color: var(--color-text);
  backdrop-filter: var(--blur-important);

  &:hover {
    overflow-y: auto;
  }
}
