@import '../variables.less';
@import 'checkboxHack.less';

.tgui-sidebar-container {
  display: flex;
  flex-direction: column;
  flex-basis: @width-sidebar-px;
  pointer-events: none;
  overflow: hidden;
  position: sticky;
  top: ~'calc(var(--header-height) + var(--header-padding) * 2)';
  height: var(--sidebar-height);
  transition:
    width var(--transition-time),
    flex-basis var(--transition-time);
  z-index: var(--index-static);

  @media (min-width: @min-width-desktop-wide) {
    flex-basis: @width-sidebar-px-wide;
  }
}

.tgui-sidebar {
  display: flex;
  flex: 1;
  pointer-events: auto;
  position: sticky;
  overflow: hidden;
  background-color: var(--color-base-fill);
  color: var(--color-text);
  transition: visibility var(--transition-time);
  z-index: var(--index-static);

  @media (min-width: @min-width-desktop) {
    .tgui-blur-important {
      backdrop-filter: none;
    }
  }

  .tgui-sidebar-content {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    overscroll-behavior: contain;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-base);

    &:hover {
      overflow-y: auto;
    }
  }

  .sidebar-visible &,
  @{selector-main-menu-closed} ~ .tgui-page-container-inner .tgui-sidebar-container & {
    visibility: hidden;
  }
}

@media (max-width: @max-width-tablet) {
  .tgui-sidebar-container {
    width: @width-sidebar-px-wide;

    .tgui-sidebar-content .tgui-menu {
      margin: 0.5em;
    }
  }

  .tgui-sidebar {
    visibility: hidden;
    background-color: var(--color-base-blur-important);

    @{selector-main-menu-open} ~ .tgui-page-container-inner .tgui-sidebar-container & {
      visibility: visible;
    }
  }
}

@media (max-width: @max-width-mobile) {
  .tgui-sidebar-container {
    position: fixed;
    width: 100%;
    max-height: 70vh;
    top: 0;
    transform: translateY(-100%);
    transition:
      transform var(--transition-time),
      visibility var(--transition-time);
    z-index: var(--index-overlay);

    @{selector-main-menu-open} ~ .tgui-page-container-inner & {
      transform: translateY(0%);
      box-shadow: var(--box-shadow-medium);
    }

    .tgui-sidebar {
      visibility: hidden !important;
      margin-top: ~'calc(var(--header-height) + var(--header-padding) * 2)';
      border-bottom: var(--border-classic);
      z-index: var(--index-overlay);

      @{selector-main-menu-open} ~ .tgui-page-container-inner & {
        visibility: visible !important;
      }

      .tgui-sidebar-content {
        overflow-y: auto;
      }
    }
  }
}
