@import '../variables.less';
@import '../layouts/screen.less';
@import 'checkboxHack.less';

.mw-sidebar,
.sidebar-toc,
.sidebar-toc:after {
  width: @width-sidebar-px;

  @media (min-width: @min-width-desktop-wide) {
    width: @width-sidebar-px-wide;
  }
}

.mw-sidebar {
  position: fixed;
  overflow: hidden;
  padding-top: 0.75em;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-base);
  height: @height-sidebar-toc-hidden;
  background-color: var(--color-bg-section);
  color: var(--color-text);
  backdrop-filter: var(--blur-important);
  transition:
    transform var(--transition-time),
    height var(--transition-time);
  z-index: @z-index-header;

  &:hover {
    overflow-y: auto;
  }

  @{selector-main-menu-closed} ~ .tgui-sidebar-container & {
    transform: translateX(-25em);
  }

  body:not(.tgui-toc-collapsed) & {
    height: @height-sidebar-toc;
  }

  &:not(:has(+ .sidebar-toc)) {
    height: @height-sidebar-default !important;
  }
}

.mw-sidebar-action {
  // Styles for SidebarAction template.
  .mw-sidebar-action-item {
    // Align with the portal heading/links
    // `.portal` + `.portal .body`
    margin-top: 4px;
    margin-bottom: 4px;

    .mw-sidebar-action-heading {
      margin-bottom: 0.75em;
    }

    .mw-sidebar-action-content {
      > * {
        font-size: @font-size-nav-main-body;
      }

      > a {
        font-weight: bold;
      }
    }

    // T295555 style overrides for temporary language switch alert (can be removed later ).
    .tgui-language-sidebar-alert {
      padding: 0.75em;
    }
  }
}
