@import "../../common/variables.less";

@height-collapsed-toc-button: 36px;
@padding-top-content-px: unit(@padding-top-content * @font-size-browser, px);
@selector-collapsed-toc-open: ~"#tgui-toc-collapsed-checkbox:checked";

#tgui-toc-collapsed-button {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1.75em;
  padding: 0.5em;
  background-color: var(--color-bg-section-light);
  border: 1px solid var(--color-border);
  backdrop-filter: var(--blur-intensity);
  transition: background-color var(--transition-time);

  &:hover,
  &:active {
    background-color: var(--color-hover);
  }
}

#tgui-toc-collapsed-button,
.sidebar-toc {
  z-index: @z-index-menu;
}

.ve-active {
  #tgui-toc-collapsed-button {
    display: none !important; /* stylelint-disable-line declaration-no-important */
  }
}

// Override button styles for the "move to sidebar/hide" links. Default hide.
.tgui-toc-collapse-button {
  display: block;
  cursor: pointer;
  padding: 0.1em 0.33em 0.2em 0.33em;
  margin: 0 0.5em 0 0;
  background-color: var(--color-primary);
  color: var(--color-button-text);
  border-radius: var(--border-radius-small);
  border: 0;
  text-decoration: none;
  transition: background-color var(--transition-time);

  &:hover {
    background-color: var(--color-primary-light);
  }
}

// Applies when TOC is collapsed in it's original DOM location
// Doesn't apply to the collapsed TOC in the sticky header
.mixin-toc-collapsed-unmoved() {
  #tgui-toc-collapsed-button {
    display: block;
  }

  @{sidebar-toc-selector} {
    display: none;
    position: fixed;
    margin: 0;
  }

  @{selector-collapsed-toc-open} ~ @{sidebar-toc-selector} {
    // Hide the TOC when the button is not checked
    display: block;
  }
}

.mixin-toc-collapsed-floating() {
  .sidebar-toc {
    bottom: 0.75em;
    right: 1.5em;
  }
}

@media (min-width: @min-width-desktop) {
  @supports (display: grid) {
    .client-js {
      // Collapsed to page title
      .tgui-toc-collapsed {
        .mixin-toc-collapsed-unmoved();
        .mw-table-of-contents-container {
          grid-area: content;
          position: fixed;
          margin: 0;
          background-color: var(--color-bg-opaque);
          z-index: 3;
        }

        @{sidebar-toc-selector} {
          bottom: 1em;
          right: 1.75em;
        }

        .tgui-toc-uncollapse-button {
          display: inline-block;
        }
      }

      .tgui-toc-not-collapsed {
        .tgui-toc-collapse-button {
          display: inline-block;
        }
      }
    }
  }
}
