@import "../variables.less";
@import "mediawiki.mixins.less";
@import "mediawiki.mixins.rotation.less";

.tgui-menu-tabs {
  .mw-watchlink.icon a {
    overflow: hidden;
    margin: 0 0.5em;
    text-indent: -99999px;
    color: transparent;

    &:before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      width: 1em;
      height: 1em;
      filter: var(--invert-icon);
      transform: scale(1.2);
    }
  }

  #ca-unwatch.icon a:before {
    background-image: url(../skins.tgui.styles/images/star-solid.svg);
  }

  #ca-unwatch.mw-watchlink-temp.icon a:before {
    background-image: url(../skins.tgui.styles/images/star-half-stroke.svg);
  }

  #ca-watch.icon a:before {
    background-image: url(../skins.tgui.styles/images/star-regular.svg);
  }

  #ca-unwatch.icon a:hover:before,
  #ca-unwatch.icon a:focus:before {
    background-image: url(../skins.tgui.styles/images/star-half-stroke.svg);
  }

  #ca-unwatch.mw-watchlink-temp.icon a:hover:before,
  #ca-unwatch.mw-watchlink-temp.icon a:focus:before {
    background-image: url(../skins.tgui.styles/images/star-half-stroke.svg);
  }

  #ca-watch.icon a:hover:before,
  #ca-watch.icon a:focus:before {
    background-image: url(../skins.tgui.styles/images/star-half-stroke.svg);
  }
}
