@import '../variables.less';
@import 'mediawiki.mixins.less';
@import 'mediawiki.ui/variables.less';

@font-size-user-links: unit(14 / @font-size-browser, em); // Equals `0.875em`.
// Applies to links in the overflow menu that do not have the .mw-ui-button class.

/**
 * Container that holds both the horizontal menu and dropdown menus.
 */
.tgui-user-links {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  flex-shrink: 1;
  font-size: @font-size-user-links;
  margin-right: 0.5em;
  min-width: 15%;

  .mw-ui-button {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-small);
  }
}

/**
 * Both logged-in and logged-out dropdown menus.
 */
.tgui-user-menu {
  .tgui-menu__content {
    left: auto;
    right: 0.5rem;
  }
}

/**
 * Horizontal links menu - logged in and logged out.
 */
.tgui-user-menu-overflow {
  .tgui-menu__content-list {
    display: flex;
    align-items: center;
  }

  // Add margin to links that don't have the .mw-ui-button or related icon classes.
  a:not(.mw-ui-button):not(.mw-echo-notifications-badge) {
    margin: 0 8px;
  }
}
