@import '../resources/common/variables.less';

/* mediawiki.notification */

.mw-notification-area {
	font-size: @font-size-notification;
}

.mw-notification-area-layout {
	top: 7em;
}

.mw-notification {
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-small);
}
