.redirectText {
  font-size: 140%;

  li {
    padding-left: 0 !important;
    margin-left: -1em !important;
    background: none !important;
    filter: none !important;

    > a {
      filter: none !important;
    }

    &:before {
      font: var(--fa-font-solid);
      content: '\f148';
      padding: 0 1em;
      transform: rotate(90deg);
    }
  }
}

.redirectMsg p {
  margin: 0;
  padding: 0;
}
