/**
 * TGUI
 *
 * SkinStyles for MediaWiki
 * Module: oojs-ui-core
 * Version: REL1_43
 *
 * Date: 15-03-2025
 */

@import '../../resources/skins.tgui.styles/mixins.less';

// You can't even imagine how much i hate OOJS
.skin-tgui {
  .oo-ui-panelLayout-framed {
    background-color: var(--color-second);
    border: var(--border-classic);
    border-radius: var(--border-radius-medium);
  }

  .oo-ui-fieldsetLayout {
    padding: 0.75em;
    border: var(--border-classic);
    border-radius: var(--border-radius-medium);

    &.oo-ui-iconElement > .oo-ui-fieldsetLayout-header .oo-ui-iconElement-icon {
      margin-top: 0.75em;
    }

    &-header .oo-ui-iconElement-icon {
      top: 0.33em !important;
      width: 2.5em !important;
    }
  }

  .oo-ui-panelLayout-padded {
    padding: 0;
    border: 0;
  }

  .oo-ui-windowManager-modal {
    > .oo-ui-dialog {
      background-color: var(--color-primal);
      transition: opacity ease-out var(--transition-time);

      .oo-ui-window-frame {
        background-color: var(--color-second-blur) !important;
        border: var(--border-classic) !important;
        border-radius: var(--border-radius-medium) !important;
        box-shadow: var(--box-shadow-big) !important;
        backdrop-filter: var(--blur-default);
      }
    }

    .oo-ui-messageDialog-title {
      color: var(--color-text);
    }

    .oo-ui-messageDialog-message {
      color: var(--color-text-darker);
    }
  }

  .oo-ui-processDialog-content .oo-ui-window-head,
  .oo-ui-processDialog-content .oo-ui-window-foot {
    outline: none !important ;
  }

  .oo-ui-processDialog-content .oo-ui-window-head {
    border-bottom: 1px solid var(--color-border);
  }

  .oo-ui-messageDialog-content > .oo-ui-window-foot {
    outline: 0 !important;
  }

  .oo-ui-messageDialog-actions-vertical .oo-ui-actionWidget {
    border: 0;
  }

  .oo-ui-clippableElement-clippable.oo-ui-popupWidget-body {
    color: var(--color-text-darker);
  }

  .oo-ui-menuToolGroup {
    border-color: var(--color-border);
  }

  .oo-ui-popupToolGroup-tools {
    margin: 0;
    background-color: var(--color-bg);
    border: var(--border-classic);
    box-shadow: var(--box-shadow-medium);
  }

  .oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-enabled {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  .oo-ui-listToolGroup-tools .oo-ui-tool-active.oo-ui-widget-enabled .oo-ui-tool-link .oo-ui-tool-title {
    color: var(--color-text) !important;
  }

  .oo-ui-menuToolGroup-tools .oo-ui-tool.oo-ui-tool-active {
    background-color: transparent;
  }

  .oo-ui-bookletLayout > .oo-ui-menuLayout-menu {
    border-right: var(--border-classic);
  }

  .oo-ui-panelLayout .oo-ui-tabSelectWidget-framed {
    padding: 0.5em;
    padding-bottom: 0;
  }

  .oo-ui-selectFileWidget-dropTarget {
    background-color: var(--color-second) !important;
    border: var(--border-classic) !important;
    border-radius: var(--border-radius-medium);

    &:hover {
      border: var(--border-classic-input) !important;
    }
  }

  .oo-ui-windowManager-modal-active {
    overflow-y: auto !important;
    margin: 0 !important;
  }

  .oo-ui-outlineOptionWidget.oo-ui-optionWidget-highlighted {
    background-color: var(--color-bg-hover) !important;
    color: var(--color-text) !important;
  }

  .oo-ui-outlineOptionWidget.oo-ui-optionWidget-selected {
    background-color: var(--color-bg-focus) !important;
    color: var(--color-text) !important;
  }

  .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input[readonly]:not(.oo-ui-pendingElement-pending) {
    background-color: transparent !important;
  }

  .oo-ui-searchWidget-query {
    border-bottom: var(--border-classic) !important;
  }

  .oo-ui-tool.oo-ui-widget-enabled > .oo-ui-tool-link:active,
  .oo-ui-tool.oo-ui-widget-enabled.oo-ui-popupToolGroup-active > .oo-ui-tool-link,
  .oo-ui-tool.oo-ui-widget-enabled > .oo-ui-tool-link:hover {
    background-color: var(--color-bg-hover) !important;
    color: var(--color-text) !important;
  }

  .oo-ui-tool.oo-ui-widget-enabled.oo-ui-tool-active > .oo-ui-tool-link {
    background-color: var(--color-bg-focus) !important;
    color: var(--color-text) !important;
  }

  /* All */
  .oo-ui-labelWidget.oo-ui-inline-help {
    color: var(--color-text-gray);
  }

  // MARK: Buttons. Fucking hell...
  .oo-ui-inputWidget {
    margin-right: 0.25em;
  }

  .oo-ui-buttonElement.oo-ui-labelElement > input.oo-ui-buttonElement-button,
  .oo-ui-buttonElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
    vertical-align: sub;
  }

  .oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button,
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive,
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive
    > .oo-ui-buttonElement-button,
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
    .disable-borders();
    .tgui-button(@focus: true);
  }

  .mw-rcfilters-ui-rclToOrFromWidget.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle,
  .oo-ui-buttonElement-frameless.oo-ui-labelElement > .oo-ui-buttonElement-button,
  .oo-ui-buttonElement-frameless.oo-ui-widget-enabled,
  .oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle,
  > .oo-ui-buttonElement-button,
  .oo-ui-processDialog-actions-safe
    .oo-ui-widget-enabled.oo-ui-iconElement:not(.oo-ui-labelElement)
    > .oo-ui-buttonElement-button {
    .disable-borders();
    .tgui-button(@transparent: true, @focus: true);
  }

  .oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button,
  .oo-ui-barToolGroup-tools.oo-ui-toolGroup-enabled-tools
    .oo-ui-tool.oo-ui-widget-disabled.oo-ui-flaggedElement-primary
    > .oo-ui-tool-link,
  .oo-ui-barToolGroup-tools.oo-ui-toolGroup-disabled-tools .oo-ui-tool.oo-ui-flaggedElement-primary > .oo-ui-tool-link,
  .oo-ui-widget-disabled.oo-ui-buttonElement {
    .disable-borders();
    .tgui-button(@disabled: true) !important;

    * {
      color: var(--color-text) !important;
    }
  }

  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive
    > .oo-ui-buttonElement-button {
    .disable-borders();
    .tgui-button(@color: 'secondary', @focus: true);
  }

  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button,
  .oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button {
    .disable-borders();
    .tgui-button(@color: 'red', @focus: true);
  }

  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button {
    .disable-borders();
    .tgui-button(@color: 'green', @focus: true);
  }

  .oo-ui-buttonElement-frameless.oo-ui-labelElement:first-child {
    margin-left: 0;
  }

  .oo-ui-buttonSelectWidget .oo-ui-buttonOptionWidget:first-child .oo-ui-buttonElement-button {
    border-bottom-left-radius: var(--border-radius-small) !important;
    border-top-left-radius: var(--border-radius-small) !important;
  }

  .oo-ui-buttonSelectWidget .oo-ui-buttonOptionWidget:last-child .oo-ui-buttonElement-button {
    border-bottom-right-radius: var(--border-radius-small) !important;
    border-top-right-radius: var(--border-radius-small) !important;
  }

  /* Radio */
  .oo-ui-radioInputWidget [type='radio'] + span {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--color-second);
    border-color: var(--color-border);
    filter: none !important;
  }

  .oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio'] + span {
    transition:
      background-color var(--transition-time),
      border var(--transition-time);
  }

  .oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:hover + span,
  .oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:checked + span {
    border-color: var(--color-secondary);
  }

  .oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:active + span {
    background-color: var(--color-border-input);
    border-color: var(--color-border-input);
  }

  .oo-ui-radioInputWidget.oo-ui-widget-enabled [type='radio']:checked:hover + span {
    border-color: var(--color-secondary-light);
  }

  .oo-ui-radioInputWidget [type='radio']:checked + span,
  .oo-ui-radioInputWidget [type='radio']:checked:hover + span,
  .oo-ui-radioInputWidget [type='radio']:checked:focus:hover + span {
    border-width: 6px;
  }

  .oo-ui-radioInputWidget [type='radio'] + span:before {
    border: unset;
  }

  // MARK: Checkbox
  div {
    .oo-ui-checkboxInputWidget [type='checkbox'] + span {
      outline: 0 !important;
      box-shadow: none !important;
      background-color: var(--color-second);
      border-color: var(--color-border);
      border-radius: var(--border-radius-small);

      &:before {
        opacity: 0;
        font-size: 1.1em;
        color: var(--color-white);
      }
    }

    .oo-ui-checkboxInputWidget [type='checkbox']:hover + span {
      border-color: var(--color-border-input) !important;
    }

    .oo-ui-checkboxInputWidget [type='checkbox']:active + span {
      background-color: var(--color-border-input);
    }

    .oo-ui-checkboxInputWidget [type='checkbox']:focus + span {
      border-color: var(--color-border);
    }

    .oo-ui-checkboxInputWidget [type='checkbox']:disabled + span {
      background-color: var(--color-grey) !important;
      border-color: var(--color-border) !important;
    }

    .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span,
    .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate + span {
      background-color: var(--color-secondary);
      border-color: var(--color-secondary);

      &:before {
        opacity: 1;
      }
    }

    .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span:hover,
    .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:indeterminate + span:hover {
      background-color: var(--color-border-input);
      border-color: var(--color-border-input);

      &:before {
        opacity: 1;
      }
    }
  }

  // MARK: Dropdown
  .oo-ui-dropdownWidget-handle,
  .oo-ui-dropdownInputWidget select,
  .oo-ui-dropdownInputWidget.oo-ui-widget-enabled,
  .oo-ui-dropdownInputWidget.oo-ui-widget-enabled select,
  .oo-ui-dropdownInputWidget.oo-ui-widget-enabled select:hover,
  .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--color-primary) !important;
    color: var(--color-white) !important;
    border-radius: var(--border-radius-small) !important;
    transition: background-color var(--transition-time) !important;

    &:before {
      color: var(--color-white) !important;
    }
  }

  .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:hover,
  .oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:active,
  .oo-ui-dropdownWidget.oo-ui-widget-enabled.oo-ui-dropdownWidget-open .oo-ui-dropdownWidget-handle,
  .oo-ui-dropdownWidget.oo-ui-widget-enabled.oo-ui-dropdownWidget-open .oo-ui-dropdownWidget-handle:hover,
  .oo-ui-dropdownWidget.oo-ui-widget-enabled.oo-ui-dropdownWidget-open .oo-ui-dropdownWidget-handle:active {
    background-color: var(--color-primary-light) !important;
    color: var(--color-white) !important;

    &:before {
      color: var(--color-white) !important;
    }
  }

  .oo-ui-dropdownInputWidget.oo-ui-widget-disabled,
  .oo-ui-dropdownWidget.oo-ui-widget-disabled .oo-ui-dropdownWidget-handle {
    text-shadow: none;
    background-color: var(--color-grey);
    color: var(--color-translucent);
    border-radius: var(--border-radius-small) !important;
    transition: background-color var(--transition-time);

    &:before {
      color: var(--color-translucent);
    }
  }

  .oo-ui-menuSelectWidget {
    overflow: hidden;
    margin: 0;
    background-color: var(--color-second-blur);
    border: var(--border-classic);
    border-radius: var(--border-radius-medium);
    box-shadow: none;
    backdrop-filter: var(--blur-default);
  }

  .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
    color: var(--color-text-darker) !important;
    transition: background-color var(--transition-time);

    &:before {
      color: var(--color-text-darker);
    }
  }

  .oo-ui-menuOptionWidget.oo-ui-optionWidget-selected,
  .oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted {
    background-color: var(--color-bg-focus) !important;
  }

  .oo-ui-menuOptionWidget.oo-ui-optionWidget:hover {
    background-color: var(--color-bg-hover);
  }

  .oo-ui-dropdownInputWidget option {
    background-color: var(--color-bg);
    color: var(--color-text-darker) !important;
  }

  .oo-ui-dropdownInputWidget option:hover {
    background-color: var(--color-grey-light);
  }

  .oo-ui-dropdownWidget {
    .oo-ui-indicator-down {
      background-image: none;
      color: var(--color-white);
    }
  }

  // MARK: TextInput
  .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
    background-color: var(--color-primal);
    color: var(--color-text);
    border: var(--border-classic);
    border-radius: var(--border-radius-small);
    transition:
      background-color var(--transition-time),
      border var(--transition-time);

    &:hover {
      border: var(--border-classic-input);
    }

    &:focus,
    &:active {
      border: var(--border-classic-input-focus) !important;
    }
  }

  .mw-rcfilters-ui-cell .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
    border-radius: 0;
  }

  .oo-ui-textInputWidget.oo-ui-widget-disabled .oo-ui-inputWidget-input {
    background-color: var(--color-bg-focus) !important;
    -webkit-text-fill-color: var(--color-text-gray) !important;
    color: var(--color-text-gray) !important;
    text-shadow: none !important;
    border-color: var(--color-border) !important;
    transition: background-color var(--transition-time) !important;
  }

  .oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input,
  .oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input:hover {
    border-color: var(--color-red);
  }

  // MARK: FieldLayout
  div .oo-ui-fieldLayout-body .oo-ui-fieldLayout-field {
    div .oo-ui-pendingElement-pending {
      .disable-borders();
      border: var(--border-classic);
      background-color: var(--color-bg-hover);
      background-image: linear-gradient(
        135deg,
        var(--color-bg-focus) 25%,
        transparent 25%,
        transparent 50%,
        var(--color-bg-focus) 50%,
        var(--color-bg-focus) 75%,
        transparent 75%,
        transparent
      );
    }

    .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled {
      .disable-borders();
      background-color: var(--color-primal);
      transition:
        border var(--transition-time),
        background-color var(--transition-time);

      .oo-ui-tagMultiselectWidget-handle {
        .disable-borders();
        border: var(--border-classic);

        &:hover {
          border: var(--border-classic-input);
        }

        &:focus,
        &:active {
          border: var(--border-classic-input-focus) !important;
        }
      }

      input {
        color: var(--color-text);
      }
    }

    .oo-ui-tagMultiselectWidget.oo-ui-widget-disabled.oo-ui-tagMultiselectWidget-inlined.oo-ui-tagMultiselectWidget {
      .oo-ui-tagMultiselectWidget-handle {
        background-color: var(--color-second);
        border: var(--border-classic);
        transition:
          border var(--transition-time),
          background-color var(--transition-time);
      }
    }
  }

  .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined
    .oo-ui-tagItemWidget.oo-ui-widget-enabled {
    background-color: var(--color-second) !important;
    color: var(--color-text-darker);
    border: var(--border-classic);
    border-radius: var(--border-radius-small);
  }

  .oo-ui-tagItemWidget.oo-ui-widget-enabled .oo-ui-buttonElement-button:hover {
    background-color: transparent !important;
  }

  // MARK: DateInput
  .mw-widget-dateInputWidget-handle {
    background-color: var(--color-primal);
    color: var(--color-text);
    border: var(--border-classic);

    &:hover {
      border: var(--border-classic-input);
    }
  }

  .mw-widget-dateInputWidget-empty .mw-widget-dateInputWidget-handle {
    color: var(--color-text-gray);
  }

  .mw-widget-dateInputWidget-calendar {
    margin: 0;
    background-color: var(--color-bg);
    border: var(--border-classic);
    border-top: 0;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);

    .mw-widget-calendarWidget-item {
      transition:
        background-color var(--transition-time),
        color var(--transition-time);

      &:hover {
        background-color: var(--color-bg-hover);
      }
    }

    .mw-widget-calendarWidget-day-heading {
      color: var(--color-primary);
    }

    .mw-widget-calendarWidget-day-additional {
      color: var(--color-grey) !important;
    }

    .mw-widget-calendarWidget-day {
      color: var(--color-text-darker);
      border-radius: var(--border-radius-small);
    }

    .mw-widget-calendarWidget-day-today {
      background-color: var(--color-bg-focus);
      box-shadow: inset 0 0 0 1px var(--color-primary);
    }
  }

  // MARK: Icons
  .oo-ui-iconWidget,
  .oo-ui-iconElement-icon,
  .oo-ui-indicatorElement-indicator {
    background-image: none !important; // Disables OOUI icons to replace with FontAwesome
    text-indent: 0;

    &:before {
      align-content: center;
      font: var(--fa-font-solid);
      font-size: 1.4em;
      height: 100%;
      width: 100%;
      text-indent: 0;
      text-align: center;
      color: var(--color-text-darker);
    }

    &.oo-ui-image-progressive {
      background-image: none !important; // Disables OOUI progressive icons to replace with FontAwesome
      text-indent: 0;

      &:before {
        color: var(--color-secondary-light) !important;

        :hover & {
          color: var(--color-secondary-light) !important;
        }
      }
    }
  }

  .oo-ui-indicatorElement-indicator:before {
    font-size: 1em;
  }

  .oo-ui-popupToolGroup-handle .oo-ui-indicatorElement-indicator:before {
    font-size: 1em;
  }

  .oo-ui-icon- {
    &bookmark:before {
      content: '\f02e';
    }

    &trash:before {
      content: '\f1f8';
    }

    &article:before {
      content: '\f15c';
    }

    &tag:before {
      content: '\f02b';
    }

    &settings:before {
      content: '\f013';
    }

    &play:before {
      content: '\f04b';
    }

    &stop:before {
      content: '\f04d';
    }

    &menu:before {
      content: '\f0c9';
    }

    &highlight:before {
      content: '\f591';
    }

    &history:before {
      content: '\f1da';
    }

    &helpNotice:before {
      content: '\f059';
    }

    &first:before {
      content: '\f100';
    }

    &previous:before {
      content: '\f104';
    }

    &next:before {
      content: '\f105';
    }

    &last:before {
      content: '\f101';
    }

    &search:before,
    &articleSearch:before {
      content: '\f002';
      font-size: 1.2em;
    }

    &check:before {
      content: '\f00c';
    }

    &close:before {
      content: '\f00d';
    }

    &articleRedirect:before {
      content: '\f277';
    }

    &edit:before {
      content: '\f044';
    }

    &bold:before {
      content: '\f032';
    }

    &italic:before {
      content: '\f033';
    }

    &link:before {
      content: '\f0c1';
    }

    &image:before {
      content: '\f03e';
    }

    &imageGallery:before {
      content: '\f302';
    }

    &reference:before {
      content: '\e0bb';
    }

    &references:before {
      content: '\f02d';
    }

    &listBullet:before {
      content: '\f0ca';
    }

    &listNumbered:before {
      content: '\f0cb';
    }

    &noWikiText:before {
      content: '\f121';
    }

    &markup:before {
      content: '\f121';
      font-size: 1.2em;
    }

    &newline:before,
    &wrapping:before {
      content: '\f3be';
    }

    &bigger:before {
      content: '\f031';
    }

    &smaller:before {
      content: '\f031';
      font-size: 1em;
    }

    &superscript:before {
      content: '\f12b';
    }

    &subscript:before {
      content: '\f12c';
    }

    &table:before {
      content: '\f0ce';
    }

    &eye:before {
      content: '\f06e';
      font-size: 1rem;
    }

    &wikiText:before {
      content: '\f121';
      font-size: 1rem;
    }

    &undo:before {
      content: '\f0e2';
    }

    &redo:before {
      content: '\f01e';
    }

    &textStyle:before {
      content: '\f031';
    }

    &cancel:before {
      content: '\f05e';
    }

    &expand:before {
      content: '\f078';
    }

    &collapse:before {
      content: '\f077';
    }

    &strikethrough:before {
      content: '\f0cc';
    }

    &code:before {
      content: '\f121';
      font-size: 1rem;
    }

    &underline:before {
      content: '\f0cd';
    }

    &language:before,
    &textLanguage:before {
      content: '\f1ab';
      font-size: 1.05em;
    }

    &specialCharacter:before {
      content: '\40';
    }

    &outdent:before {
      content: '\f03b';
    }

    &indent:before {
      content: '\f03c';
    }

    &puzzle:before {
      content: '\f12e';
    }

    &notice:before,
    &info:before {
      content: '\f05a';
    }

    &help:before {
      content: '\3f';
    }

    &alert:before {
      content: '\f071';
    }

    &signature:before {
      content: '\f5b7';
    }

    &keyboard:before {
      content: '\f11c';
    }

    &speechBubble:before {
      content: '\f27a';
    }

    &window:before {
      content: '\f2d0';
    }

    &pageSettings:before {
      content: '\f1de';
    }

    &textDirRTL:before {
      content: '\f30a';
    }

    &calendar:before {
      content: '\f073';
    }

    &reload:before {
      content: '\f2f9';
    }

    &success:before {
      content: '\f00c';
    }

    &pilcrow:before {
      content: '\f1dd';
    }

    &gotoLine:before {
      content: '\f124';
    }

    &referenceExisting:before {
      content: '\2a';
    }

    &add:before {
      content: '\2b';
    }

    &speechBubbleNotice:before {
      content: '\f075';
    }

    &articleNotFound:before {
      content: '\f806';
    }

    &tabber:before {
      content: '\f0db';
    }
  }

  .oo-ui-indicator- {
    &up:before {
      content: '\f077';
    }

    &down:before {
      content: '\f078';
    }

    &required:before {
      content: '\2a';
    }

    &clear:before {
      content: '\f057';
    }
  }
}
