/*
 * TGUI
 *
 * Core MediaWiki skin tokens
 * Used by supported extensions and other UI in the MW ecosystem
 * @see https://phabricator.wikimedia.org/T349359
 *
 */

@import 'mediawiki.skin.defaults.less';

// Links colors
@color-link: var(--color-hyperlink);
@color-link--visited: var(--color-hyperlink-visited);
@color-link-new: var(--color-hyperlink-new);
@color-link-new--visited: var(--color-hyperlink-new-visited);
@color-link-external: var(--color-hyperlink);
@color-link-external--visited: var(--color-hyperlink-visited);

// Matches WikimediaUI Base and Codex, OOUI/wikimedia
@border-radius-base: var(--border-radius-small);
