@import '../skins.tgui.styles/variables.less';
@import '../skins.tgui.styles/mixins.less';

@keyframes notice {
  form {
    transform: scale(1);
    opacity: 0.5;
  }

  to {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes wip {
  0% {
    box-shadow: var(--shadow) transparent;
  }

  50% {
    box-shadow: var(--shadow) var(--color-secondary);
  }

  100% {
    box-shadow: var(--shadow) transparent;
  }
}

.tgui-pref-notice {
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    height: 0.33rem;
    width: 0.33rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-round);
  }

  &:after {
    background-color: transparent;
    animation: 1.5s notice infinite;
  }
}

.tgui-dropdown-summary[aria-details='tgui-preferences'] {
  span:before {
    transition: transform var(--transition-time);

    details[open] & {
      transform: rotate(180deg);
    }
  }
}

.tgui-preferences {
  &__tabs {
    display: flex;
    padding: 0.25rem 0.25rem 0;
    background-color: var(--color-primal);
  }

  &__tab {
    .tabs-animation();
    cursor: pointer;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 1.875rem;
    padding: 0 0.66rem;
    color: var(--color-text-translucent);
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    transition:
      background-color var(--transition-time),
      color var(--transition-time);

    &:before {
      font: var(--fa-font-solid);
      margin-right: 0.5em;
    }

    &:hover {
      background-color: var(--color-bg-hover);
    }

    &--active {
      cursor: default !important;
      background-color: var(--color-bg-focus) !important;
      color: ~'hsla(var(--primary-hue), 100%, var(--primary-lightness--text))' !important;

      &:after {
        transform: scaleX(1) !important;
      }
    }

    &-content {
      display: none;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      gap: 0.5rem;

      &--active {
        display: flex;
      }
    }
  }
}

#tgui-preferences__tab {
  &-appearance:before {
    content: '\f53f';
  }

  &-accessibility:before {
    content: '\f29a';
  }
}

#tgui-preferences__content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .tgui-menu {
    .tgui-section-mixin();

    &__heading {
      position: relative;
    }

    &__wip {
      --shadow: 0 0 3px 1px;
      position: absolute;
      right: 0.33rem;
      font-size: 0.75rem;
      padding: 0.25em 0.5em;
      background-color: var(--color-secondary);
      background-image: var(--notice-stripes);
      color: var(--color-white);
      border-radius: var(--border-radius-small);
      animation: wip 3s infinite;
    }

    &:nth-child(n + 3) {
      flex: 1 0 10rem;
    }

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      text-align: center;
    }

    li {
      margin: 0;
    }
  }

  // MARK: Preference personal layout
  #skin-client-prefs-tgui-feature {
    &-blur,
    &-font-size,
    &-sticky-header,
    &-reduced-motion,
    &-darkened-images,
    &-holidays {
      form {
        flex-direction: row;

        div {
          flex: 1;
        }
      }
    }
  }

  #skin-client-prefs-tgui-feature-holidays {
    display: none;

    .tgui-holiday-active & {
      display: block;
    }
  }

  #skin-client-prefs-tgui-feature-darkened-images {
    display: none;

    @media (prefers-color-scheme: dark) {
      .skin-theme-clientpref-os & {
        display: block;
      }
    }

    .skin-theme-clientpref-night & {
      display: block;
    }
  }

  #skin-client-prefs-tgui-feature-font-size {
    .tgui-client-prefs-radio:first-child label {
      font-size: 0.875rem;
    }

    .tgui-client-prefs-radio:last-child label {
      font-size: 1.125rem;
    }
  }

  @media (max-width: @max-width-mobile) {
    #skin-client-prefs-tgui-feature-sticky-header {
      display: none;
    }
  }

  .tgui-client-prefs {
    &-radio {
      display: flex;
      justify-content: center;
      height: 2rem;

      input {
        display: none;

        &:checked + label {
          background-color: var(--color-green);
        }
      }

      label {
        .tgui-button();
        flex-grow: 1;
        align-content: center;
        padding: 0 0.5em;
      }
    }

    &-slider {
      display: flex;

      &__input {
        & ~ label {
          inset: 0;
          position: absolute;
          pointer-events: none;
          display: flex;
          align-items: center;
          font-weight: bold;
          font-size: 1.33rem;
          margin-left: 0.33em;
          color: var(--color-white);
          text-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.75);
        }

        & ~ button {
          width: 2rem;
          height: 2rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: @max-width-mobile) {
  #tgui-preferences {
    width: ~'calc(100vw - 1.5rem)'; // Screen width - right x2

    &__content {
      overflow: auto;
      max-height: 25.75rem;
      scrollbar-width: thin;
    }
  }
}
