@import '../skins.tgui.styles/variables.less';
@import '../skins.tgui.styles/mixins.less';

@keyframes notice {
  form {
    transform: scale(1);
    opacity: 0.5;
  }

  to {
    transform: scale(3);
    opacity: 0;
  }
}

.tgui-pref-notice {
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    height: 0.33rem;
    width: 0.33rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-round);
  }

  &:after {
    background-color: transparent;
    animation: 1.5s notice infinite;
  }
}

.tgui-dropdown-summary span:before {
  transition: transform var(--transition-time);

  details[open] & {
    transform: rotate(180deg);
  }
}

#tgui-preferences__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 0.5em;

  @media (max-width: @max-width-mobile) {
    overflow: auto;
    max-height: 25.25rem;
    scrollbar-width: thin;
  }

  .tgui-menu {
    background-color: var(--color-base);
    flex: 1 0 9rem;

    &:nth-child(n + 3) {
      flex: 1 0 10rem;
    }

    &__heading {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      height: 1.75rem;
      border-bottom: 2px solid var(--color-primary);
    }

    &__content {
      padding: 0.5em;
    }

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      text-align: center;
    }

    li {
      margin: 0;
    }
  }

  // Preference personal layout
  #skin-client-prefs-tgui-feature {
    &-reduced-motion,
    &-darkened-images {
      form {
        flex-direction: row;

        div {
          flex: 1;
        }
      }
    }
  }

  #skin-client-prefs-tgui-feature-darkened-images {
    display: none;

    @media (prefers-color-scheme: dark) {
      .skin-theme-clientpref-os & {
        display: block;
      }
    }

    .skin-theme-clientpref-night & {
      display: block;
    }
  }

  .tgui-client-prefs {
    &-radio {
      display: flex;
      justify-content: center;
      height: 2rem;

      input {
        display: none;

        &:checked + label {
          background-color: var(--color-green);
        }
      }

      label {
        .tgui-button();
        align-content: center;
        flex-grow: 1;
      }
    }

    &-slider {
      display: flex;

      &__input {
        & ~ label {
          pointer-events: none;
          position: absolute;
          left: 0.2em;
          padding: 0.25em;
          font-weight: bold;
          font-size: 1.5em;
          color: var(--color-white);
          text-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.75);
        }

        & ~ button {
          width: 2rem;
          height: 2rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
