/* Button Icons */
.oo-ui-buttonElement.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator,
.oo-ui-buttonElement-framed.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
  filter: var(--invert-button-icon);
}

.mw-ui-icon-settings-progressive:before {
  filter: none !important;
}

.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle .oo-ui-iconElement-icon,
.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle .oo-ui-indicatorElement-indicator,
.oo-ui-tool.oo-ui-widget-enabled .oo-ui-iconElement-icon,
.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon,
.oo-ui-toolGroup.oo-ui-widget-disabled:not(.oo-ui-flaggedElement-primary) .oo-ui-indicatorElement-indicator,
.oo-ui-toolGroup.oo-ui-widget-disabled:not(.oo-ui-flaggedElement-primary) .oo-ui-iconElement-icon,
.oo-ui-barToolGroup-tools.oo-ui-toolGroup-enabled-tools .oo-ui-tool.oo-ui-widget-disabled .oo-ui-iconElement-icon,
.oo-ui-barToolGroup-tools.oo-ui-toolGroup-disabled-tools .oo-ui-tool .oo-ui-iconElement-icon,
.oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-disabled .oo-ui-indicatorElement-indicator,
.oo-ui-listToolGroup-tools .oo-ui-tool.oo-ui-widget-disabled .oo-ui-iconElement-icon,
.oo-ui-iconWidget,
.skin-tgui .oo-ui-fieldsetLayout.oo-ui-iconElement > .oo-ui-fieldsetLayout-header .oo-ui-iconElement-icon {
  filter: var(--invert-icon);
}

.oo-ui-icon-checkAll {
  background-image: url(../skins.tgui.styles/images/check-double.svg) !important;
}

.oo-ui-icon-highlight {
  background-image: url(../skins.tgui.styles/images/highlighter.svg) !important;
}

.oo-ui-icon-play {
  background-image: url(../skins.tgui.styles/images/play.svg) !important;
  transform: scale(0.8) !important;
}

.oo-ui-icon-stop {
  background-image: url(../skins.tgui.styles/images/stop.svg) !important;
  transform: scale(0.8) !important;
}

/* Input Icons */
.oo-ui-textInputWidget.oo-ui-iconElement > .oo-ui-iconElement-icon {
  filter: var(--invert-icon);
}

/* Dropdown Icons */
.oo-ui-dropdownWidget-handle .oo-ui-indicatorElement-indicator {
  filter: var(--invert-button-icon);
}

/* Common UI Icons */
.oo-ui-icon-collapse {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  transform: translate(10px, 10px);
  filter: var(--invert-icon);
}

.oo-ui-icon-expand {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  transform: translate(10px, 10px) rotate(-90deg);
  filter: var(--invert-icon);
}

.oo-ui-popupWidget-head > .oo-ui-iconElement-icon,
.oo-ui-decoratedOptionWidget .oo-ui-iconElement-icon {
  filter: var(--invert-icon);
}

.oo-ui-icon-puzzle,
.mw-ui-icon-puzzle:before {
  background-image: url(../skins.tgui.styles/images/puzzle.svg) !important;
  filter: var(--invert-icon);
}

.oo-ui-icon-help,
.mw-ui-icon-help:before {
  background-image: url(../skins.tgui.styles/images/question.svg) !important;
  transform: scale(0.75) !important;
}

.oo-ui-icon-wikimedia-expand,
.mw-ui-icon-wikimedia-expand:before {
  background-image: url(../skins.tgui.styles/images/arrow-down.svg) !important;
  filter: var(--invert-icon);
}
