@import '../variables.less';
@import '../mixins.less';

@selector-sidebar-no-toc-sidebar-closed: ~'.tgui-toc-collapsed @{selector-main-menu-closed}';
@selector-sidebar-no-toc-sidebar-disabled: ~':not(:has(.sidebar-toc)) @{selector-main-menu-closed}';

:root {
  interpolate-size: allow-keywords;
}

.tgui-page {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: var(--index-base);

    &-inner {
      display: flex;
      flex: 1;

      @media (max-width: @max-width-mobile) {
        display: block;
      }
    }
  }

  &-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    @media (max-width: @max-width-mobile) {
      height: 100dvh;
    }

    .mw-body {
      margin: 0.75rem;

      @media (max-width: @max-width-mobile) {
        margin-top: ~'calc(var( --header-full) + 0.75rem)';
      }
    }
  }
}

@{selector-sidebar-no-toc-sidebar-closed},
@{selector-sidebar-no-toc-sidebar-disabled} {
  & ~ .tgui-page-container-inner .tgui-sidebar-container {
    flex: 0;
  }
}
