@import '../variables.less';
@import '../mixins.less';

@selector-sidebar-no-toc-sidebar-closed: ~'.tgui-toc-collapsed @{selector-main-menu-closed}';
@selector-sidebar-no-toc-sidebar-disabled: ~':not(:has(.sidebar-toc)) @{selector-main-menu-closed}';

:root {
  --theme-change-duration: 1s;
  interpolate-size: allow-keywords;
}

::view-transition-group(root) {
  animation-timing-function: ease-in-out;
}

::view-transition-old(root) {
  animation: none var(--theme-change-duration);
  animation-fill-mode: both;
}

::view-transition-new(root) {
  mask: var(--theme-mask) center / 0 no-repeat;
  animation: theme-change var(--theme-change-duration);
  animation-fill-mode: both;
}

@keyframes theme-change {
  0% {
    opacity: 0;
    mask-size: 40%;
  }
  40% {
    opacity: 1;
    mask-size: 40%;
  }
  100% {
    mask-size: 1000%;
  }
}

.tgui-page {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: var(--index-base);

    &-inner {
      display: flex;
      flex: 1;

      @media (max-width: @max-width-mobile) {
        display: block;
      }
    }
  }

  &-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    @media (max-width: @max-width-mobile) {
      height: 100dvh;
    }

    .mw-body {
      margin: 0.75rem;

      @media (max-width: @max-width-mobile) {
        margin-top: ~'calc(var( --header-full) + 0.75rem)';
      }
    }
  }
}

@{selector-sidebar-no-toc-sidebar-closed},
@{selector-sidebar-no-toc-sidebar-disabled} {
  & ~ .tgui-page-container-inner .tgui-sidebar-container {
    flex: 0;
  }
}
