:root {
  /* Text */
  --color-text: black;
  --color-text-darker: hsl(0, 0%, 10%);
  --color-text-gray: hsl(0, 0%, 50%);
  --color-text-translucent: hsl(0, 0%, 50%);
  --color-text-semi-translucent: hsl(0, 0%, 75%);

  /* Other colors */
  --color-white: black;
  --color-primary: black;
  --color-secondary: var(--color-text-darker);

  /* Borders */
  --color-border: hsl(0, 0%, 66%);
  --border-classic: 1pt solid var(--color-border);

  /* Shadows */
  --box-shadow-small: inset 0px 0 0 1pt var(--color-border);
  --box-shadow-medium: inset 0px 0 0 2pt var(--color-border);
  --box-shadow-big: inset 0px 0 0 4pt var(--color-border);

  /* Shadows Inverted */
  --box-shadow-small--inv: var(--box-shadow-small);
  --box-shadow-medium--inv: var(--box-shadow-medium);

  /* Template Shadows */
  --shadow-template--small: var(--box-shadow-small);
  --shadow-template--medium: var(--box-shadow-medium);
  --shadow-template--large: var(--box-shadow-big);
}

aside,
header,
footer,
button,
#tgui-toc,
#catlinks,
.noprint,
.printfooter,
.page-actions,
.nanotrasen-background {
  display: none;
}

*,
html,
body {
  font-family: var(--font-family-base);
}

body {
  margin: 1pt;
}

a {
  color: var(--color-text) !important;
  text-decoration: underline !important;
}

table,
img,
svg {
  break-inside: avoid;
}
