/**
 * TGUI modern layout styles for screen
 *
 * Layout rules divide the page into sections and how TGUIComponents should be arranged in the skin.
 * The rules here should only define the layout, not color or typography.
 */

@import 'grid.less';
@import '../variables.less';
@import 'mediawiki.mixins.less';

@selector-main-menu-closed: ~'#mw-sidebar-checkbox:not( :checked )';
@selector-sidebar-no-toc-sidebar-closed: ~'.tgui-toc-collapsed @{selector-main-menu-closed}';
@selector-sidebar-no-toc-sidebar-disabled: ~':not(:has(.sidebar-toc)) @{selector-main-menu-closed}';

// Content container
@padding-content: @padding-top-content @padding-horizontal-content 1.5em;
@min-width-supported: unit(500px / @font-size-browser, em) - (2 * @padding-horizontal-page-container-wide);

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}

body {
  overflow-y: scroll;
  background-color: var(--color-bg);
  color: var(--color-text-darker);
}

html,
body {
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-base);
}

// Hide Legacy ToC. It will be removed anyway, but we don't need to see it!
#toc {
  display: none;
}

.mw-body,
.parsoid-body {
  direction: ltr;
}

.mw-body {
  background-color: var(--color-bg-section);

  .firstHeading {
    overflow: visible;
    margin-bottom: 0;
    padding: 0.2em 0.4em 0.1em 0.4em;
  }
}

.mw-ui-icon-element::before {
  filter: var(--invert-icon);
}

.mw-body-content {
  padding: 0 0.75em 0.75em 0.75em;
  margin-top: 1em;
}

/* Main column */
.mw-body,
#mw-data-after-content,
.mw-footer {
  margin-left: 0;
}

/* Content */
.mw-indicators {
  z-index: @z-index-indicators;
}

.mw-body-header,
.mw-body-subheader {
  .mixin-clearfix();
}

.mw-body .mw-portlet-lang {
  float: right;
}

.tgui-body {
  position: relative;
  z-index: @z-index-base;

  #contentSub,
  #contentSub2 {
    font-size: 85%;
    line-height: 1.2em;
    margin: 0.5em 0.75em;
    color: var(--color-text-gray);
    width: auto;
  }
}

#left-navigation {
  float: left;
}

#right-navigation {
  float: right;

  #p-cactions {
    margin: 0;
    max-height: 3em;
    font-size: 1.1em;
    color: var(--color-text-translucent);
    border-radius: var(--border-radius-small);
    transition:
      background-color var(--transition-time),
      color var(--transition-time);

    label {
      padding: 0.4em 0.75em;
    }

    &:has(#p-cactions-checkbox:checked) {
      background-color: var(--color-bg-focus);
      color: var(--color-text);
    }

    .tgui-menu-content {
      min-width: auto;
    }
  }

  .tgui-menu-content {
    right: 0;
  }
}

.parsoid-body {
  padding: @padding-content;
}

// Container logic.
.mw-page-container {
  position: relative;
  z-index: 0;
  max-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: @min-width-supported;
}
