/**
 * Don't use these vars for skinning!
 * Use only with ColorPalette template on wiki
 */
:root {
  --palette-saturation: 50%;
  --palette-lightness: 50%;
}

.dark-palette() {
  /* Gray. Default */
  --gray-opaque: ~'hsl(0, 0%, 50%)';
  --gray-primary: ~'hsla(0, 0%, 50%, 0.75)';
  --gray-secondary: ~'hsla(0, 0%, 50%, 0.5)';
  --gray-light: ~'hsla(0, 0%, 50%, 0.25)';
  --gray-transparent: ~'hsla(0, 0%, 50%, 0.1)';
  --grey-opaque: var(--gray-opaque);
  --grey-primary: var(--gray-primary);
  --grey-secondary: var(--gray-secondary);
  --grey-light: var(--gray-light);
  --grey-transparent: var(--gray-transparent);
  /* Black */
  --black-opaque: ~'hsl(0, 0%, 0%)';
  --black-primary: ~'hsla(0, 0%, 20%, 0.75)';
  --black-secondary: ~'hsla(0, 0%, 20%, 0.5)';
  --black-light: ~'hsla(0, 0%, 20%, 0.25)';
  --black-transparent: ~'hsla(0, 0%, 20%, 0.1)';

  /* Cyan */
  --cyan-opaque: ~'hsl(165, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%))';
  --cyan-primary: ~'hsla(166, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.75)';
  --cyan-secondary: ~'hsla(167, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.5)';
  --cyan-light: ~'hsla(168, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.25)';
  --cyan-transparent: ~'hsla(169, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.1)';
  /* Aqua blue */
  --blue-opaque: ~'hsl(180, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%))';
  --blue-primary: ~'hsla(181, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.75)';
  --blue-secondary: ~'hsla(182, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.5)';
  --blue-light: ~'hsla(183, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.25)';
  --blue-transparent: ~'hsla(184, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.1)';
  /* Brown */
  --brown-opaque: ~'hsl(32.5, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 17.5%))';
  --brown-primary: ~'hsla(33.5, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 17.5%), 0.75)';
  --brown-secondary: ~'hsla(34.5, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 17.5%), 0.5)';
  --brown-light: ~'hsla(35.5, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 17.5%), 0.25)';
  --brown-transparent: ~'hsla(36.5, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 17.5%), 0.1)';
  /* Green */
  --green-opaque: ~'hsl(110, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%))';
  --green-primary: ~'hsla(111, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.75)';
  --green-secondary: ~'hsla(112, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.5)';
  --green-light: ~'hsla(113, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.25)';
  --green-transparent: ~'hsla(114, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.1)';
  /* Yellow */
  --yellow-opaque: ~'hsl(50, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%))';
  --yellow-primary: ~'hsla(51, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.75)';
  --yellow-secondary: ~'hsla(52, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.5)';
  --yellow-light: ~'hsla(53, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.25)';
  --yellow-transparent: ~'hsla(54, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.1)';
  /* Light red */
  --red-opaque: ~'hsl(0, calc(var(--palette-saturation) - 10%), var(--palette-lightness))';
  --red-primary: ~'hsla(359, calc(var(--palette-saturation) - 10%), var(--palette-lightness), 0.75)';
  --red-secondary: ~'hsla(358, calc(var(--palette-saturation) - 10%), var(--palette-lightness), 0.5)';
  --red-light: ~'hsla(357, calc(var(--palette-saturation) - 10%), var(--palette-lightness), 0.25)';
  --red-transparent: ~'hsla(356, calc(var(--palette-saturation) - 10%), var(--palette-lightness), 0.1)';
  /* Pink */
  --pink-opaque: ~'hsl(300, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 10%))';
  --pink-primary: ~'hsla(299, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 10%), 0.75)';
  --pink-secondary: ~'hsla(298, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 10%), 0.5)';
  --pink-light: ~'hsla(297, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 10%), 0.25)';
  --pink-transparent: ~'hsla(296, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 10%), 0.1)';
  /* Light green */
  --civilian-opaque: ~'hsl(140, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 15%))';
  --civilian-primary: ~'hsla(141, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 15%), 0.75)';
  --civilian-secondary: ~'hsla(142, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 15%), 0.5)';
  --civilian-light: ~'hsla(143, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 15%), 0.25)';
  --civilian-transparent: ~'hsla(144, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 15%), 0.1)';
  /* Blue */
  --medical-opaque: ~'hsl(195, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%))';
  --medical-primary: ~'hsla(194, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%), 0.75)';
  --medical-secondary: ~'hsla(193, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%), 0.5)';
  --medical-light: ~'hsla(192, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%), 0.25)';
  --medical-transparent: ~'hsla(191, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%), 0.1)';
  /* Light brown */
  --supply-opaque: ~'hsl(35, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) - 5%))';
  --supply-primary: ~'hsla(34, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) - 5%), 0.75)';
  --supply-secondary: ~'hsla(33, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) - 5%), 0.5)';
  --supply-light: ~'hsla(32, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) - 5%), 0.25)';
  --supply-transparent: ~'hsla(31, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) - 5%), 0.1)';
  /* Purple */
  --science-opaque: ~'hsl(275, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 15%))';
  --science-primary: ~'hsla(274, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 15%), 0.75)';
  --science-secondary: ~'hsla(273, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 15%), 0.5)';
  --science-light: ~'hsla(272, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 15%), 0.25)';
  --science-transparent: ~'hsla(270, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 15%), 0.1)';
  /* Orange */
  --engineer-opaque: ~'hsl(40, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%))';
  --engineer-primary: ~'hsla(41, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.75)';
  --engineer-secondary: ~'hsla(42, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.5)';
  --engineer-light: ~'hsla(43, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.25)';
  --engineer-transparent: ~'hsla(44, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 15%), 0.1)';
  /* Red */
  --security-opaque: ~'hsl(0, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%))';
  --security-primary: ~'hsla(359, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%), 0.75)';
  --security-secondary: ~'hsla(358, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%), 0.5)';
  --security-light: ~'hsla(357, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%), 0.25)';
  --security-transparent: ~'hsla(356, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%), 0.1)';
  /* Dark red */
  --antag-opaque: ~'hsl(0, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 17.5%))';
  --antag-primary: ~'hsla(359, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 17.5%), 0.75)';
  --antag-secondary: ~'hsla(358, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 17.5%), 0.5)';
  --antag-light: ~'hsla(357, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 17.5%), 0.25)';
  --antag-transparent: ~'hsla(356, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 17.5%), 0.1)';
  /* Magenta Pink */
  --legal-opaque: ~'hsl(325, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) - 10%))';
  --legal-primary: ~'hsla(324, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) - 10%), 0.75)';
  --legal-secondary: ~'hsla(323, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) - 10%), 0.5)';
  --legal-light: ~'hsla(322, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) - 10%), 0.25)';
  --legal-transparent: ~'hsla(321, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) - 10%), 0.1)';
  /* Blue Ribbon */
  --command-opaque: ~'hsl(216, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 10%))';
  --command-primary: ~'hsla(217, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 10%), 0.75)';
  --command-secondary: ~'hsla(218, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 10%), 0.5)';
  --command-light: ~'hsla(219, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 10%), 0.25)';
  --command-transparent: ~'hsla(220, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) - 10%), 0.1)';
  /* Blue Azure */
  --synthetic-opaque: ~'hsl(210, calc(var(--palette-saturation) - 20%), calc(var(--palette-lightness) - 10%))';
  --synthetic-primary: ~'hsla(211, calc(var(--palette-saturation) - 20%), calc(var(--palette-lightness) - 10%), 0.75)';
  --synthetic-secondary: ~'hsla(212, calc(var(--palette-saturation) - 20%), calc(var(--palette-lightness) - 10%), 0.5)';
  --synthetic-light: ~'hsla(213, calc(var(--palette-saturation) - 20%), calc(var(--palette-lightness) - 10%), 0.25)';
  --synthetic-transparent: ~'hsla(214, calc(var(--palette-saturation) - 20%), calc(var(--palette-lightness) - 10%), 0.1)';
  /* Dark Purple */
  --special-opaque: ~'hsl(260, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%))';
  --special-primary: ~'hsla(259, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.75)';
  --special-secondary: ~'hsla(258, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.5)';
  --special-light: ~'hsla(257, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.25)';
  --special-transparent: ~'hsla(256, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 15%), 0.1)';
  /* Dark Blue */
  --centcom-opaque: ~'hsl(210, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 25%))';
  --centcom-primary: ~'hsla(211, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 25%), 0.75)';
  --centcom-secondary: ~'hsla(212, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 25%), 0.5)';
  --centcom-light: ~'hsla(213, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 25%), 0.25)';
  --centcom-transparent: ~'hsla(214, calc(var(--palette-saturation) + 50%), calc(var(--palette-lightness) - 25%), 0.1)';
  /* Lava orange */
  --lavaland-opaque: ~'hsl(15, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%))';
  --lavaland-primary: ~'hsla(14, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%), 0.75)';
  --lavaland-secondary: ~'hsla(13, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%), 0.5)';
  --lavaland-light: ~'hsla(12, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%), 0.25)';
  --lavaland-transparent: ~'hsla(11, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 10%), 0.1)';
  /* Black red */
  --cult-opaque: ~'hsl(0, calc(var(--palette-saturation) - 25%), calc(var(--palette-lightness) - 25%))';
  --cult-primary: ~'hsla(359, calc(var(--palette-saturation) - 25%), calc(var(--palette-lightness) - 25%), 0.75)';
  --cult-secondary: ~'hsla(358, calc(var(--palette-saturation) - 20%), calc(var(--palette-lightness) - 30%), 0.5)';
  --cult-light: ~'hsla(357, calc(var(--palette-saturation) - 20%), calc(var(--palette-lightness) - 30%), 0.25)';
  --cult-transparent: ~'hsla(356, calc(var(--palette-saturation) - 20%), calc(var(--palette-lightness) - 30%), 0.1)';
  /* Dark orange */
  --ratvar-opaque: ~'hsl(40, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 27.5%))';
  --ratvar-primary: ~'hsla(39, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 27.5%), 0.75)';
  --ratvar-secondary: ~'hsla(38, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 27.5%), 0.5)';
  --ratvar-light: ~'hsla(37, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 27.5%), 0.25)';
  --ratvar-transparent: ~'hsla(36, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 27.5%), 0.1)';
  /* Magic purple */
  --wizard-opaque: ~'hsl(260, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%))';
  --wizard-primary: ~'hsla(259, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%), 0.75)';
  --wizard-secondary: ~'hsla(258, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%), 0.5)';
  --wizard-light: ~'hsla(257, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%), 0.25)';
  --wizard-transparent: ~'hsla(256, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 5%), 0.1)';
}

.light-palette() {
  --palette-lightness: 42.5%;

  /* Gray. Default */
  --gray-opaque: ~'hsl(0, 0%, 50%)';
  --gray-primary: ~'hsla(0, 0%, 50%, 0.75)';
  --gray-secondary: ~'hsla(0, 0%, 50%, 0.5)';
  --gray-light: ~'hsla(0, 0%, 50%, 0.25)';
  --gray-transparent: ~'hsla(0, 0%, 50%, 0.1)';
  --grey-opaque: var(--gray-opaque);
  --grey-primary: var(--gray-primary);
  --grey-secondary: var(--gray-secondary);
  --grey-light: var(--gray-light);
  --grey-transparent: var(--gray-transparent);
  /* Black */
  --black-opaque: ~'hsl(0, 0%, 0%)';
  --black-primary: ~'hsla(0, 0%, 0%, 0.75)';
  --black-secondary: ~'hsla(0, 0%, 0%, 0.5)';
  --black-light: ~'hsla(0, 0%, 0%, 0.25)';
  --black-transparent: ~'hsla(0, 0%, 0%, 0.1)';

  /* Cyan */
  --cyan-opaque: ~'hsl(165, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 10%))';
  --cyan-primary: ~'hsla(164, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 10%), 0.75)';
  --cyan-secondary: ~'hsla(163, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 10%), 0.5)';
  --cyan-light: ~'hsla(162, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 10%), 0.25)';
  --cyan-transparent: ~'hsla(161, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 10%), 0.1)';
  /* Aqua blue */
  --blue-opaque: ~'hsl(180, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 5%))';
  --blue-primary: ~'hsla(179, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 5%), 0.75)';
  --blue-secondary: ~'hsla(178, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 5%), 0.5)';
  --blue-light: ~'hsla(177, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 5%), 0.25)';
  --blue-transparent: ~'hsla(176, calc(var(--palette-saturation) + 5%), calc(var(--palette-lightness) + 5%), 0.1)';
  /* Brown */
  --brown-opaque: ~'hsl(35, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 7.5%))';
  --brown-primary: ~'hsla(34, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 7.5%), 0.75)';
  --brown-secondary: ~'hsla(33, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 7.5%), 0.5)';
  --brown-light: ~'hsla(32, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 7.5%), 0.25)';
  --brown-transparent: ~'hsla(31, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) - 7.5%), 0.1)';
  /* Green */
  --green-opaque: ~'hsl(110, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 5%))';
  --green-primary: ~'hsla(109, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 5%), 0.75)';
  --green-secondary: ~'hsla(108, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 5%), 0.5)';
  --green-light: ~'hsla(107, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 5%), 0.25)';
  --green-transparent: ~'hsla(106, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 5%), 0.1)';
  /* Yellow */
  --yellow-opaque: ~'hsl(50, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%))';
  --yellow-primary: ~'hsla(49, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.75)';
  --yellow-secondary: ~'hsla(48, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.5)';
  --yellow-light: ~'hsla(47, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.25)';
  --yellow-transparent: ~'hsla(46, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.1)';
  /* Light red */
  --red-opaque: ~'hsl(0, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 15%))';
  --red-primary: ~'hsla(1, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 15%), 0.75)';
  --red-secondary: ~'hsla(2, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 15%), 0.5)';
  --red-light: ~'hsla(3, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 15%), 0.25)';
  --red-transparent: ~'hsla(4, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 15%), 0.1)';
  /* Pink */
  --pink-opaque: ~'hsl(300, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%))';
  --pink-primary: ~'hsla(301, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%), 0.75)';
  --pink-secondary: ~'hsla(302, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%), 0.5)';
  --pink-light: ~'hsla(303, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%), 0.25)';
  --pink-transparent: ~'hsla(304, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%), 0.1)';
  /* Light green */
  --civilian-opaque: ~'hsl(140, var(--palette-saturation), var(--palette-lightness))';
  --civilian-primary: ~'hsla(139, var(--palette-saturation), var(--palette-lightness), 0.75)';
  --civilian-secondary: ~'hsla(138, var(--palette-saturation), var(--palette-lightness), 0.5)';
  --civilian-light: ~'hsla(137, var(--palette-saturation), var(--palette-lightness), 0.25)';
  --civilian-transparent: ~'hsla(136, var(--palette-saturation), var(--palette-lightness), 0.1)';
  /* Blue */
  --medical-opaque: ~'hsl(195, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 5%))';
  --medical-primary: ~'hsla(194, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 5%), 0.75)';
  --medical-secondary: ~'hsla(193, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 5%), 0.5)';
  --medical-light: ~'hsla(192, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 5%), 0.25)';
  --medical-transparent: ~'hsla(191, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) + 5%), 0.1)';
  /* Light brown */
  --supply-opaque: ~'hsl(35, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) + 5%))';
  --supply-primary: ~'hsla(34, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) + 5%), 0.75)';
  --supply-secondary: ~'hsla(33, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) + 5%), 0.5)';
  --supply-light: ~'hsla(32, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) + 5%), 0.25)';
  --supply-transparent: ~'hsla(31, calc(var(--palette-saturation) - 10%), calc(var(--palette-lightness) + 5%), 0.1)';
  /* Purple */
  --science-opaque: ~'hsl(275, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 15%))';
  --science-primary: ~'hsla(276, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 15%), 0.75)';
  --science-secondary: ~'hsla(277, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 15%), 0.5)';
  --science-light: ~'hsla(278, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 15%), 0.25)';
  --science-transparent: ~'hsla(279, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) + 15%), 0.1)';
  /* Orange */
  --engineer-opaque: ~'hsl(40, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%))';
  --engineer-primary: ~'hsla(39, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.75)';
  --engineer-secondary: ~'hsla(38, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.5)';
  --engineer-light: ~'hsla(37, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.25)';
  --engineer-transparent: ~'hsla(36, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.1)';
  /* Red */
  --security-opaque: ~'hsl(0, calc(var(--palette-saturation) + 15%), var(--palette-lightness))';
  --security-primary: ~'hsla(1, calc(var(--palette-saturation) + 15%), var(--palette-lightness), 0.75)';
  --security-secondary: ~'hsla(2, calc(var(--palette-saturation) + 15%), var(--palette-lightness), 0.5)';
  --security-light: ~'hsla(3, calc(var(--palette-saturation) + 15%), var(--palette-lightness), 0.25)';
  --security-transparent: ~'hsla(4, calc(var(--palette-saturation) + 15%), var(--palette-lightness), 0.1)';
  /* Dark red */
  --antag-opaque: ~'hsl(0, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 12.5%))';
  --antag-primary: ~'hsla(1, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 12.5%), 0.75)';
  --antag-secondary: ~'hsla(2, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 12.5%), 0.5)';
  --antag-light: ~'hsla(3, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 12.5%), 0.25)';
  --antag-transparent: ~'hsla(4, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) - 12.5%), 0.1)';
  /* Magenta Pink */
  --legal-opaque: ~'hsl(325, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%))';
  --legal-primary: ~'hsla(326, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%), 0.75)';
  --legal-secondary: ~'hsla(327, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%), 0.5)';
  --legal-light: ~'hsla(328, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%), 0.25)';
  --legal-transparent: ~'hsla(329, calc(var(--palette-saturation) + 20%), calc(var(--palette-lightness) + 10%), 0.1)';
  /* Blue Ribbon */
  --command-opaque: ~'hsl(215, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) + 10%))';
  --command-primary: ~'hsla(214, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) + 10%), 0.75)';
  --command-secondary: ~'hsla(213, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) + 10%), 0.5)';
  --command-light: ~'hsla(212, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) + 10%), 0.25)';
  --command-transparent: ~'hsla(211, calc(var(--palette-saturation) + 30%), calc(var(--palette-lightness) + 10%), 0.1)';
  /* Blue Azure */
  --synthetic-opaque: ~'hsl(210, calc(var(--palette-saturation) - 5%), calc(var(--palette-lightness) + 10%))';
  --synthetic-primary: ~'hsla(209, calc(var(--palette-saturation) - 5%), calc(var(--palette-lightness) + 10%), 0.75)';
  --synthetic-secondary: ~'hsla(208, calc(var(--palette-saturation) - 5%), calc(var(--palette-lightness) + 10%), 0.5)';
  --synthetic-light: ~'hsla(207, calc(var(--palette-saturation) - 5%), calc(var(--palette-lightness) + 10%), 0.25)';
  --synthetic-transparent: ~'hsla(206, calc(var(--palette-saturation) - 5%), calc(var(--palette-lightness) + 10%), 0.1)';
  /* Dark Purple */
  --special-opaque: ~'hsl(260, var(--palette-saturation), calc(var(--palette-lightness) + 5%))';
  --special-primary: ~'hsla(261, var(--palette-saturation), calc(var(--palette-lightness) + 5%), 0.75)';
  --special-secondary: ~'hsla(262, var(--palette-saturation), calc(var(--palette-lightness) + 5%), 0.5)';
  --special-light: ~'hsla(263, var(--palette-saturation), calc(var(--palette-lightness) + 5%), 0.25)';
  --special-transparent: ~'hsla(264, var(--palette-saturation), calc(var(--palette-lightness) + 5%), 0.1)';
  /* Dark Blue */
  --centcom-opaque: ~'hsl(210, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 10%))';
  --centcom-primary: ~'hsla(209, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 10%), 0.75)';
  --centcom-secondary: ~'hsla(208, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 10%), 0.5)';
  --centcom-light: ~'hsla(207, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 10%), 0.25)';
  --centcom-transparent: ~'hsla(206, calc(var(--palette-saturation) + 10%), calc(var(--palette-lightness) - 10%), 0.1)';
  /* Lava orange */
  --lavaland-opaque: ~'hsl(15, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%))';
  --lavaland-primary: ~'hsla(16, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.75)';
  --lavaland-secondary: ~'hsla(17, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.5)';
  --lavaland-light: ~'hsla(18, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.25)';
  --lavaland-transparent: ~'hsla(19, calc(var(--palette-saturation) + 25%), calc(var(--palette-lightness) + 5%), 0.1)';
  /* Black red */
  --cult-opaque: ~'hsl(0, calc(var(--palette-saturation) - 17.5%), calc(var(--palette-lightness) - 12.5%))';
  --cult-primary: ~'hsla(1, calc(var(--palette-saturation) - 17.5%), calc(var(--palette-lightness) - 12.5%), 0.75)';
  --cult-secondary: ~'hsla(2, calc(var(--palette-saturation) - 17.5%), calc(var(--palette-lightness) - 12.5%), 0.5)';
  --cult-light: ~'hsla(3, calc(var(--palette-saturation) - 17.5%), calc(var(--palette-lightness) - 12.5%), 0.25)';
  --cult-transparent: ~'hsla(4, calc(var(--palette-saturation) - 17.5%), calc(var(--palette-lightness) - 12.5%), 0.1)';
  /* Dark orange */
  --ratvar-opaque: ~'hsl(40, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 22.5%))';
  --ratvar-primary: ~'hsla(39, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 22.5%), 0.75)';
  --ratvar-secondary: ~'hsla(38, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 22.5%), 0.5)';
  --ratvar-light: ~'hsla(37, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 22.5%), 0.25)';
  --ratvar-transparent: ~'hsla(36, calc(var(--palette-saturation) + 15%), calc(var(--palette-lightness) - 22.5%), 0.1)';
  /* Magic purple */
  --wizard-opaque: ~'hsl(260, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) + 10%))';
  --wizard-primary: ~'hsla(261, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) + 10%), 0.75)';
  --wizard-secondary: ~'hsla(262, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) + 10%), 0.5)';
  --wizard-light: ~'hsla(263, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) + 10%), 0.25)';
  --wizard-transparent: ~'hsla(264, calc(var(--palette-saturation) + 40%), calc(var(--palette-lightness) + 10%), 0.1)';
}
