/**
 * TGUI modern layout styles for screen
 *
 * Layout rules divide the page into sections and how TGUIComponents should be arranged in the skin.
 * The rules here should only define the layout, not color or typography.
 */

html {
  scroll-padding-top: 4.75rem;

  &.search-focus {
    scroll-padding-top: 0 !important;
  }
}

html,
body {
  accent-color: var(--color-primary);
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-base);
  background-color: var(--color-bg);
  color: var(--color-text-darker);
}

body {
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

.mw-body,
.parsoid-body {
  direction: ltr;
}

.mw-body {
  background-color: var(--color-primal);

  .firstHeading {
    overflow: visible;
    margin-bottom: 0;
    padding: 0.2em 0.4em 0.1em 0.4em;
  }
}

/* Main column */
.mw-body,
.mw-footer,
#mw-data-after-content {
  margin-left: 0;
}

/* Content */
.tgui-body {
  position: relative;
  margin-top: 0.75rem;
  padding: 0 0.75rem 0.75rem;
  z-index: var(--index-base);

  #contentSub,
  #contentSub2 {
    font-size: 85%;
    line-height: 1.2em;
    margin: 0.5em 0.75em;
    color: var(--color-text-gray);
    width: auto;
  }
}

// Creates a fitted container with blur
.tgui-blur {
  position: absolute;
  inset: 0;
  backdrop-filter: var(--blur-default);
  z-index: var(--index-lower);
}

/**
 * Creates a fitted container with base background color.
 * Usefull if you don't want to use blur, but want to mix colors.
 */
.tgui-background {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: var(--color-primal-immutable);
    inset: 0;
    z-index: var(--index-low);
  }
}

.nanotrasen-background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%);
  opacity: var(--bg-image-opacity);
  will-change: transform;
  z-index: -5;
}

::selection {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

::-moz-selection {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

@media (min-width: @min-width-breakpoint-tablet) {
  // Delay scroll animation won't happen on load
  // Use it only for larger viewport as it is very costly
  // on mobile devices
  html.tgui-animations-ready {
    scroll-behavior: smooth;
  }
}

@media (max-width: @max-width-mobile) {
  iframe {
    width: 100%;
  }

  .mobile-support {
    overflow: auto !important;
    width: fit-content !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    clear: none !important;
    float: none !important;
  }
}
