@import '../variables.less';

// MARK: Themes
.skin-theme-clientpref-os {
  @media (prefers-color-scheme: dark) {
    :root& {
      .dark-theme();
      .dark-palette();
    }
  }

  @media (prefers-color-scheme: light) {
    :root& {
      .light-theme();
      .light-palette();
    }
  }
}

.skin-theme-clientpref-night {
  :root& {
    .dark-theme();
    .dark-palette();
  }
}

.skin-theme-clientpref-day {
  :root& {
    .light-theme();
    .light-palette();
  }
}

// MARK: Styles - NTOS
.dark-ntos() {
  --primary-hue: 212.5;
  --primary-saturacy: 30%;
  --primary-lightness: 35%;
  --color-bg: hsl(212.5, 30.75%, 15.3%);
  --color-primal-blur: hsla(213.75, 20%, 9%, 0.85);
  --color-primal-fill: hsl(213.75, 30.75%, 10.2%);
}

.light-ntos() {
  --primary-hue: 212.5;
  --primary-lightness: 45%;
  --color-primal: hsla(213.75, 50%, 80%, 0.33);
  --color-primal-blur: hsla(213.75, 50%, 92.5%, 0.85);
  --color-primal-fill: hsl(215, 52%, 94%);
}

.skin-theme-clientpref-os.skin-theme-style-clientpref-ntos {
  @media (prefers-color-scheme: dark) {
    :root& {
      .dark-ntos();
    }
  }

  @media (prefers-color-scheme: light) {
    :root& {
      .light-ntos();
    }
  }
}

.skin-theme-clientpref-night.skin-theme-style-clientpref-ntos {
  :root& {
    .dark-ntos();
  }
}

.skin-theme-clientpref-day.skin-theme-style-clientpref-ntos {
  :root& {
    .light-ntos();
  }
}

// MARK: Styles - Paradise
.dark-paradise() {
  --primary-hue: 340;
  --color-bg: hsl(340, 50%, 14.5%);
  --color-primal-blur: hsla(342, 50%, 9%, 0.85);
  --color-primal-fill: hsl(337.78, 50%, 9.75%);
}

.light-paradise() {
  --primary-hue: 340;
  --color-primal: hsla(340, 50%, 80%, 0.33);
  --color-primal-blur: hsla(340, 50%, 92.5%, 0.85);
  --color-primal-fill: hsl(339, 52%, 94%);
}

.skin-theme-clientpref-os.skin-theme-style-clientpref-paradise {
  @media (prefers-color-scheme: dark) {
    :root& {
      .dark-paradise();
    }
  }

  @media (prefers-color-scheme: light) {
    :root& {
      .light-paradise();
    }
  }
}

.skin-theme-clientpref-night.skin-theme-style-clientpref-paradise {
  :root& {
    .dark-paradise();
  }
}

.skin-theme-clientpref-day.skin-theme-style-clientpref-paradise {
  :root& {
    .light-paradise();
  }
}

// MARK: Font size
.tgui-feature-font-size-clientpref-small {
  :root& {
    --font-size-base: 0.875rem;
  }
}

.tgui-feature-font-size-clientpref-large {
  :root& {
    --font-size-base: 1.125rem;
  }
}

// MARK: Sticky header
@media (min-width: @min-width-tablet) {
  .tgui-feature-sticky-header-clientpref-enabled {
    #tgui-page-header {
      position: sticky;
      top: var(--header-full);
      transition-duration: var(--transition-time);
      transition-property: background-color, backdrop-filter;
      z-index: 1;

      &:before {
        .tgui-dropshadow-like();
      }
    }

    body.tgui-off-top {
      #tgui-page-header {
        background-color: var(--color-primal-blur);
        backdrop-filter: var(--blur-default);

        &:before {
          opacity: 1;
        }
      }

      #tgui-scroll-to-top {
        visibility: visible;
        opacity: 1;
      }
    }

    #tgui-scroll-to-top {
      position: unset;
      box-shadow: none;
      transform: none;
      transition-property: opacity, visibility;
    }
  }
}

// MARK: Blur
.tgui-feature-blur-clientpref-disabled {
  @media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
    :root& {
      --blur-default: none;
      --color-primal-blur: var(--color-primal-fill) !important;
      --color-second-blur: var(--color-second-fill) !important;
    }
  }

  .skin-theme-clientpref-day,
  .skin-theme-clientpref-night {
    :root& {
      --blur-default: none;
      --color-primal-blur: var(--color-primal-fill) !important;
      --color-second-blur: var(--color-second-fill) !important;
    }
  }
}

// MARK: Darkened Images
.tgui-feature-darkened-images-clientpref-light {
  html,
  body {
    :root.skin-theme-clientpref-night& {
      img {
        filter: brightness(0.9);
      }
    }

    @media (prefers-color-scheme: dark) {
      :root.skin-theme-clientpref-os& {
        img {
          filter: brightness(0.9);
        }
      }
    }
  }
}

.tgui-feature-darkened-images-clientpref-medium {
  html,
  body {
    :root.skin-theme-clientpref-night& {
      img {
        filter: brightness(0.75);
      }
    }

    @media (prefers-color-scheme: dark) {
      :root.skin-theme-clientpref-os& {
        img {
          filter: brightness(0.75);
        }
      }
    }
  }
}

// MARK: Reduced Motion
.tgui-feature-reduced-motion-clientpref-enabled {
  :root& {
    --transition-time: 0;
  }
}
