@import '../mixins.less';

.skin-tgui {
  .toccolours {
    overflow: hidden;
    position: relative;
    font-size: 0.95em;
    padding: 0.5em;
    margin-bottom: 0.75em;
    background-color: var(--color-second);
    border: var(--border-classic);
    border-radius: var(--border-radius-medium);
    backdrop-filter: var(--blur-default);

    &:first-child,
    &:first-of-type {
      margin-top: 0.75em;
    }

    &:last-child,
    &:last-of-type {
      margin-bottom: 0;
    }

    .mw-collapsible-content {
      display: block !important;
      overflow: hidden;
      height: 0;
      transition-property: height;
      transition-duration: var(--transition-time);
    }
  }
}
