#mw-panel.collapsible-nav {
  .portal:not(.first) {
    .tgui-menu-heading {
      cursor: pointer;
      user-select: none;

      &:before {
        content: '';
        display: inline-block;
        background-image: url(../skins.tgui.styles/images/arrow-down.svg);
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        filter: var(--invert-icon);
        transform: rotate(0deg) translateX(-2px);
        transition: transform var(--transition-time);

        @media (max-width: @max-width-mobile) {
          width: 16px;
          height: 15px;
        }
      }

      a {
        color: var(--color-text-darker);
      }
    }

    &.collapsed {
      .tgui-menu-heading:before {
        transform: rotate(-90deg) translateY(-2px);
      }
    }

    .tgui-menu-content {
      position: relative;
      overflow: hidden;
      max-height: 0;
      transition: max-height var(--transition-time);

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-primary);
        transform-origin: center;
        transition: transform var(--transition-time);
      }
    }

    &.collapsed .tgui-menu-content:before {
      transform: scaleX(0);
    }

    /* First */
    &.first {
      background-image: none;
    }

    /* Persistent */
    &.persistent {
      .tgui-menu-content {
        display: block;
      }

      .tgui-menu-heading {
        cursor: default;

        &:before {
          background-image: none !important;
          cursor: default;
        }
      }
    }
  }
}
