<header class="tgui-header mw-header">
	<div class="tgui-header-content">
		<div class="tgui-header-content__left">
			<label id="tgui-sidebar-button" class="tgui-dropdown-summary" for="tgui-sidebar-checkbox">
				<span class="tgui-icon"></span>
			</label>
			{{#data-logos}}{{>Logo}}{{/data-logos}}
		</div>
		<div class="tgui-header-content__middle">
			{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
		</div>
		<div class="tgui-header-content__right">
			{{#data-portlets.data-notifications}}{{>Menu}}{{/data-portlets.data-notifications}}
			{{>Preferences}}
			{{>UserMenu}}
		</div>
	</div>
	<div class="tgui-blur-important"></div>
</header>
