{{!
	object data-page-views
	object data-page-associated-pages
	object data-page-actions
}}
<div class="page-actions">
	<div class="page-actions__left">
			{{#data-portlets.data-associated-pages}}{{>Menu}}{{/data-portlets.data-associated-pages}}
	</div>
	<div class="page-actions__right">
		{{#is-visible}}
			{{#data-portlets.data-views}}{{>Menu}}{{/data-portlets.data-views}}
			{{^data-portlets.data-actions.is-empty}}
				{{#data-portlets.data-actions}}{{>PageTools__more}}{{/data-portlets.data-actions}}
			{{/data-portlets.data-actions.is-empty}}
		{{/is-visible}}
	</div>
</div>
