<header class="mw-body-header tgui-page-header" id="tgui-page-header">
	<div class="tgui-page-header-inner">
		{{#data-page-heading}}{{>PageHeading}}{{/data-page-heading}}
		{{#data-page-tools}}{{>PageTools}}{{/data-page-tools}}
	</div>
</header>
