{{!
	Indicator[] array-indicators wiki-defined badges such as "good article",
		"featured article". An empty array if none are defined.
	string html-title-heading--formatted
	string html-tagline
	string html-tgui-jumptotop Jump to top title text
}}
<div class="tgui-page-heading">
	<div class="firstHeading-container">
		{{>Indicators}}
		{{{html-title-heading}}}
	</div>
	<a href="#top" class="tgui-jumptotop" title="{{msg-tgui-jumptotop}}"></a>
</div>
<div id="tgui-page-header-sentinel"></div>
