{{!
	string msg-tgui-preferences-toggle The label used by the preferences button.
}}
<div class="tgui-dropdown">
	<details id="tgui-preferences-details" class="tgui-dropdown-details">
		<summary
			class="tgui-dropdown-summary"
			title="{{msg-tgui-preferences}}"
			aria-details="tgui-preferences">
			<span class="tgui-icon tgui-icon-settings"></span>
		</summary>
	</details>
	<div id="tgui-preferences" class="tgui-window">
		<div id="tgui-preferences__header" class="tgui-window__header">{{msg-tgui-preferences}}</div>
		<div id="tgui-preferences__content" class="tgui-window__content"></div>
	</div>
</div>
