<nav id="tgui-panel" class="tgui-sidebar" role="navigation">
	<div class="tgui-sidebar-content">
		{{#data-portlets-first}}{{>Menu}}{{/data-portlets-first}}
		{{#array-portlets-rest}}{{>Menu}}{{/array-portlets-rest}}
	</div>
	<div class="tgui-blur"></div>
</nav>
<div id="tgui-panel-mbg"></div>
