{{!
	string html-subtitle
	string html-undelete-link
	string html-body-content
	string html-categories
	string html-after-content
	object data-portlets-sidebar. See Sidebar.mustache for documentation.
	object data-footer for footer template partial. see Footer.mustache for documentation.
}}
<div class="tgui-page-container">
	{{>Header}}
	<div class="tgui-page-container-inner">
		<input type="checkbox" id="tgui-sidebar-checkbox" class="mw-checkbox-hack-checkbox">
		<input type="checkbox" id="tgui-toc-collapsed-checkbox" class="mw-checkbox-hack-checkbox">
		<aside class="tgui-sidebar-container">
			{{#data-portlets-sidebar}}{{>Sidebar}}{{/data-portlets-sidebar}}
			{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
		</aside>
		<div id="bodyContent" class="tgui-page-content-container">
			<main id="content" class="mw-body" role="main">
				{{>PageHeader}}
				<div id="bodyContent" class="tgui-body" data-mw-ve-target-container>
					{{#html-subtitle}}<div id="contentSub"{{{html-user-language-attributes}}}>{{{.}}}</div>{{/html-subtitle}}
					{{#html-undelete-link}}<div id="contentSub2">{{{.}}}</div>{{/html-undelete-link}}
					{{{html-user-message}}}
					{{{html-body-content}}}
					{{{html-categories}}}
				</div>
			</main>
			{{{html-after-content}}}
			<div class="mw-footer-container">
				{{#data-footer}}{{>Footer}}{{/data-footer}}
			</div>
		</div>
	</div>
</div>
