<div class="tgui-userInfo">
	<div class="tgui-userInfo-title">
		{{#title}}<div>{{.}}</div>{{/title}}
		{{#data-user-page}}{{>Menu}}{{/data-user-page}}
	</div>
	<div class="tgui-userInfo-text">
		{{#text}}<div>{{.}}</div>{{/text}}
		{{#data-user-groups}}
			<ul class="tgui-userInfo-usergroups">
					{{#array-list-items}}{{>MenuListItem}}{{/array-list-items}}
			</ul>
		{{/data-user-groups}}
	</div>
	{{#data-user-edit}}
		<div class="tgui-userInfo-edits">
			<div class="tgui-userInfo-edits-count">{{count}}</div>
			<div class="tgui-userInfo-edits-label">{{label}}</div>
		</div>
	{{/data-user-edit}}
</div>
