/**
 * Don't use these vars for skinning!
 * Use only with ColorPalette template on wiki
 */
.dark-palette() {
  /* Gray. Default */
  --gray-opaque: rgba(127, 127, 127, 1);
  --gray-primary: rgba(127, 127, 127, 0.75);
  --gray-secondary: rgba(127, 127, 127, 0.5);
  /* Black */
  --black-opaque: rgba(0, 0, 0, 1);
  --black-primary: rgba(0, 0, 0, 0.75);
  --black-secondary: rgba(0, 0, 0, 0.5);
  /* Cyan */
  --cyan-opaque: rgba(0, 230, 172, 1);
  --cyan-primary: rgba(0, 230, 172, 0.75);
  --cyan-secondary: rgba(0, 230, 172, 0.5);
  /* Aqua blue */
  --blue-opaque: rgba(27, 179, 179, 1);
  --blue-primary: rgba(27, 179, 179, 0.75);
  --blue-secondary: rgba(27, 179, 179, 0.5);
  /* Brown */
  --brown-opaque: rgba(166, 107, 25, 1);
  --brown-primary: rgba(166, 107, 25, 0.75);
  --brown-secondary: rgba(166, 107, 25, 0.5);
  /* Green */
  --green-opaque: rgba(55, 166, 33, 1);
  --green-primary: rgba(55, 166, 33, 0.75);
  --green-secondary: rgba(55, 166, 33, 0.5);
  /* Yellow */
  --yellow-opaque: rgba(217, 199, 0, 1);
  --yellow-primary: rgba(217, 199, 0, 0.75);
  --yellow-secondary: rgba(217, 199, 0, 0.5);
  /* Light red */
  --red-opaque: rgba(205, 51, 51, 1);
  --red-primary: rgba(205, 51, 51, 0.75);
  --red-secondary: rgba(205, 51, 51, 0.5);
  /* Pink */
  --pink-opaque: rgba(179, 36, 179, 1);
  --pink-primary: rgba(179, 36, 179, 0.75);
  --pink-secondary: rgba(179, 36, 179, 0.5);
  /* Light green */
  --civilian-opaque: rgba(29, 191, 83, 1);
  --civilian-primary: rgba(29, 191, 83, 0.75);
  --civilian-secondary: rgba(29, 191, 83, 0.5);
  /* Blue */
  --medical-opaque: rgba(33, 171, 217, 1);
  --medical-primary: rgba(0, 154, 205, 0.75);
  --medical-secondary: rgba(33, 171, 217, 0.5);
  /* Light brown */
  --supply-opaque: rgba(166, 124, 66, 1);
  --supply-primary: rgba(166, 124, 66, 0.75);
  --supply-secondary: rgba(166, 124, 66, 0.5);
  /* Purple */
  --science-opaque: rgba(153, 0, 230, 1);
  --science-primary: rgba(153, 0, 230, 0.75);
  --science-secondary: rgba(153, 0, 230, 0.5);
  /* Orange */
  --engineer-opaque: rgba(230, 153, 0, 1);
  --engineer-primary: rgba(230, 153, 0, 0.75);
  --engineer-secondary: rgba(230, 153, 0, 0.5);
  /* Red */
  --security-opaque: rgba(217, 0, 0, 1);
  --security-primary: rgba(217, 0, 0, 0.75);
  --security-secondary: rgba(217, 0, 0, 0.5);
  /* Dark red */
  --antag-opaque: rgba(140, 14, 14, 1);
  --antag-primary: rgba(140, 14, 14, 0.75);
  --antag-secondary: rgba(140, 14, 14, 0.5);
  /* Magenta Pink */
  --legal-opaque: rgba(217, 22, 135, 1);
  --legal-primary: rgba(217, 22, 135, 0.75);
  --legal-secondary: rgba(217, 22, 135, 0.5);
  /* Blue Ribbon */
  --command-opaque: rgba(11, 102, 230, 1);
  --command-primary: rgba(11, 102, 230, 0.75);
  --command-secondary: rgba(11, 102, 230, 0.5);
  /* Blue Azure */
  --synthetic-opaque: rgba(70, 105, 140, 1);
  --synthetic-primary: rgba(70, 105, 140, 0.75);
  --synthetic-secondary: rgba(70, 105, 140, 0.5);
  /* Dark Purple */
  --special-opaque: rgba(91, 19, 191, 1);
  --special-primary: rgba(91, 19, 191, 0.75);
  --special-secondary: rgba(91, 19, 191, 0.5);
  /* Dark Blue */
  --centcom-opaque: rgba(0, 64, 128, 1);
  --centcom-primary: rgba(0, 64, 128, 0.75);
  --centcom-secondary: rgba(0, 64, 128, 0.5);
}

.light-palette() {
  /* Gray. Default */
  --gray-opaque: rgba(127, 127, 127, 1);
  --gray-primary: rgba(127, 127, 127, 0.75);
  --gray-secondary: rgba(127, 127, 127, 0.5);
  /* Black */
  --black-opaque: rgba(0, 0, 0, 1);
  --black-primary: rgba(0, 0, 0, 0.75);
  --black-secondary: rgba(0, 0, 0, 0.5);
  /* Cyan */
  --cyan-opaque: rgba(48, 242, 210, 1);
  --cyan-primary: rgba(48, 242, 210, 0.75);
  --cyan-secondary: rgba(48, 242, 210, 0.5);
  /* Aqua blue */
  --blue-opaque: rgba(0, 255, 255, 1);
  --blue-primary: rgba(0, 255, 255, 0.75);
  --blue-secondary: rgba(0, 255, 255, 0.5);
  /* Brown */
  --brown-opaque: rgba(166, 107, 25, 1);
  --brown-primary: rgba(166, 107, 25, 0.75);
  --brown-secondary: rgba(166, 107, 25, 0.5);
  /* Green */
  --green-opaque: rgba(48, 191, 19, 1);
  --green-primary: rgba(48, 191, 19, 0.75);
  --green-secondary: rgba(48, 191, 19, 0.5);
  /* Yellow */
  --yellow-opaque: rgba(255, 234, 0, 1);
  --yellow-primary: rgba(255, 234, 0, 0.75);
  --yellow-secondary: rgba(255, 234, 0, 0.5);
  /* Light red */
  --red-opaque: rgba(255, 64, 64, 1);
  --red-primary: rgba(255, 64, 64, 0.75);
  --red-secondary: rgba(255, 64, 64, 0.5);
  /* Pink */
  --pink-opaque: rgba(255, 64, 255, 1);
  --pink-primary: rgba(255, 64, 255, 0.75);
  --pink-secondary: rgba(255, 64, 255, 0.5);
  /* Light green */
  --civilian-opaque: rgba(29, 191, 83, 1);
  --civilian-primary: rgba(29, 191, 83, 0.75);
  --civilian-secondary: rgba(29, 191, 83, 0.5);
  /* Blue */
  --medical-opaque: rgba(0, 191, 255, 1);
  --medical-primary: rgba(0, 191, 255, 0.75);
  --medical-secondary: rgba(0, 191, 255, 0.5);
  /* Light brown */
  --supply-opaque: rgba(166, 124, 66, 1);
  --supply-primary: rgba(166, 124, 66, 0.75);
  --supply-secondary: rgba(166, 124, 66, 0.5);
  /* Purple */
  --science-opaque: rgba(191, 0, 255, 1);
  --science-primary: rgba(191, 0, 255, 0.75);
  --science-secondary: rgba(191, 0, 255, 0.5);
  /* Orange */
  --engineer-opaque: rgba(255, 170, 0, 1);
  --engineer-primary: rgba(255, 170, 0, 0.75);
  --engineer-secondary: rgba(255, 170, 0, 0.5);
  /* Red */
  --security-opaque: rgba(255, 0, 0, 1);
  --security-primary: rgba(255, 0, 0, 0.75);
  --security-secondary: rgba(255, 0, 0, 0.5);
  /* Dark red */
  --antag-opaque: rgba(153, 15, 15, 1);
  --antag-primary: rgba(153, 15, 15, 0.75);
  --antag-secondary: rgba(153, 15, 15, 0.5);
  /* Magenta Pink */
  --legal-opaque: rgba(255, 0, 149, 1);
  --legal-primary: rgba(255, 0, 149, 0.75);
  --legal-secondary: rgba(255, 0, 149, 0.5);
  /* Blue Ribbon */
  --command-opaque: rgba(0, 106, 255, 1);
  --command-primary: rgba(0, 106, 255, 0.75);
  --command-secondary: rgba(0, 106, 255, 0.5);
  /* Blue Azure */
  --synthetic-opaque: rgba(67, 129, 191, 1);
  --synthetic-primary: rgba(67, 129, 191, 0.75);
  --synthetic-secondary: rgba(67, 129, 191, 0.5);
  /* Dark Purple */
  --special-opaque: rgba(91, 19, 191, 1);
  --special-primary: rgba(91, 19, 191, 0.75);
  --special-secondary: rgba(91, 19, 191, 0.5);
  /* Dark Blue */
  --centcom-opaque: rgba(0, 64, 128, 1);
  --centcom-primary: rgba(0, 64, 128, 0.75);
  --centcom-secondary: rgba(0, 64, 128, 0.5);
}
