/**
 * Don't use these vars for skinning!
 * Use only with ColorPalette template on wiki
 */
.dark-palette() {
  /* Gray. Default */
  --gray-opaque: rgba(127, 127, 127, 1);
  --gray-primary: rgba(127, 127, 127, 0.75);
  --gray-secondary: rgba(127, 127, 127, 0.5);
  /* Black */
  --black-opaque: rgba(0, 0, 0, 1);
  --black-primary: rgba(50, 50, 50, 0.75);
  --black-secondary: rgba(50, 50, 50, 0.5);
  /* Cyan */
  --cyan-opaque: rgba(0, 191, 143, 1);
  --cyan-primary: rgba(0, 191, 143, 0.75);
  --cyan-secondary: rgba(0, 191, 143, 0.5);
  /* Aqua blue */
  --blue-opaque: rgba(27, 179, 179, 1);
  --blue-primary: rgba(27, 179, 179, 0.75);
  --blue-secondary: rgba(27, 179, 179, 0.5);
  /* Brown */
  --brown-opaque: rgba(166, 107, 25, 1);
  --brown-primary: rgba(166, 107, 25, 0.75);
  --brown-secondary: rgba(166, 107, 25, 0.5);
  /* Green */
  --green-opaque: rgba(53, 140, 35, 1);
  --green-primary: rgba(53, 140, 35, 0.75);
  --green-secondary: rgba(53, 140, 35, 0.5);
  /* Yellow */
  --yellow-opaque: rgba(191, 175, 0, 1);
  --yellow-primary: rgba(191, 175, 0, 0.75);
  --yellow-secondary: rgba(191, 175, 0, 0.5);
  /* Light red */
  --red-opaque: rgba(205, 51, 51, 1);
  --red-primary: rgba(205, 51, 51, 0.75);
  --red-secondary: rgba(205, 51, 51, 0.5);
  /* Pink */
  --pink-opaque: rgba(179, 36, 179, 1);
  --pink-primary: rgba(179, 36, 179, 0.75);
  --pink-secondary: rgba(179, 36, 179, 0.5);
  /* Light green */
  --civilian-opaque: rgba(27, 179, 77, 1);
  --civilian-primary: rgba(27, 179, 77, 0.75);
  --civilian-secondary: rgba(27, 179, 77, 0.5);
  /* Blue */
  --medical-opaque: rgba(29, 151, 191, 1);
  --medical-primary: rgba(29, 151, 191, 0.75);
  --medical-secondary: rgba(29, 151, 191, 0.5);
  /* Light brown */
  --supply-opaque: rgba(166, 124, 66, 1);
  --supply-primary: rgba(166, 124, 66, 0.75);
  --supply-secondary: rgba(166, 124, 66, 0.5);
  /* Purple */
  --science-opaque: rgba(128, 0, 191, 1);
  --science-primary: rgba(128, 0, 191, 0.75);
  --science-secondary: rgba(128, 0, 191, 0.5);
  /* Orange */
  --engineer-opaque: rgba(191, 128, 0, 1);
  --engineer-primary: rgba(191, 128, 0, 0.75);
  --engineer-secondary: rgba(191, 128, 0, 0.5);
  /* Red */
  --security-opaque: rgba(191, 0, 0, 1);
  --security-primary: rgba(191, 0, 0, 0.75);
  --security-secondary: rgba(191, 0, 0, 0.5);
  /* Dark red */
  --antag-opaque: rgba(128, 13, 13, 1);
  --antag-primary: rgba(128, 13, 13, 0.75);
  --antag-secondary: rgba(128, 13, 13, 0.5);
  /* Magenta Pink */
  --legal-opaque: rgba(191, 19, 120, 1);
  --legal-primary: rgba(191, 19, 120, 0.75);
  --legal-secondary: rgba(191, 19, 120, 0.5);
  /* Blue Ribbon */
  --command-opaque: rgba(10, 85, 191, 1);
  --command-primary: rgba(10, 85, 191, 0.75);
  --command-secondary: rgba(10, 85, 191, 0.5);
  /* Blue Azure */
  --synthetic-opaque: rgba(70, 105, 140, 1);
  --synthetic-primary: rgba(70, 105, 140, 0.75);
  --synthetic-secondary: rgba(70, 105, 140, 0.5);
  /* Dark Purple */
  --special-opaque: rgba(91, 19, 191, 1);
  --special-primary: rgba(91, 19, 191, 0.75);
  --special-secondary: rgba(91, 19, 191, 0.5);
  /* Dark Blue */
  --centcom-opaque: rgba(0, 64, 128, 1);
  --centcom-primary: rgba(0, 64, 128, 0.75);
  --centcom-secondary: rgba(0, 64, 128, 0.5);
}

.light-palette() {
  /* Gray. Default */
  --gray-opaque: rgba(127, 127, 127, 1);
  --gray-primary: rgba(127, 127, 127, 0.75);
  --gray-secondary: rgba(127, 127, 127, 0.5);
  /* Black */
  --black-opaque: rgba(0, 0, 0, 1);
  --black-primary: rgba(0, 0, 0, 0.75);
  --black-secondary: rgba(0, 0, 0, 0.5);
  /* Cyan */
  --cyan-opaque: rgba(57, 230, 186, 1);
  --cyan-primary: rgba(115, 230, 201, 0.75);
  --cyan-secondary: rgba(115, 230, 201, 0.5);
  /* Aqua blue */
  --blue-opaque: rgba(54, 217, 217, 1);
  --blue-primary: rgba(108, 217, 217, 0.75);
  --blue-secondary: rgba(108, 217, 217, 0.5);
  /* Brown */
  --brown-opaque: rgba(166, 107, 25, 1);
  --brown-primary: rgba(166, 107, 25, 0.75);
  --brown-secondary: rgba(166, 107, 25, 0.5);
  /* Green */
  --green-opaque: rgba(86, 230, 57, 1);
  --green-primary: rgba(134, 230, 115, 0.75);
  --green-secondary: rgba(182, 230, 172, 0.5);
  /* Yellow */
  --yellow-opaque: rgba(242, 227, 61, 1);
  --yellow-primary: rgba(255, 242, 103, 0.75);
  --yellow-secondary: rgba(255, 248, 166, 0.5);
  /* Light red */
  --red-opaque: rgba(255, 64, 64, 1);
  --red-primary: rgba(255, 64, 64, 0.75);
  --red-secondary: rgba(255, 64, 64, 0.5);
  /* Pink */
  --pink-opaque: rgba(255, 128, 255, 1);
  --pink-primary: rgba(255, 128, 255, 0.75);
  --pink-secondary: rgba(255, 128, 255, 0.5);
  /* Light green */
  --civilian-opaque: rgba(54, 217, 108, 1);
  --civilian-primary: rgba(54, 217, 108, 0.75);
  --civilian-secondary: rgba(54, 217, 108, 0.5);
  /* Blue */
  --medical-opaque: rgba(57, 186, 230, 1);
  --medical-primary: rgba(57, 186, 230, 0.75);
  --medical-secondary: rgba(57, 186, 230, 0.5);
  /* Light brown */
  --supply-opaque: rgba(204, 162, 102, 1);
  --supply-primary: rgba(204, 162, 102, 0.75);
  --supply-secondary: rgba(204, 162, 102, 0.5);
  /* Purple */
  --science-opaque: rgba(186, 57, 230, 1);
  --science-primary: rgba(186, 57, 230, 0.75);
  --science-secondary: rgba(186, 57, 230, 0.5);
  /* Orange */
  --engineer-opaque: rgba(255, 191, 64, 1);
  --engineer-primary: rgba(255, 191, 64, 0.75);
  --engineer-secondary: rgba(255, 191, 64, 0.5);
  /* Red */
  --security-opaque: rgba(255, 64, 64, 1);
  --security-primary: rgba(255, 64, 64, 0.75);
  --security-secondary: rgba(255, 64, 64, 0.5);
  /* Dark red */
  --antag-opaque: rgba(217, 87, 87, 1);
  --antag-primary: rgba(217, 87, 87, 0.75);
  --antag-secondary: rgba(217, 87, 87, 0.5);
  /* Magenta Pink */
  --legal-opaque: rgba(230, 80, 167, 1);
  --legal-primary: rgba(230, 80, 167, 0.75);
  --legal-secondary: rgba(230, 80, 167, 0.5);
  /* Blue Ribbon */
  --command-opaque: rgba(61, 136, 242, 1);
  --command-primary: rgba(64, 143, 255, 0.75);
  --command-secondary: rgba(64, 143, 255, 0.5);
  /* Blue Azure */
  --synthetic-opaque: rgba(108, 163, 217, 1);
  --synthetic-primary: rgba(108, 163, 217, 0.75);
  --synthetic-secondary: rgba(108, 163, 217, 0.5);
  /* Dark Purple */
  --special-opaque: rgba(129, 57, 230, 1);
  --special-primary: rgba(129, 57, 230, 0.75);
  --special-secondary: rgba(129, 57, 230, 0.5);
  /* Dark Blue */
  --centcom-opaque: rgba(48, 120, 191, 1);
  --centcom-primary: rgba(48, 120, 191, 0.75);
  --centcom-secondary: rgba(48, 120, 191, 0.5);
}
