:root {
  /* TGUI Elements Colors */
  --color-red: rgba(219, 40, 40, 1);
  --color-orange: rgba(240, 143, 17, 1);
  --color-yellow: rgba(251, 214, 8, 1);
  --color-olive: rgba(181, 204, 24, 1);
  --color-green: rgba(91, 170, 39, 1);
  --color-teal: rgba(0, 181, 173, 1);
  --color-blue: rgba(33, 133, 208, 1);
  --color-violet: rgba(100, 53, 201, 1);
  --color-purple: rgba(163, 51, 200, 1);
  --color-pink: rgba(224, 57, 151, 1);
  --color-brown: rgba(165, 103, 63, 1);
  --color-grey: rgba(118, 118, 118, 1);
  --color-primary: rgba(73, 114, 161, 1);
  --color-label: rgba(126, 144, 167, 1);

  /* TGUI Elements Colors (Light or Hover) */
  --color-red-light: rgba(251, 58, 58, 1);
  --color-orange-light: rgba(255, 163, 40, 1);
  --color-yellow-light: rgba(255, 233, 29, 1);
  --color-olive-light: rgba(208, 225, 37, 1);
  --color-green-light: rgba(105, 195, 43, 1);
  --color-teal-light: rgba(0, 209, 193, 1);
  --color-blue-light: rgba(70, 168, 255, 1);
  --color-violet-light: rgba(168, 68, 255, 1);
  --color-purple-light: rgba(188, 68, 255, 1);
  --color-pink-light: rgba(255, 79, 181, 1);
  --color-brown-light: rgba(191, 123, 76, 1);
  --color-grey-light: rgba(136, 136, 136, 1);
  --color-primary-light: rgba(119, 148, 187, 1);
  --color-label-light: rgba(145, 166, 192, 1);

  /* Font sizes */
  --font-size-x-small: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1rem;
  --font-size-x-large: 1.125rem;
  --font-size-xx-large: 1.375rem;
  --font-size-xxx-large: 1.75rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: ~"calc( var( --font-weight-normal ) + 100)";
  --font-weight-semibold: ~"calc( var( --font-weight-normal ) + 200)";
  --font-weight-bold: ~"calc( var( --font-weight-normal ) + 300)";

  /* Opacity */
  --opacity-icon-base: 0.5;
  --opacity-icon-base-hover: 0.75;
  --opacity-icon-base-active: 1;

  /* Values */
  --border-radius-small: 0.25em;
  --border-radius-medium: 0.5em;
  --border-radius-large: 1em;
  --blur-intensity: blur(24px);
  --transition-time: 0.2s;
  --transition-delay: 0.2s;

  /* Shortcuts */
  --border-classic: 1px solid var(--color-border);
  --border-classic-input: 1px solid var(--color-border-input);
  --border-classic-input-focus: 1px solid var(--color-border-input-focus);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Base Colors */
    --color-bg: #252525;
    --color-bg-hover: rgba(255, 255, 255, 0.075);
    --color-bg-focus: rgba(255, 255, 255, 0.125);
    --color-bg-transparent: rgba(37, 37, 37, 0.75);
    --color-bg-section: rgba(0, 0, 0, 0.33);
    --color-bg-section-light: rgba(125, 125, 125, 0.075);
    --color-bg-section-light-opaque: #202020;
    --color-text: rgba(255, 255, 255, 1);
    --color-text-darker: rgba(220, 220, 220, 1);
    --color-text-gray: rgba(185, 185, 185, 0.75);
    --color-text-translucent: rgba(255, 255, 255, 0.5);
    --color-text-static: rgba(255, 255, 255, 1);
    --color-text-static-dark: rgba(0, 0, 0, 1);
    --color-text-static-transparent: rgba(255, 255, 255, 0.5);
    --color-border: rgba(255, 255, 255, 0.1);
    --color-border-input: rgba(128, 181, 255, 1);
    --color-border-input-focus: var(--color-blue);

    /* Scrollbar */
    --color-scrollbar-base: #191919;
    --color-scrollbar-thumb: #3b3b3b;

    /* Notices */
    --color-notice: #666666;
    --color-notice-red: #733434;
    --color-notice-green: #3f7334;
    --color-notice-blue: #235982;
    --color-notice-brown: #735834;

    /* Links */
    --color-hyperlink: #6699ff;
    --color-hyperlink-visited: #a173ff;
    --color-hyperlink-new: #ff6666;
    --color-hyperlink-new-visited: #ff8359;

    /* Invert */
    --invert-icon: invert(0.9);
    --invert-button-icon: invert(1);
    --logo-invert: brightness(5) hue-rotate(25deg) opacity(0.8);

    /* Shadow */
    --box-shadow-small: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    --box-shadow-medium: 0px 15px 30px 5px rgba(0, 0, 0, 0.5);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Base Colors - Light */
    --color-bg: #ffffff;
    --color-bg-hover: rgba(0, 0, 0, 0.075);
    --color-bg-focus: rgba(0, 0, 0, 0.125);
    --color-bg-transparent: rgba(204, 201, 198, 0.75);
    --color-bg-section: rgba(204, 201, 198, 0.33);
    --color-bg-section-light: rgba(153, 146, 141, 0.1);
    --color-bg-section-light-opaque: #e6e4e2;
    --color-text: rgba(0, 0, 0, 1);
    --color-text-darker: rgba(40, 40, 40, 1);
    --color-text-gray: rgba(80, 80, 80, 0.75);
    --color-text-translucent: rgba(0, 0, 0, 0.5);
    --color-text-static: rgba(255, 255, 255, 1);
    --color-text-static-dark: rgba(0, 0, 0, 1);
    --color-text-static-transparent: rgba(255, 255, 255, 0.5);
    --color-border: rgba(0, 0, 0, 0.1);
    --color-border-input: rgba(128, 181, 255, 1);
    --color-border-input-focus: var(--color-blue);

    /* Scrollbar - Light */
    --color-scrollbar-base: #eeedec;
    --color-scrollbar-thumb: #b3b2b1;

    /* Notices */
    --color-notice: #666666;
    --color-notice-red: #733434;
    --color-notice-green: #3f7334;
    --color-notice-blue: #235982;
    --color-notice-brown: #735834;

    /* Links */
    --color-hyperlink: #3377ff;
    --color-hyperlink-visited: #9f2bd9;
    --color-hyperlink-new: #e60000;
    --color-hyperlink-new-visited: #a62a00;

    /* Invert */
    --invert-icon: invert(0.1);
    --invert-button-icon: invert(1);
    --logo-invert: none;

    /* Shadow */
    --box-shadow-small: 0px 10px 20px 0px rgba(0, 0, 0, 0.33);
    --box-shadow-medium: 0px 15px 30px 5px rgba(0, 0, 0, 0.33);
  }
}

:root {
  /* Wiki Palette. Use with ColorPalette template! */
  /* Gray. Default */
  --gray-opaque: rgba(127, 127, 127, 1);
  --gray-primary: rgba(127, 127, 127, 0.66);
  --gray-secondary: rgba(127, 127, 127, 0.33);
  /* Black */
  --black-opaque: rgba(0, 0, 0, 1);
  --black-primary: rgba(0, 0, 0, 0.66);
  --black-secondary: rgba(0, 0, 0, 0.33);
  /* Cyan */
  --cyan-opaque: rgba(48, 242, 210, 1);
  --cyan-primary: rgba(48, 242, 210, 0.66);
  --cyan-secondary: rgba(48, 242, 210, 0.33);
  /* Aqua blue */
  --blue-opaque: rgba(0, 255, 255, 1);
  --blue-primary: rgba(0, 255, 255, 0.66);
  --blue-secondary: rgba(0, 255, 255, 0.33);
  /* Brown */
  --brown-opaque: rgba(166, 107, 25, 1);
  --brown-primary: rgba(166, 107, 25, 0.66);
  --brown-secondary: rgba(166, 107, 25, 0.33);
  /* Green */
  --green-opaque: rgba(48, 191, 19, 1);
  --green-primary: rgba(48, 191, 19, 0.66);
  --green-secondary: rgba(48, 191, 19, 0.33);
  /* Yellow */
  --yellow-opaque: rgba(255, 234, 0, 1);
  --yellow-primary: rgba(255, 234, 0, 0.66);
  --yellow-secondary: rgba(255, 234, 0, 0.33);
  /* Light red */
  --red-opaque: rgba(255, 64, 64, 1);
  --red-primary: rgba(255, 64, 64, 0.66);
  --red-secondary: rgba(255, 64, 64, 0.33);
  /* Pink */
  --pink-opaque: rgba(255, 64, 255, 1);
  --pink-primary: rgba(255, 64, 255, 0.66);
  --pink-secondary: rgba(255, 64, 255, 0.33);
  /* Light green */
  --civilian-opaque: rgba(29, 191, 83, 1);
  --civilian-primary: rgba(29, 191, 83, 0.66);
  --civilian-secondary: rgba(29, 191, 83, 0.33);
  /* Blue */
  --medical-opaque: rgba(0, 191, 255, 1);
  --medical-primary: rgba(0, 191, 255, 0.66);
  --medical-secondary: rgba(0, 191, 255, 0.33);
  /* Light brown */
  --supply-opaque: rgba(166, 124, 66, 1);
  --supply-primary: rgba(166, 124, 66, 0.66);
  --supply-secondary: rgba(166, 124, 66, 0.33);
  /* Purple */
  --science-opaque: rgba(191, 0, 255, 1);
  --science-primary: rgba(191, 0, 255, 0.66);
  --science-secondary: rgba(191, 0, 255, 0.33);
  /* Orange */
  --engineer-opaque: rgba(255, 170, 0, 1);
  --engineer-primary: rgba(255, 170, 0, 0.66);
  --engineer-secondary: rgba(255, 170, 0, 0.33);
  /* Red */
  --security-opaque: rgba(255, 0, 0, 1);
  --security-primary: rgba(255, 0, 0, 0.66);
  --security-secondary: rgba(255, 0, 0, 0.33);
  /* Dark red */
  --antag-opaque: rgba(153, 15, 15, 1);
  --antag-primary: rgba(153, 15, 15, 0.66);
  --antag-secondary: rgba(153, 15, 15, 0.33);
  /* Magenta Pink */
  --legal-opaque: rgba(255, 0, 149, 1);
  --legal-primary: rgba(255, 0, 149, 0.66);
  --legal-secondary: rgba(255, 0, 149, 0.33);
  /* Blue Ribbon */
  --command-opaque: rgba(0, 106, 255, 1);
  --command-primary: rgba(0, 106, 255, 0.66);
  --command-secondary: rgba(0, 106, 255, 0.33);
  /* Blue Azure */
  --synthetic-opaque: rgba(67, 129, 191, 1);
  --synthetic-primary: rgba(67, 129, 191, 0.66);
  --synthetic-secondary: rgba(67, 129, 191, 0.33);
  /* Dark Purple */
  --special-opaque: rgba(91, 19, 191, 1);
  --special-primary: rgba(91, 19, 191, 0.66);
  --special-secondary: rgba(91, 19, 191, 0.33);
  /* Dark Blue */
  --centcom-opaque: rgba(0, 64, 128, 1);
  --centcom-primary: rgba(0, 64, 128, 0.66);
  --centcom-secondary: rgba(0, 64, 128, 0.33);
}
