@import 'color-palette.less';

/**
 * Shared variables
 * Used for both themes
 */
:root {
  /* TGUI Elements Colors */
  --color-red: rgba(219, 40, 40, 1);
  --color-orange: rgba(240, 143, 17, 1);
  --color-yellow: rgba(251, 214, 8, 1);
  --color-olive: rgba(181, 204, 24, 1);
  --color-green: rgba(91, 170, 39, 1);
  --color-teal: rgba(0, 181, 173, 1);
  --color-blue: rgba(33, 133, 208, 1);
  --color-violet: rgba(100, 53, 201, 1);
  --color-purple: rgba(163, 51, 200, 1);
  --color-pink: rgba(224, 57, 151, 1);
  --color-brown: rgba(165, 103, 63, 1);
  --color-grey: rgba(118, 118, 118, 1);
  --color-primary: rgba(73, 114, 161, 1);
  --color-label: rgba(126, 144, 167, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-translucent: rgba(255, 255, 255, 0.5);
  --color-gray: var(--color-grey);

  /* TGUI Elements Colors (Light or Hover) */
  --color-red-light: rgba(251, 58, 58, 1);
  --color-orange-light: rgba(255, 163, 40, 1);
  --color-yellow-light: rgba(255, 233, 29, 1);
  --color-olive-light: rgba(208, 225, 37, 1);
  --color-green-light: rgba(105, 195, 43, 1);
  --color-teal-light: rgba(0, 209, 193, 1);
  --color-blue-light: rgba(70, 168, 255, 1);
  --color-violet-light: rgba(168, 68, 255, 1);
  --color-purple-light: rgba(188, 68, 255, 1);
  --color-pink-light: rgba(255, 79, 181, 1);
  --color-brown-light: rgba(191, 123, 76, 1);
  --color-grey-light: rgba(136, 136, 136, 1);
  --color-primary-light: rgba(119, 148, 187, 1);
  --color-label-light: rgba(145, 166, 192, 1);
  --color-black-hover: rgb(30, 30, 30);
  --color-white-hover: rgba(225, 225, 225, 1);
  --color-gray-light: var(--color-grey-light);

  /* Font sizes */
  --font-size-x-small: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1rem;
  --font-size-x-large: 1.125rem;
  --font-size-xx-large: 1.375rem;
  --font-size-xxx-large: 1.75rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: ~'calc( var( --font-weight-normal ) + 100)';
  --font-weight-semibold: ~'calc( var( --font-weight-normal ) + 200)';
  --font-weight-bold: ~'calc( var( --font-weight-normal ) + 300)';

  /* Opacity */
  --opacity-icon-base: 0.5;
  --opacity-icon-base-hover: 0.75;
  --opacity-icon-base-active: 1;

  /* Border Radius */
  --border-radius-small: 0.3rem;
  --border-radius-medium: ~'calc( var(--border-radius-small) * 2)';
  --border-radius-large: ~'calc( var(--border-radius-small) * 4)';
  --border-radius-round: 9999px;

  /* Blur */
  --blur-default: saturate(150%) blur(24px);
  --blur-important: saturate(150%) blur(24px);

  /* Transition */
  --transition-time: 0.2s;
  --transition-delay: 0.2s;

  /* z-indexes */
  --index-max: 100;
  --index-high: 10;
  --index-medium: 5;
  --index-static: 4;
  --index-overlay: 3;
  --index-element: 2;
  --index-fore: 1;
  --index-base: 0;
  --index-low: -1;
  --index-lower: -10;

  /* Shortcuts */
  --border-classic: 1px solid var(--color-border);
  --border-classic-input: 1px solid var(--color-border-input);
  --border-classic-input-focus: 1px solid var(--color-border-input-focus);
}

/**
 * Dark theme variables
 * Used for default dark theme
 */
.dark-theme() {
  /* Base Colors */
  --color-bg: hsl(0, 0%, 15%);
  --color-bg-light: hsla(0, 0%, 15%, 0.66);
  --color-bg-light-opaque: hsl(0, 0%, 14%);
  --color-bg-hover: rgba(255, 255, 255, 0.075);
  --color-bg-focus: rgba(255, 255, 255, 0.125);
  --color-bg-section: rgba(0, 0, 0, 0.33);
  --color-bg-section-blur: hsla(0, 0%, 8.55%, 0.85);
  --color-bg-section-blur-default: var(--color-bg-section-blur);
  --color-bg-section-opaque: hsl(0, 0%, 10%);
  --color-bg-section-light: rgba(125, 125, 125, 0.075);
  --color-bg-section-light-opaque: hsl(0, 0%, 12.5%);
  --color-bg-popup-header: hsl(0, 0%, 20%);
  --color-text: rgba(255, 255, 255, 1);
  --color-text-darker: rgba(220, 220, 220, 1);
  --color-text-gray: rgba(185, 185, 185, 0.75);
  --color-text-translucent: rgba(255, 255, 255, 0.5);
  --color-border: rgba(255, 255, 255, 0.1);
  --color-border-input: rgba(128, 181, 255, 1);
  --color-border-input-focus: var(--color-blue);

  /* Scrollbar */
  --color-scrollbar-base: hsl(0, 0%, 10%);
  --color-scrollbar-thumb: hsl(0, 0%, 20%);

  /* Notices */
  --color-notice: hsl(0, 0%, 40%);
  --color-notice-red: hsl(0, 38%, 33%);
  --color-notice-green: hsl(110, 38%, 33%);
  --color-notice-blue: hsl(206, 58%, 32%);
  --color-notice-brown: hsl(34, 38%, 33%);

  /* Links */
  --color-hyperlink: hsl(220, 100%, 70%);
  --color-hyperlink-visited: hsl(260, 100%, 70%);
  --color-hyperlink-new: hsl(0, 100%, 70%);
  --color-hyperlink-new-visited: hsl(15, 100%, 70%);
  /* Hover */
  --color-hyperlink-hover: hsl(210, 100%, 75%);
  --color-hyperlink-visited-hover: hsl(270, 100%, 75%);
  --color-hyperlink-new-hover: hsl(350, 100%, 75%);
  --color-hyperlink-new-visited-hover: hsl(25, 100%, 75%);

  /* Links Shadow */
  --hyperlink-shadow-new: hsl(0, 100%, 35%) 0px 0px 0.5em;
  --hyperlink-shadow-new-hover: hsl(0, 100%, 50%) 0px 0px 0.5em;

  /* Invert */
  --invert-icon: invert(0.9);
  --invert-button-icon: invert(1);
  --logo-invert: brightness(5) hue-rotate(25deg) opacity(0.8);

  /* Shadow */
  --box-shadow-small: 0px 15px 20px 0px rgba(0, 0, 0, 0.75);
  --box-shadow-medium: 0px 25px 30px 5px rgba(0, 0, 0, 0.75);
  --box-shadow-big: 0px 0px 35px 5px rgba(0, 0, 0, 0.75);

  /* Background Image */
  --nt-image: url(../skins.tgui.styles/images/bg-nanotrasen.svg);
}

/**
 * Light theme variables
 * Used with light theme
 */
.light-theme() {
  /* Base Colors - Light */
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-light: hsla(30, 5%, 80%, 0.66);
  --color-bg-light-opaque: hsl(35, 5%, 82.5%);
  --color-bg-hover: rgba(0, 0, 0, 0.075);
  --color-bg-focus: rgba(0, 0, 0, 0.125);
  --color-bg-section: rgba(204, 201, 198, 0.33);
  --color-bg-section-blur: hsla(30, 5%, 92.5%, 0.85);
  --color-bg-section-blur-default: var(--color-bg-section-blur);
  --color-bg-section-opaque: hsl(30, 6%, 93%);
  --color-bg-section-light: rgba(158, 152, 148, 0.15);
  --color-bg-section-light-opaque: hsl(30, 7%, 88%);
  --color-bg-popup-header: hsl(0, 0%, 50%);
  --color-text: rgba(0, 0, 0, 1);
  --color-text-darker: rgba(40, 40, 40, 1);
  --color-text-gray: rgba(80, 80, 80, 0.75);
  --color-text-translucent: rgba(0, 0, 0, 0.5);
  --color-border: rgba(0, 0, 0, 0.1);
  --color-border-input: rgba(128, 181, 255, 1);
  --color-border-input-focus: var(--color-blue);

  /* Scrollbar - Light */
  --color-scrollbar-base: hsl(30, 6%, 93%);
  --color-scrollbar-thumb: hsl(30, 1%, 70%);

  /* Notices */
  --color-notice: hsl(0, 0%, 60%);
  --color-notice-red: hsl(0, 100%, 70%);
  --color-notice-green: hsl(110, 50%, 50%);
  --color-notice-blue: hsl(200, 65%, 50%);
  --color-notice-brown: hsl(35, 50%, 60%);

  /* Links */
  --color-hyperlink: hsl(220, 100%, 30%);
  --color-hyperlink-visited: hsl(280, 70%, 30%);
  --color-hyperlink-new: hsl(0, 100%, 30%);
  --color-hyperlink-new-visited: hsl(35, 100%, 30%);
  /* Hover */
  --color-hyperlink-hover: hsl(210, 100%, 50%);
  --color-hyperlink-visited-hover: hsl(290, 70%, 50%);
  --color-hyperlink-new-hover: hsl(0, 100%, 45%);
  --color-hyperlink-new-visited-hover: hsl(35, 100%, 45%);

  /* Links Shadow */
  --hyperlink-shadow-new: hsl(0, 100%, 75%) 0px 0px 0.5em;
  --hyperlink-shadow-new-hover: hsl(0, 100%, 75%) 0px 0px 0.5em;

  /* Invert */
  --invert-icon: invert(0.1);
  --invert-button-icon: invert(1);
  --logo-invert: none;

  /* Shadow */
  --box-shadow-small: 0px 15px 20px 0px rgba(0, 0, 0, 0.33);
  --box-shadow-medium: 0px 25px 30px 5px rgba(0, 0, 0, 0.33);
  --box-shadow-big: 0px 0px 35px 5px rgba(0, 0, 0, 0.33);

  /* Background Image */
  --nt-image: url(../skins.tgui.styles/images/bg-nanotrasen-light.svg);
}
