/* Themes */
.skin-theme-clientpref-os {
  @media (prefers-color-scheme: dark) {
    :root& {
      .dark-theme();
      .dark-palette();
    }
  }
}

.skin-theme-clientpref-os {
  @media (prefers-color-scheme: light) {
    :root& {
      .light-theme();
      .light-palette();
    }
  }
}

.skin-theme-clientpref-night {
  :root& {
    .dark-theme();
    .dark-palette();
  }
}

.skin-theme-clientpref-day {
  :root& {
    .light-theme();
    .light-palette();
  }
}

/* Blur */
.disable-blur() {
  :root& {
    --blur-default: none;
    --color-base-blur: var(--color-base-fill);
    --color-second-blur: var(--color-second-fill);
  }

  @media (prefers-color-scheme: light) {
    :root& {
      --blur-default: none;
      --color-base-blur: var(--color-base-fill);
      --color-second-blur: var(--color-second-fill);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root& {
      --blur-default: none;
      --color-base-blur: var(--color-base-fill);
      --color-second-blur: var(--color-second-fill);
    }
  }
}

.tgui-feature-blur-clientpref-disabled {
  .disable-blur();
}

.tgui-feature-blur-clientpref-full {
  .disable-blur();
  --bg-image-opacity: 0;
}

/* Reduced Motion */
.tgui-feature-reduced-motion-clientpref-enabled {
  :root& {
    --transition-time: 0;
  }
}

/* Darkened Images */
.tgui-feature-darkened-images-clientpref-light {
  html,
  body {
    :root.skin-theme-clientpref-night& {
      img {
        filter: brightness(0.9);
      }
    }

    @media (prefers-color-scheme: dark) {
      :root.skin-theme-clientpref-os& {
        img {
          filter: brightness(0.9);
        }
      }
    }
  }
}

.tgui-feature-darkened-images-clientpref-medium {
  html,
  body {
    :root.skin-theme-clientpref-night& {
      img {
        filter: brightness(0.75);
      }
    }

    @media (prefers-color-scheme: dark) {
      :root.skin-theme-clientpref-os& {
        img {
          filter: brightness(0.75);
        }
      }
    }
  }
}
