/* Themes */
.skin-theme-clientpref-os {
  @media (prefers-color-scheme: dark) {
    :root& {
      .dark-theme();
      .dark-palette();
    }
  }
}

.skin-theme-clientpref-os {
  @media (prefers-color-scheme: light) {
    :root& {
      .light-theme();
      .light-palette();
    }
  }
}

.skin-theme-clientpref-night {
  :root& {
    .dark-theme();
    .dark-palette();
  }
}

.skin-theme-clientpref-day {
  :root& {
    .light-theme();
    .light-palette();
  }
}

/* Theme Styles */
.dark-ntos() {
  --color-bg: hsl(212.5, 30.75%, 15.3%);
  --color-base-blur: var(--color-base-blur-important);
  --color-base-blur-important: hsla(213.75, 20%, 9%, 0.85);
  --color-base-fill: hsl(213.75, 30.75%, 10.2%);
  --color-scrollbar-thumb: hsl(213.75, 30.75%, 20%);
}

.light-ntos() {
  --color-bg: hsl(212.5, 30.75%, 85%);
  --color-base: hsla(30, 5.5%, 70%, 33%);
  --color-base-blur: var(--color-base-blur-important);
  --color-base-blur-important: hsla(212, 8.5%, 79.5%, 0.85);
  --color-base-fill: hsl(212, 14.85%, 80.2%);
  --color-scrollbar-thumb: hsl(213.75, 30.75%, 65%);
}

.skin-theme-clientpref-os {
  &.tgui-feature-theme-style-clientpref-ntos {
    @media (prefers-color-scheme: dark) {
      :root& {
        .dark-ntos();
      }
    }
  }

  &.tgui-feature-theme-style-clientpref-ntos {
    @media (prefers-color-scheme: light) {
      :root& {
        .light-ntos();
      }
    }
  }
}

.skin-theme-clientpref-night.tgui-feature-theme-style-clientpref-ntos {
  :root& {
    .dark-ntos();
  }
}

.skin-theme-clientpref-day.tgui-feature-theme-style-clientpref-ntos {
  :root& {
    .light-ntos();
  }
}

/* Blur */
.disable-blur() {
  :root& {
    --blur-default: none;
    --color-base-blur: var(--color-base-fill);
    --color-second-blur: var(--color-second-fill);
  }

  @media (prefers-color-scheme: light) {
    :root& {
      --blur-default: none;
      --color-base-blur: var(--color-base-fill);
      --color-second-blur: var(--color-second-fill);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root& {
      --blur-default: none;
      --color-base-blur: var(--color-base-fill);
      --color-second-blur: var(--color-second-fill);
    }
  }
}

.tgui-feature-blur-clientpref-disabled {
  .disable-blur();
}

.tgui-feature-blur-clientpref-full {
  .disable-blur();
  .mw-page-container-inner {
    background-image: none !important;
  }
}

/* Reduced Motion */
.tgui-feature-reduced-motion-clientpref-enabled {
  :root& {
    --transition-time: 0;
  }
}

.tgui-feature-reduced-motion-clientpref-faster {
  :root& {
    --transition-time: 0.1s;
  }
}

/* Darkened Images */
.tgui-feature-darkened-images-clientpref-light {
  html,
  body {
    :root.skin-theme-clientpref-night& {
      img {
        filter: brightness(0.9);
      }
    }

    @media (prefers-color-scheme: dark) {
      :root.skin-theme-clientpref-os& {
        img {
          filter: brightness(0.9);
        }
      }
    }
  }
}

.tgui-feature-darkened-images-clientpref-medium {
  html,
  body {
    :root.skin-theme-clientpref-night& {
      img {
        filter: brightness(0.75);
      }
    }

    @media (prefers-color-scheme: dark) {
      :root.skin-theme-clientpref-os& {
        img {
          filter: brightness(0.75);
        }
      }
    }
  }
}
