@import 'variables.less';

/* TODO: Remove that shit */
.mixin-tgui-menu-heading-arrow() {
  content: '';
  background: url(../skins.tgui.styles/images/arrow-down.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: unit(13 / @font-size-tabs / @font-size-browser, em);
  height: unit(13 / @font-size-tabs / @font-size-browser, em);
  filter: var(--invert-icon);
}
