/**
 * Shared variables
 * Used for both themes
 */
:root {
  --primary-hue: 210;
  --primary-lightness: 40%;
  --primary-saturacy: 37.5%;
  --background-gradient: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--color-bg) 98%, white) 0%,
    color-mix(in srgb, var(--color-bg) 98%, black) 100%
  );
  --adjust-hover: 10;
  --adjust-active: 7.5;

  /* TGUI Elements Colors */
  --color-primary: ~'hsl(var(--primary-hue), var(--primary-saturacy), var(--primary-lightness))';
  --color-secondary: ~'hsl(var(--primary-hue), calc(var(--primary-saturacy) + 20%), 50%)';
  --color-red: hsl(0, 70%, 50%);
  --color-orange: hsl(35, 90%, 50%);
  --color-yellow: hsl(50, 95%, 50%);
  --color-olive: hsl(70, 80%, 45%);
  --color-green: hsl(95, 65%, 40%);
  --color-teal: hsl(175, 100%, 35%);
  --color-blue: hsl(205, 70%, 45%);
  --color-violet: hsl(260, 60%, 50%);
  --color-purple: hsl(285, 60%, 50%);
  --color-pink: hsl(325, 75%, 55%);
  --color-brown: hsl(25, 45%, 45%);
  --color-grey: hsl(0, 0%, 45%);
  --color-label: hsl(215, 20%, 55%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-translucent: hsla(0, 0%, 100%, 0.5);
  --color-gray: var(--color-grey);

  /* TGUI Elements Colors (Light or Hover) */
  --color-primary-light: ~'hsl(from var(--color-primary) h s calc(l + var(--adjust-hover)))';
  --color-secondary-light: ~'hsl(from var(--color-secondary) h s calc(l + var(--adjust-hover)))';
  --color-red-light: ~'hsl(from var(--color-red) h s calc(l + var(--adjust-hover)))';
  --color-orange-light: ~'hsl(from var(--color-orange) h s calc(l + var(--adjust-hover)))';
  --color-yellow-light: ~'hsl(from var(--color-yellow) h s calc(l + var(--adjust-hover)))';
  --color-olive-light: ~'hsl(from var(--color-olive) h s calc(l + var(--adjust-hover)))';
  --color-green-light: ~'hsl(from var(--color-green) h s calc(l + var(--adjust-hover)))';
  --color-teal-light: ~'hsl(from var(--color-teal) h s calc(l + var(--adjust-hover)))';
  --color-blue-light: ~'hsl(from var(--color-blue) h s calc(l + var(--adjust-hover)))';
  --color-violet-light: ~'hsl(from var(--color-violet) h s calc(l + var(--adjust-hover)))';
  --color-purple-light: ~'hsl(from var(--color-purple) h s calc(l + var(--adjust-hover)))';
  --color-pink-light: ~'hsl(from var(--color-pink) h s calc(l + var(--adjust-hover)))';
  --color-brown-light: ~'hsl(from var(--color-brown) h s calc(l + var(--adjust-hover)))';
  --color-grey-light: ~'hsl(from var(--color-grey) h s calc(l + var(--adjust-hover)))';
  --color-label-light: ~'hsl(from var(--color-label) h s calc(l + var(--adjust-hover)))';
  --color-black-light: ~'hsl(from var(--color-black) h s calc(l + 25))';
  --color-white-light: ~'hsl(from var(--color-white) h s calc(l - 10))';
  --color-gray-light: var(--color-grey-light);

  /* TGUI Elements Colors (Darker or Focus/Active) */
  --color-primary-dark: ~'hsl(from var(--color-primary) h s calc(l - var(--adjust-active)))';
  --color-secondary-dark: ~'hsl(from var(--color-secondary) h s calc(l - var(--adjust-active)))';
  --color-red-dark: ~'hsl(from var(--color-red) h s calc(l - var(--adjust-active)))';
  --color-orange-dark: ~'hsl(from var(--color-orange) h s calc(l - var(--adjust-active)))';
  --color-yellow-dark: ~'hsl(from var(--color-yellow) h s calc(l - var(--adjust-active)))';
  --color-olive-dark: ~'hsl(from var(--color-olive) h s calc(l - var(--adjust-active)))';
  --color-green-dark: ~'hsl(from var(--color-green) h s calc(l - var(--adjust-active)))';
  --color-teal-dark: ~'hsl(from var(--color-teal) h s calc(l - var(--adjust-active)))';
  --color-blue-dark: ~'hsl(from var(--color-blue) h s calc(l - var(--adjust-active)))';
  --color-violet-dark: ~'hsl(from var(--color-violet) h s calc(l - var(--adjust-active)))';
  --color-purple-dark: ~'hsl(from var(--color-purple) h s calc(l - var(--adjust-active)))';
  --color-pink-dark: ~'hsl(from var(--color-pink) h s calc(l - var(--adjust-active)))';
  --color-brown-dark: ~'hsl(from var(--color-brown) h s calc(l - var(--adjust-active)))';
  --color-grey-dark: ~'hsl(from var(--color-grey) h s calc(l - var(--adjust-active)))';
  --color-label-dark: ~'hsl(from var(--color-label) h s calc(l - var(--adjust-active)))';
  --color-black-dark: ~'hsl(from var(--color-black) h s calc(l + 10))';
  --color-white-dark: ~'hsl(from var(--color-white) h s calc(l - 25))';
  --color-gray-dark: var(--color-grey-dark);

  /* Font family */
  --font-family-base: 'Roboto', 'Roboto-fallback';
  --font-family-heading: 'Verdana', var(--font-family-base);
  --font-family-monospace: 'Consolas', 'Courier New', monospace;

  /* Font sizes */
  --font-size-base: 1rem;
  --font-size-xxs: ~'calc(var(--font-size-base) * 0.75)';
  --font-size-xs: ~'calc(var(--font-size-base) * 0.875)';
  --font-size-s: ~'calc(var(--font-size-base) * 0.95)';
  --font-size-m: var(--font-size-base);
  --font-size-ml: ~'calc(var(--font-size-base) * 1.25)';
  --font-size-l: ~'calc(var(--font-size-base) * 1.33)';
  --font-size-xl: ~'calc(var(--font-size-base) * 1.5)';
  --font-size-xxl: ~'calc(var(--font-size-base) * 1.66)';
  --font-size-huge: ~'calc(var(--font-size-base) * 1.75)';
  --font-size-giant: ~'calc(var(--font-size-base) * 2)';

  /* Font weight */
  --font-normal: 400;
  --font-bolder: ~'calc(var(--font-normal) + 50)';
  --font-medium: ~'calc(var(--font-normal) + 100)';
  --font-semibold: ~'calc(var(--font-normal) + 200)';
  --font-bold: ~'calc(var(--font-normal) + 300)';

  /* Line height */
  --line-height-base: 1;
  --line-height-smallest: var(--line-height-base);
  --line-height-small: ~'calc(var(--line-height-base) * 1.1)';
  --line-height-medium: ~'calc(var(--line-height-base) * 1.25)';
  --line-height-large: ~'calc(var(--line-height-base) * 1.33)';
  --line-height-larger: ~'calc(var(--line-height-base) * 1.5)';
  --line-height-huge: ~'calc(var(--line-height-base) * 1.75)';
  --line-height-giant: ~'calc(var(--line-height-base) * 2)';

  /* Border Radius */
  --border-radius-base: 1rem;
  --border-radius-smallest: ~'calc( var(--border-radius-base) * 0.175)';
  --border-radius-small: ~'calc( var(--border-radius-base) * 0.25)';
  --border-radius-medium: ~'calc( var(--border-radius-base) * 0.5)';
  --border-radius-large: var(--border-radius-base);
  --border-radius-larger: ~'calc( var(--border-radius-base) * 1.5)';
  --border-radius-huge: ~'calc( var(--border-radius-base) * 2)';
  --border-radius-round: 9999px;

  /* Shadows */
  --box-shadow-small: 0px 15px 20px 0px var(--shadow-color--skin);
  --box-shadow-medium: 0px 25px 30px 5px var(--shadow-color--skin);
  --box-shadow-big: 0px 0px 35px 5px var(--shadow-color--skin);
  --box-shadow-small--inv: 0px -15px 20px 0px var(--shadow-color--skin);
  --box-shadow-medium--inv: 0px -25px 30px 5px var(--shadow-color--skin);

  /* Template Shadows - @deprecated: use --template-shadow-- */
  --shadow-template--small: var(--template-shadow--small) var(--shadow-color--small);
  --shadow-template--medium: var(--template-shadow--medium) var(--shadow-color--medium);
  --shadow-template--large: var(--template-shadow--large) var(--shadow-color--large);

  --template-shadow--small: 0px 0px 6px;
  --template-shadow--medium: 0px 0px 12px;
  --template-shadow--large: 0px 0px 12px 3px;

  /* Opacity */
  --opacity-icon-base: 0.5;
  --opacity-icon-base-hover: 0.75;
  --opacity-icon-base-active: 1;

  /* Height */
  --header-height: 3.25rem;
  --header-button-height: ~'calc(var(--header-height) - var(--header-padding) * 0.66)';
  --sidebar-height: ~'calc(100vh - var(--header-height) - var(--header-padding) * 2)';

  /* Width */
  --sidebar-width: 11.55rem;
  --sidebar-width-wide: 15.3rem;

  /* Spacing */
  --header-padding: 0.5rem;

  /* z-indexes */
  --index-max: 100;
  --index-high: 10;
  --index-medium: 5;
  --index-static: 4;
  --index-overlay: 3;
  --index-element: 2;
  --index-fore: 1;
  --index-base: 0;
  --index-low: -1;
  --index-lower: -10;

  /* Shortcuts */
  --header-full: ~'calc(var(--header-height) + var(--header-padding) * 2)';
  --border-classic: 1px outset var(--color-border);
  --border-classic-input: 1px outset var(--color-border-input);
  --border-classic-input-focus: 1px outset var(--color-border-input-focus);
  --notice-stripes: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    var(--color-dark) 10px,
    var(--color-dark) 20px
  );
}

/* Animations */
.tgui-animations-ready {
  /* Timing */
  --transition-time: 0.2s;
  --transition-time-fast: ~'calc( var(--transition-time) / 2)';
  --transition-delay: 0.4s;

  /* Linear */
  --linear-bounce: linear(0 0%, 0.5 25%, 1.25 50%, 0.75 75%, 1 100%);
}
