/**
 * Dark theme variables
 * Used for default dark theme
 */
.dark-theme() {
  /* Base Colors */
  --color-bg: hsl(0, 0%, 15%);
  --color-bg-hover: hsla(0, 0, 100%, 0.075);
  --color-bg-focus: hsla(0, 0, 100%, 0.125);

  --color-primal: hsla(0, 0%, 0%, 0.33);
  --color-primal-blur: hsla(0, 0%, 8.55%, 0.85);
  --color-primal-fill: var(--color-primal-immutable);
  --color-primal-immutable: hsl(0, 0%, 9.75%);

  --color-second: ~'color-mix(in srgb, hsla(0, 0%, 100%,0.04), var(--color-primal-fill) 30%)';
  --color-second-blur: ~'color-mix(in srgb, hsla(0, 0%, 100%, 0.2), var(--color-primal-fill) 85%)';
  --color-second-fill: ~'color-mix(in srgb, var(--color-primal-fill), white 3%)';

  --color-text: hsl(0, 0%, 100%);
  --color-text-darker: ~'hsl(var(--primary-hue), 7.5%, 85%)';
  --color-text-gray: ~'hsl(var(--primary-hue), 5%, 50%)';
  --color-text-translucent: rgba(255, 255, 255, 0.5);
  --color-text-semi-translucent: rgba(255, 255, 255, 0.75);

  --color-border: hsla(0, 0, 100%, 0.1);
  --color-border-input: ~'hsla(var(--primary-hue), 100%, calc(var(--primary-lightness) + 25%), 0.5)';
  --color-border-input-focus: ~'hsl(var(--primary-hue), 100%, calc(var(--primary-lightness) + 15%))';

  --color-dark: hsla(0, 0%, 0%, 0.15);

  /* Scrollbar */
  --color-scrollbar-base: var(--color-primal-fill);
  --color-scrollbar-thumb: ~'color-mix(in hsl, var(--color-scrollbar-base), white 15%)';

  /* Notices */
  --color-notice: hsl(0, 0%, 40%);
  --color-notice-red: hsl(0, 38%, 30%);
  --color-notice-green: hsl(110, 40%, 30%);
  --color-notice-blue: hsl(205, 60%, 30%);
  --color-notice-brown: hsl(35, 40%, 30%);

  /* Links */
  --color-hyperlink: hsl(220, 100%, 70%);
  --color-hyperlink-visited: hsl(260, 100%, 70%);
  --color-hyperlink-new: hsl(0, 100%, 70%);
  --color-hyperlink-new-visited: hsl(15, 100%, 70%);
  /* Hover */
  --color-hyperlink-hover: hsl(210, 100%, 75%);
  --color-hyperlink-visited-hover: hsl(270, 100%, 75%);
  --color-hyperlink-new-hover: hsl(350, 100%, 75%);
  --color-hyperlink-new-visited-hover: hsl(25, 100%, 75%);
  /* Links Shadow */
  --hyperlink-shadow-new: hsl(0, 100%, 35%) 0px 0px 0.5em;
  --hyperlink-shadow-new-hover: hsl(0, 100%, 50%) 0px 0px 0.5em;

  /* Custom HSL */
  --primary-lightness--text: 95%;
  --primary-lightness--soft: 15%;

  /* Relative colors */
  --adjust-bg-l: calc(l + 10);
  --adjust-bd-l: calc(l + 25);
  --adjust-s: calc(s - 15);

  /* Invert */
  --invert-icon: invert(0.9);
  --invert-button-icon: invert(1);
  --invert-logo: brightness(5) hue-rotate(25deg) opacity(0.8); // Only for TG wiki

  /* Shadow colors*/
  --shadow-color--skin: var(--shadow-color--large);
  --shadow-color--small: hsla(0, 0%, 0%, 0.66);
  --shadow-color--medium: hsla(0, 0%, 0%, 0.75);
  --shadow-color--large: hsla(0, 0%, 0%, 0.5);

  /* Blur */
  --blur-default: blur(20px);

  /* Background Image Opacity */
  --bg-image-opacity: 1;
}
