a,
.mw-parser-output a.extiw,
.mw-parser-output a.external {
  text-decoration: none;
  color: var(--color-hyperlink);
  text-shadow: var(--hyperlink-shadow);
  transition:
    color var(--transition-time),
    text-shadow var(--transition-time);

  &:hover,
  &:focus {
    color: var(--color-hyperlink-hover);
    text-shadow: var(--hyperlink-shadow-hover);
  }

  &:visited {
    color: var(--color-hyperlink-visited);

    &:hover {
      color: var(--color-hyperlink-visited-hover);
    }
  }
}

a.new {
  color: var(--color-hyperlink-new);
  text-shadow: var(--hyperlink-shadow-new);

  &:hover,
  &:focus {
    color: var(--color-hyperlink-new-hover);
    text-shadow: var(--hyperlink-shadow-new-hover);
  }
}

a.new:visited {
  color: var(--color-hyperlink-new-visited);
  text-shadow: var(--hyperlink-shadow-new);

  &:hover,
  &:focus {
    color: var(--color-hyperlink-new-visited-hover);
    text-shadow: var(--hyperlink-shadow-new-hover);
  }
}

a:not([href]) {
  cursor: pointer;
}

a * {
  text-shadow: none;
}

a:lang(ar),
a:lang(kk-arab),
a:lang(mzn),
a:lang(ps),
a:lang(ur) {
  text-decoration: none;
}

/* self links */
a.mw-selflink {
  color: inherit;
  font-weight: bold;
  text-decoration: inherit;
}

a.mw-selflink:hover {
  cursor: inherit;
  text-decoration: inherit;
}

a.mw-selflink:visited {
  color: inherit;
}

/* Underline preference */
.mw-underline-always a {
  text-decoration: underline !important;
}

.mw-underline-never a {
  text-decoration: none !important;
}

/**
 * Plainlinks - this can be used to switch
 * off special external link styling
 */
.plainlinks a.external {
  background: none !important;
  padding: 0 !important;
}

/* Icons for external links */
.mw-parser-output a.external,
.link-mailto,
.link-ftp,
.link-irc,
.link-audio,
.link-video,
.link-document {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.85em;
  padding-right: 1em;
}
.mw-parser-output a.external {
  background-image: url(images/external-link.svg);
}

.mw-parser-output a.external[href^='mailto:'],
.link-mailto {
  background-image: url(images/mail.svg);
}

.mw-parser-output a.external[ href^='ftp://' ],
.link-ftp {
  background-image: url(images/file.svg);
}

.mw-parser-output a.external[ href^='irc://' ],
.mw-parser-output a.external[ href^='ircs://' ],
.link-irc {
  background-image: url(images/comment.svg);
}

.mw-parser-output a.external[href$='.ogg'],
.mw-parser-output a.external[href$='.OGG'],
.mw-parser-output a.external[href$='.mid'],
.mw-parser-output a.external[href$='.MID'],
.mw-parser-output a.external[href$='.midi'],
.mw-parser-output a.external[href$='.MIDI'],
.mw-parser-output a.external[href$='.mp3'],
.mw-parser-output a.external[href$='.MP3'],
.mw-parser-output a.external[href$='.wav'],
.mw-parser-output a.external[href$='.WAV'],
.mw-parser-output a.external[href$='.wma'],
.mw-parser-output a.external[href$='.WMA'],
.link-audio {
  background-image: url(images/music.svg);
}

.mw-parser-output a.external[href$='.ogm'],
.mw-parser-output a.external[href$='.OGM'],
.mw-parser-output a.external[href$='.avi'],
.mw-parser-output a.external[href$='.AVI'],
.mw-parser-output a.external[href$='.mpeg'],
.mw-parser-output a.external[href$='.MPEG'],
.mw-parser-output a.external[href$='.mpg'],
.mw-parser-output a.external[href$='.MPG'],
.link-video {
  background-image: url(images/video.svg);
}

.mw-parser-output a.external[href$='.pdf'],
.mw-parser-output a.external[href$='.PDF'],
.mw-parser-output a.external[href*='.pdf#'],
.mw-parser-output a.external[href*='.PDF#'],
.mw-parser-output a.external[href*='.pdf?'],
.mw-parser-output a.external[href*='.PDF?'],
.link-document {
  background-image: url(images/file-pdf.svg);
}
