/**
 * wikitable class for skinning normal tables.
 * Keep in sync with content.tables-print.less.
 */
.wikitable {
  margin: 0.5em 0;
  background-color: var(--color-bg-section-light);
  color: var(--color-text-darker);
  border: var(--border-classic);
  border-collapse: collapse;

  > tr > th,
  > tr > td,
  > * > tr > th,
  > * > tr > td {
    border: var(--border-classic);
    padding: 0.25em 0.5em;
  }

  > tr > th,
  > * > tr > th {
    background-color: var(--color-bg-section-light);
    text-align: center;
  }

  > caption {
    font-weight: bold;
  }
}

/* Collapsible table toggle */
.mw-collapsible-toggle {
  display: block;
  padding: 0.2em;
  margin-left: 0.75em;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-small);
  transition: background-color var(--transition-time);

  &:hover {
    background-color: var(--color-primary-light);
  }

  &:after,
  &:before {
    content: '' !important;
    width: 1.2em;
    height: 1.2em;
  }

  &:before {
    display: block;
    background: url(../skins.tgui.styles/images/arrow-down.svg);
    transition: transform var(--transition-time);
    filter: var(--invert-button-icon);
  }

  &[aria-expanded='true']:before {
    transform: rotate(180deg);
  }

  a {
    display: none;
  }
}
