/*
 * TGUI
 *
 * Module: mediawiki.skinning.content.media-common
 * Version: REL1_39
 *
 * Date: 2023-07-23
 */

/**
 * Block media items
 */
figure[typeof~='mw:File'],
figure[typeof~='mw:File/Frameless'],
figure[typeof~='mw:File/Thumb'],
figure[typeof~='mw:File/Frame'] {
  &.mw-halign-none {
    float: none;
    clear: none;
  }

  &.mw-halign-center {
    margin-inline: auto;
    text-align: center;
  }
}

figure[typeof~='mw:File'],
figure[typeof~='mw:File/Frameless'] {
  /* Hide the caption for frameless and plain floated images */
  > figcaption {
    display: none;
  }
}

figure[typeof~='mw:File/Thumb'],
figure[typeof~='mw:File/Frame'] {
  display: table;
  font-size: 95%;
  font-weight: 300;
  text-align: center;
  margin: 0.5em auto 1em auto;
  padding: 0.5em;
  background-color: var(--color-second-fill);
  border: var(--border-classic);
  border-radius: var(--border-radius-small);

  > a:first-child,
  > span:first-child {
    /**
	 * Broken media get a span instead.
	 */
    span.mw-broken-media {
      display: inline-block;
      /* This is hardcoded in Linker::makeThumbLink2 for broken media */
      width: 180px;
      overflow-wrap: break-word;
    }
  }

  > figcaption {
    display: table-caption;
    max-width: 85%;
    margin: 0 auto;
    line-height: 1.2em;
    caption-side: bottom;
    background-color: var(--color-second-fill);
    color: var(--color-text);
    border: var(--border-classic);
    border-top: none;
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);

    &:not(:empty) {
      padding: 0.25em;
      transform: ~'translateY(calc(-0.25em - 2px))';
      mask-image: linear-gradient(to bottom, transparent calc(0.25em + 1px), black calc(0.25em + 1px));
    }
  }

  .mw-file-element {
    border: var(--border-classic);
    // Just in case if image is too large. We don't need horizontal scrollbar
    max-width: 100%;
    height: 100%;
  }
}

/**
 * Inline media items
 */
.mw-valign-middle .mw-file-element {
  vertical-align: middle;
}

.mw-valign-baseline .mw-file-element {
  vertical-align: baseline;
}

.mw-valign-sub .mw-file-element {
  vertical-align: sub;
}

.mw-valign-super .mw-file-element {
  vertical-align: super;
}

.mw-valign-top .mw-file-element {
  vertical-align: top;
}

.mw-valign-text-top .mw-file-element {
  vertical-align: text-top;
}

.mw-valign-bottom .mw-file-element {
  vertical-align: bottom;
}

.mw-valign-text-bottom .mw-file-element {
  vertical-align: text-bottom;
}

// Do not float content in mobile view
@media (min-width: @min-width-breakpoint-tablet) {
  figure[typeof~='mw:File/Thumb'],
  figure[typeof~='mw:File/Frame'] {
    // When float is not explicitly set
    .mw-content-ltr & {
      /* @noflip */
      float: right;
      /* @noflip */
      clear: right;
      /* @noflip */
      margin: 0 0 0.75em 0.75em;
    }

    .mw-content-rtl & {
      /* @noflip */
      float: left;
      /* @noflip */
      clear: left;
      /* @noflip */
      margin: 0 0.75em 0 0.75em;
    }
  }

  figure[typeof~='mw:File'],
  figure[typeof~='mw:File/Frameless'],
  figure[typeof~='mw:File/Thumb'],
  figure[typeof~='mw:File/Frame'] {
    &.mw-halign-right {
      /* @noflip */
      float: right;
      /* @noflip */
      clear: right;
      /* @noflip */
      margin-right: 0;
      /* @noflip */
      margin-left: 1rem;
    }

    &.mw-halign-left {
      /* @noflip */
      float: left;
      /* @noflip */
      clear: left;
      /* @noflip */
      margin-right: 1rem;
      /* @noflip */
      margin-left: 0;
    }

    &.mw-halign-center {
      float: none;
      clear: both;
      margin-inline: auto;
      text-align: center;
    }
  }
}
