/**
 * TGUI
 *
 * Module: mediawiki.skinning.elements
 * Version: REL1_39
 *
 * Date: 14-11-2022
 */

/* Inline Elements */
img {
  user-select: none;
  -webkit-user-drag: none;
  border: 0;
  vertical-align: middle;
  image-rendering: pixelated;
}

hr {
  display: flow-root;
  height: 2px;
  background-color: var(--color-border);
  border: 0;
  margin: 0.2em 0;
}

/* Structural Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0;
  margin-top: 1em;
  color: var(--color-text);

  + p {
    margin-block-start: 0;
  }

  span[typeof*='mw:File'] {
    vertical-align: bottom;
  }

  @media (max-width: @max-width-mobile) {
    overflow-wrap: anywhere;
  }
}

h1,
h2 {
  margin-bottom: 0.33rem;
  padding: 0.25rem 0.5rem 0.1rem;
  font-weight: var(--font-bolder);
  line-height: var(--line-height-medium);
  border-bottom: 2px solid var(--color-primary);
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0.25rem;
  line-height: var(--line-height-small);
}

h3,
h4 {
  font-weight: var(--font-semibold);
}

h5,
h6 {
  font-weight: var(--font-bold);
}

h1 {
  font-size: 1.75em;
}

h2 {
  display: flow-root;
  font-size: 1.5em;
}

h3 {
  font-size: 1.33em;
}

h4 {
  font-size: 1.25em;
}

h5,
h6 {
  font-size: 1em;
}

p {
  margin-block: 0.5lh;
  overflow-wrap: break-word;

  &:first-of-type {
    margin-block-start: 0;
  }

  &:only-of-type {
    margin-block: 0;

    + ul {
      margin-top: 0 !important;
    }
  }

  img {
    margin: 0;
  }
}

ul {
  margin: 0.3em 0 0 1.6em;
  padding: 0;
}

ol {
  margin: 0.3em 0 0 3.2em;
  padding: 0;
  list-style-image: none;
}

li {
  margin-bottom: 0.1em;
}

dt {
  font-weight: bold;
  margin-bottom: 0.1em;
}

dl {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

dd {
  margin-left: 1.6em;
  margin-bottom: 0.1em;
}

/* FIXME: Duplicated ruleset if skins using ResourceLoaderSkinModule
load the features `normalize` and `elements`. */
pre,
code,
tt,
kbd,
samp,
.mw-code {
  /* Support: Blink, Gecko, Webkit; enable unified font sizes for monospace font. T176636 */
  font-family: var(--font-family-monospace);
}

pre,
code,
.mw-code {
  background-color: var(--color-second);
  color: var(--color-text-darker);
  border: var(--border-classic);
  border-radius: var(--border-radius-medium);
}

code {
  border-radius: var(--border-radius-small);
  padding: 0.1em 0.25em;
}

pre,
.mw-code {
  padding: 1em;
  /* Wrap lines in overflow. T2260, T103780 */
  white-space: pre-wrap;
  /* Create a new block formatting context */
  overflow-x: hidden;
  /* Break really long words when they overflow to the next line */
  word-wrap: break-word;
}

/* Forms */
fieldset {
  border: var(--border-classic);
  margin: 0.75rem 0;
  padding: 0 0.75rem 0.75rem;
}

legend {
  padding: 0.5em;
}

form {
  border: 0;
  margin: 0;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  /* Support: Firefox */
  /* Border rule required to override system appearance on Linux. T13641. */
  border: var(--border-classic);
  padding: 0.1em;
}

/* Emulate Center */
.center {
  width: 100%;
  text-align: center;

  * {
    margin-inline: auto;
  }
}

/* Small for tables and similar */
.small {
  font-size: 94%;
}

table.small {
  font-size: 100%;
}
