@import '../mixins.less';

/* Shared betwen all inputs */
input,
button,
textarea,
select,
optgroup,
input::file-selector-button {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  outline: 0 !important;
}

input[hidden] {
  display: none !important;
}

// MARK: Text Input
input:not([type='file'], [type='image'], [type='checkbox'], [type='radio'], [type='submit'], [type='range']),
textarea {
  background-color: var(--color-primal);
  color: var(--color-text);
  border: var(--border-classic);
  border-radius: var(--border-radius-small);
  transition: border var(--transition-time);

  &:not(:disabled) {
    transition: border var(--transition-time);
  }

  &:hover {
    border: var(--border-classic-input);
  }

  &:focus {
    border: var(--border-classic-input-focus);
  }

  &::placeholder {
    color: var(--color-text-darker);
    opacity: 0.5;
  }
}

textarea {
  border-radius: 0;
}

input:not([type='file'], [type='image'], [type='checkbox'], [type='radio'], [type='submit'], [type='range']) {
  padding: 0.5em 1em;
  border-radius: var(--border-radius-small);
}

// MARK: Buttons
input[type='submit'],
input[type='button'] {
  .tgui-button();
  padding: 0.25em 0.5em;
  border: 0 !important;
}

input[type='button']:disabled {
  .tgui-button(@disabled: true);
}

button {
  .tgui-button();

  &:disabled {
    .tgui-button(@disabled: true);

    &:before {
      opacity: 0.5;
    }
  }
}

.skin-tgui .mw-collapsible-toggle:not(legend) {
  .tgui-collapsible-toggle();

  &[aria-expanded='true'] {
    ~ .mw-collapsible-content {
      height: auto;
    }
  }
}

// MARK: File Upload
input::file-selector-button {
  display: none;
}

input[type='file'] {
  cursor: pointer;
  width: 100%;
  padding: 1.33rem 0;
  text-align-last: center;
  background-color: ~'hsla(var(--primary-hue), 35%, var(--primary-lightness), 0.25)';
  color: var(--color-text-darker);
  border: var(--border-classic);
  border-radius: var(--border-radius-medium);
  transition-property: background-color, border;
  transition-duration: var(--transition-time);

  &:hover {
    background-color: ~'hsla(var(--primary-hue), 35%, var(--primary-lightness), 0.5)';
    border-color: var(--color-border-input);
  }
}

// MARK: Dropdowns (Select)
select {
  padding: 0.25em 0.5em;
  background-color: var(--color-second);
  color: var(--color-text);
  border: var(--border-classic);
  border-radius: var(--border-radius-small);

  option {
    padding: 0.25em 0.5em;
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

// MARK: Radio & Checkbox
input[type='radio'],
input[type='checkbox'] {
  --input-size: 1.5rem;
  --input-border-size: 2px;
  appearance: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--input-background);
  border: var(--input-border-size) solid var(--input-border-color);
  border-radius: var(--border-radius-round);
  transition-property: background-color, border-color;
  transition-duration: var(--transition-time);

  &:before {
    content: '';
    width: ~'calc(var(--input-size) / 1.5)';
    height: ~'calc(var(--input-size) / 1.5)';
    border-radius: var(--border-radius-round);
    transition-property: background-color, transform;
    transition-duration: var(--transition-time);
  }
}

input[type='checkbox'] {
  width: ~'calc(var(--input-size) * 2 + var(--input-border-size) * 2)';
  height: var(--input-size);
  margin-block: 0.2lh;

  &:before {
    background-color: var(--color-primary);
    transform: ~'scale(0.9) translateX(calc(-100% + var(--input-border-size)))';
  }

  &:hover:before {
    background-color: var(--color-secondary);
  }

  &:checked {
    background-color: var(--color-secondary);

    &:before {
      background-color: var(--input-background);
      transform: ~'scale(0.9) translateX(calc(100% - var(--input-border-size)))';
    }
  }

  + label {
    user-select: none;
  }
}

// MARK: Radio
input[type='radio'] {
  height: var(--input-size);
  width: var(--input-size);

  &:hover,
  &:checked {
    border-color: var(--color-secondary);
  }

  &:before {
    background-color: var(--color-secondary);
    transform: scale(0);
  }

  &:active:before {
    transform: scale(0.3);
  }

  &:checked:before {
    transform: scale(0.9);
  }
}

// MARK: Slider
input[type='range'] {
  flex: 1;
  appearance: none;
  cursor: ew-resize;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  border-radius: var(--border-radius-small);

  &:hover::-webkit-slider-thumb {
    box-shadow: -400px 0 0 400px var(--color-secondary);
  }

  &::-webkit-slider-runnable-track {
    height: 2rem;
    background: var(--input-background);
    border-radius: var(--border-radius-small);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
    background-color: transparent;
    box-shadow: -400px 0 0 400px var(--color-primary);
    transition: box-shadow var(--transition-time);
  }
}
