.mw-editsection,
.mw-editsection-like {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.5rem;

  a {
    .tgui-button();
    display: inline-flex;
    align-items: center;
    align-self: center;
    height: 1.66em;
    padding: 0 0.66em;
  }

  @media (max-width: @max-width-mobile) {
    display: none;
  }

  &:before {
    display: none !important;
  }
}

h3,
h4,
h5,
h6,
h1:not(.tgui-section-heading),
h2:not(.tgui-section-heading) {
  cursor: default;

  .mw-editsection,
  .mw-editsection-like {
    visibility: hidden;
    position: absolute;
    top: 0;
    opacity: 0;
    margin: 0;
    padding: 0.5em;
    background-color: var(--color-second-blur);
    border: var(--border-classic);
    border-radius: var(--border-radius-medium);
    transform: translateY(calc(-100% - 1.5rem));
    box-shadow: var(--box-shadow-small);
    backdrop-filter: var(--blur-default);
    transition-property: transform, opacity, visibility;
    transition-duration: var(--transition-time);
    transition-delay: ~'calc( var(--transition-delay) / 2 )';

    &:before {
      content: '';
      display: block !important;
      position: absolute;
      background: var(--color-second-fill);
      width: 1em;
      height: 1em;
      left: 1em;
      bottom: -0.5em;
      transform: rotate(45deg);
      border: var(--border-classic);
      mask-image: linear-gradient(-45deg, black 50%, transparent 50%);
    }
  }

  .mw-headline:hover ~ .mw-editsection,
  .mw-headline:hover ~ .mw-editsection-like,
  .mw-editsection:hover,
  .mw-editsection-like:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(calc(-100% - 0.75rem));
    transition-delay: 0s;
  }
}

.mw-editsection-bracket,
.mw-editsection-divider {
  display: none;
}
