#userloginForm {
  display: flex;
  float: none !important;
  margin: 0 auto !important;
  justify-content: center;
  text-align: center;

  form {
    padding: 1em;
    width: 350px;
    background-color: var(--color-second);
    border: var(--border-classic);
    border-radius: var(--border-radius-medium);
    backdrop-filter: var(--blur-default);

    .htmlform-tip {
      width: 275px;
      font-size: 0.8em;
      margin: 0.25rem auto 0.5rem;
      color: var(--color-text-gray);
    }

    .cdx-field {
      margin-top: 1rem;

      &:first-of-type {
        margin: 0;
      }

      + .mw-form-related-link-container {
        margin: 0.33em 0;
      }
    }

    .mw-ui-vform-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5em;

      label {
        margin-bottom: 0.5em;
      }
    }
  }
}

.mw-createacct-benefits-container {
  display: none;
}
