@import '../mixins.less';

.skin-tgui {
  .toc,
  .toccolours {
    overflow: hidden;
    position: relative;
    font-size: 95%;
    padding: 0.5em;
    margin-bottom: 0.75em;
    background-color: var(--color-second);
    border: var(--border-classic);
    border-radius: var(--border-radius-medium);
    backdrop-filter: var(--blur-default);

    &:first-child,
    &:first-of-type {
      margin-top: 0.75em;
    }

    &:last-child,
    &:last-of-type {
      margin-bottom: 0;
    }

    .mw-collapsible-content {
      display: block !important;
      overflow: hidden;
      height: 0;
      transform: scale(0.9);
      transform-origin: top;
      transition-property: transform;
    }

    * {
      backdrop-filter: none !important;
    }
  }

  .toc {
    padding: 0.5em;

    ul {
      margin: 0.25em 0;

      ul {
        margin: 0 0 0 25em;
      }
    }
  }
}
