/**
 * TGUI's common typography rules,
 * including whitespace with `margin` & `padding` and list bullets
 * as part of typographic styles. Iconography wouldn't belong here.
 *
 */

@import '../variables.less';
@import '../mixins.less';

html {
  font-size: 100%;
}

html,
body {
  font-family: var(--font-family-base);
}

::before,
::after {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

strong {
  vertical-align: middle;
  color: var(--color-text);
}

pre,
.mw-code {
  line-height: @line-height-code;
}

.tgui-body {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-larger);

  blockquote {
    border-left: 2px solid var(--color-label);
    padding: 0.5em 1em;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

/* Lists */
.skin-tgui .mw-content-ltr,
.skin-tgui .mw-content-rtl {
  ul,
  ol {
    margin: 0 0 0 1.5rem;
    padding: 0;

    li {
      margin-bottom: 0.1lh;

      &:last-child {
        margin: 0;
      }
    }

    ul,
    ol {
      margin: 0 0 0 1rem;
    }
  }

  ol ol {
    list-style: upper-latin;

    ol {
      list-style: lower-latin;
    }
  }

  p {
    + ul,
    + ol {
      margin-top: -0.5lh;
      margin-bottom: 0.5lh;
    }
  }
}
