/*
 * TGUI's common typography rules,
 * including whitespace with `margin` & `padding` and list bullets
 * as part of typographic styles. Iconography wouldn't belong here.
 *
 */

@import "../variables.less";

html {
  font-size: @font-size-root;
}

html,
body {
  font-family: @font-family-sans;
}

pre,
.mw-code {
  line-height: @line-height-code;
}

.mw-jump-link:not(:focus) {
  .mixin-screen-reader-text;
}

/* Use unscoped selector to allow edit sections outside of .mw-body-content and .tgui-body (T160269) */
.mw-editsection,
.mw-editsection-like {
  font-family: @font-family-sans;
}

/* Main content area, including siteNotice, indicators, categories, firstHeading and `.tgui-body`. */
.mw-body {
  // h1's can exist outside of `.mw-body-content` so some heading styles
  // therefore need to be defined in `.mw-body` as well.
  & h1,
  &-content h1,
  &-content h2 {
    margin-bottom: 0.25em;
    line-height: @line-height-heading;
  }

  & h1,
  &-content h1 {
    font-size: @font-size-heading-1;
  }
}

.tgui-body {
  font-size: @font-size-base;
  line-height: @line-height-base;

  h1 {
    margin-top: 1em;
  }

  h2 {
    margin-top: 1em;
    font-size: @font-size-heading-2;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: @line-height-base;
  }

  h3 {
    font-size: @font-size-heading-3;
  }

  h3,
  h4 {
    font-weight: bold;
  }

  h4,
  h5,
  h6 {
    font-size: @font-size-reset; // Reset.
  }

  .toc h2 {
    font-family: @font-family-sans;
    font-size: @font-size-reset; // Reset.
  }

  p {
    margin: 0.5em 0;
  }

  blockquote {
    border-left: @border-start-blockquote;
    padding: @padding-blockquote;

    // Ensure not to inherit whitespace mashing margins on child elements.
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

// External links
// Use of `a` element selector for limiting generic class scope due to `.external` widespread usage.
.mw-parser-output a.external {
  background-image: url(images/link-external-small-ltr-progressive.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.85em;
  padding-right: 1em;
}
